<?xml version="1.0" encoding="UTF-8"?>
<!--a  edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User)  a-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>quartz applicationContext pool</description>

	<bean id="custOrderReserveCronJob1"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.demojob.ReserveCustOrderEffectCornJob" />
		<property name="group" value="custOrderReserveThreadPool1" />
		<property name="durability" value="true" />
	</bean>
	<bean id="custOrderReserveCronTrigger1"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="custOrderReserveCronJob1" />
		<property name="group" value="custOrderReserveThreadPool1" />
		<property name="name" value="custOrderReserveTrigger1" />
		<property name="cronExpression" value="1 1,2 1 * * ?" />
	</bean>

	<bean id="custOrderReserveStdScheduler1"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		
		<property name="autoStartup" value="false" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz-tddemo.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="custOrderReserveCronTrigger1" />
			</list>
		</property>
		<property name="schedulerName" value="custOrderReserveStdScheduler1"/>
	</bean>
</beans>
