<div dojoType="unieap.layout.ContentPane" id="aaaaaaaa">

	
<table border="0" cellpadding="0" cellspacing="0" class="tableLevel2"  width="100%">
			<tr class="tableTitleTR2">
				<td colspan="3"><table width="100%" border="0" cellpadding="0"
						cellspacing="0">
						<tr>
							<td class="tl2_title">
								账户信息
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="formTableL">&#160;</td>
				<td class="formTableC">
			        <table align="center" border="0" cellpadding="0" cellspacing="0" class="formTableCore"  width="100%">
			        
						<tr>
							<td colspan="8">
								<div dojoType="unieap.grid.Grid"
									edit="{editType:'rowEdit',singleClickEdit:true}"
									binding="{store:'accountItemGridDatastore'}" height="auto"
									id="accountItemGrid" trigger="true">
									<header>
										<cell label="账户编号" width="20%" name="accountId"></cell>
										<cell label="账户名称" width="20%" name="accountName"
											editor="{textValidate:true,editorClass:'unieap.form.TextBox', editorProps:{value:'',title:'账户名称',required:'true'}}"></cell>
										<cell label="首次预存" width="20%" name="accountFeeShow"
											editor="{editorClass:'unieap.form.NumberTextBox', editorProps:{maxLength:'10',value:'0',displayFormatter:{declaredClass:'unieap.form.NumberDisplayFormatter',dataFormat:''},inputFilter:{filterRule:/\d/},title:'首次预存',required:'true'}}"></cell>
										<cell label="储值号码" width="19%" name="defaultProdInstId"
											editor="{textValidate:true,editorClass:'unieap.form.ComboBox', editorProps:{textValidate:'true',dataProvider:{'store':'accessProdInfoListDatastore'},title:'储值号码',required:'true',hasDefault:'true'}}"></cell>
										<cell label="付款电话" width="20%" name="accountTel"
											editor="{textValidate:true,editorClass:'unieap.form.ComboBox', editorProps:{textValidate:'true',dataProvider:{'store':'accountServiceInfoListDatastore'},title:'付款电话',required:'true',hasDefault:'true'}}"></cell>
										
									</header>
								</div>
							</td>
						</tr>
					</table>
				</td>	
					<td class="formTableR">
						&#160;
					</td>
				</tr>
				<tr>
					<td class="formTableB">
						&#160;
					</td>
					<td class="formTableB">
						&#160;
					</td>
					<td class="formTableB">
						&#160;
					</td>
				</tr>
			</table>

		<table border="0" cellpadding="0" cellspacing="0" class="tableLevel2"  width="100%">
			<tr class="tableTitleTR2">
				<td colspan="3"><table width="100%" border="0" cellpadding="0"
						cellspacing="0">
						<tr>
							<td class="tl2_title">
								支付关系
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="formTableL">&#160;</td>
				<td class="formTableC">
			        <table align="center" border="0" cellpadding="0" cellspacing="0" class="formTableCore"  width="100%">
			       		<tr style="display:none">
							<td class="formLabel"  width="10%">账户信息：</td>
							<td colspan="7" width="90%"><div id="accountInfoCheckBoxGroup" cols="4" labelAlign="right" 
									dojoType="unieap.form.CheckBoxGroup" width="90%" title="账户信息"></div>
							</td>
						</tr>
						<tr  style="display:none">
							<td class="formLabel" width="10%">号码信息：</td>
							<td colspan="7" width="90%"><div id="serviceInfoCheckBoxGroup" cols="4" labelAlign="right" 
									dojoType="unieap.form.CheckBoxGroup" width="90%"
									dataProvider="{'store':'serviceInfoListDatastore'}"
									binding="{store:'serviceInfoListDatastore'}"></div>
							</td>
						</tr>
						<tr>
						
							<td colspan="8">
								<div dojoType="unieap.grid.Grid"
									edit="{editType:'rowEdit',singleClickEdit:true}"
									binding="{store:'payRelationGridDatastore'}" height="auto"
									id="payRelationGrid" trigger="true">
									<header>
										<cell label="号码信息" width="19%" name="serviceInfoIndex"
											decoder="{store:'serviceInfoListDatastore',valueAttr:'CODEVALUE',displayAttr:'CODENAME'}"></cell>
										<cell label="账户编号" width="19%" name="accountId"></cell>
										<cell label="账目类型组" width="8%" name="acctItemTypeGroupId"
											editor="{textValidate:true,editorClass:'unieap.form.ComboBox', editorProps:{textValidate:'true',dataProvider:{'store':'accTypeGroupColl'},title:'账目类型组',required:'true',hasDefault:'true'}}"></cell>
										<cell label="支付额度类型" width="8%" name="paymentLimitType"
											editor="{textValidate:true,editorClass:'unieap.form.ComboBox', editorProps:{textValidate:'true',dojoAttachEvent:'onChange:showPaymentFormat',dataProvider:{'store':'paymentTypeColl'},title:'支付额度类型',required:'true',hasDefault:'true'}}"></cell>
										<cell label="支付额度" width="8%" name="paymentLimit"
											editor="{editorClass:'unieap.form.NumberTextBox', editorProps:{maxLength:'10',value:'0',displayFormatter:{declaredClass:'unieap.form.NumberDisplayFormatter',dataFormat:''},inputFilter:{filterRule:/\d/},title:'支付额度'}}"></cell>
										<cell label="优先级" width="8%" name="priority"
											editor="{textValidate:true,editorClass:'unieap.form.ComboBox', editorProps:{dataProvider:{'store':'priorityColl'},title:'优先级',required:'true',hasDefault:'true'}}"></cell>
										<cell label="是否默认账务关系" width="10%" name="ifDefaultAcctId"
											formatter="orderaccept.prodofferaccept.widget.payrelation.PayRelationWidget.ifDefaultFormatter"
											editor="{textValidate:true,editorClass : 'unieap.form.RadioButton',editorProps : {	checkedValue : '1',	uncheckedValue : '0',	checked : 'true'}}"></cell>
									</header>
								</div>
							</td>
						</tr>
					</table>
				</td>	
					<td class="formTableR">
						&#160;
					</td>
				</tr>
				<tr>
					<td class="formTableB">
						&#160;
					</td>
					<td class="formTableB">
						&#160;
					</td>
					<td class="formTableB">
						&#160;
					</td>
				</tr>
			</table>
</div>