<div dojoType="unieap.layout.ContentPane" id="aaaaaaaa">

<div  id="payRelationMainDiv">	
	<UL class=tab-header-ctn>
	<LI style="" id="newAccountTab" class="showNewAccountTab selected-header" name="header"><A>新建账户信息</A></LI>
	<LI style="" id="inheritAccountTab" class="showInheritAccountTab test" name="header" ><A>继承账户信息</A></LI>
	</UL>
	<div class="tab-content-ctn">
	<div dojoType="unieap.layout.ContentPane"  id="newAccountPane">
		<form dojoType="unieap.form.Form" id="newAccountForm" binding="{store:'newAccount',bindIndex:1}">
		
		<table border="0" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<td class="formTableC">

		<table align="center" border="0" cellpadding="0" class="formTableCore" >
			<tr style="display: none"><td>
						<div dojoType="unieap.form.TextBox" trim="true" id="accountId" binding="{name:'accountId'}" 
							title="账户标识" required="true" width="90%"></div>
						<div dojoType="unieap.form.TextBox" trim="true" binding="{name:'operKind'}"
							title="账户操作类型"  required="true" width="90%"></div></td></tr>
			<tr>
				<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>账户名称：</td>
					<td width="15%">
						<div dojoType="unieap.form.TextBox" trim="true" binding="{name:'accountName'}"
							title="账户名称" maxLength="128" required="true" width="90%"></div>
					</td>
					<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>储值方式：</td>
					<td width="15%">
						<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
							id="accoWay" binding="{name:'accoWay'}"
							dataProvider="{'store':'payWayColl'}"
							dataFilter="{searchAttr:['CODENAME'],spellAttr:'py'}"
							required="true" hasDefault='true' width="90%" title="储值方式"
							dojoAttachEvent="onChange:accoWayChange"></div>
					</td>
					<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>预存款(元)：</td>
					<td width="15%">
						<div dojoType="unieap.form.TextBox" trim="true" binding="{name:'accountFee'}"
							id="accountFee" title="预存款" maxLength="12" required="true"
							inputFilter="{filterRule:/[0-9]|\./}"
							validator="{regExp:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/,errorMsg:'只能输入有效金额'}"
							displayFormatter="{declaredClass:'unieap.form.NumberDisplayFormatter',dataFormat:'###,###.00'}"
							width="90%"></div>
					</td>
					<td class="formLabel" width="10%">付款号码：</td>
					<td width="15%">
						<div dojoType="unieap.form.ComboBox" trim="true" id="accountTel"
							 hasDefault='true' textValidate='true'  width="90%" title="付款号码"></div>
					</td>
				</tr>
				<tr>
					<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>是否默认帐户：</td>
					<td width="15%">
						<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
							id="ifDefault" binding="{name:'ifDefault'}"
							dataProvider="{'store':'ifDefaultColl'}" title="是否默认帐户"
							hasDefault='true' required="true" width="90%"></div>
					</td>
					<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>是否信控：</td>
					<td width="15%">
						<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
							id="creditControl" dataProvider="{'store':'ifCreditControlColl'}"
							title="是否信控" hasDefault='true' required="true" width="90%"></div>
					</td>
					<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>付款周期：</td>
					<td width="15%">
						<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
							id="payCycle" dataProvider="{'store':'payCycleColl'}"
							title="付款周期" hasDefault='true' required="true" width="90%"></div>
					</td>
					<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>归属区域级别：</td>
					<td width="15%">
						<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
							id="accountAreaGrade" dataProvider="{'store':'accountLevel'}"
							hasDefault='true' required="true" width="90%" title="归属区域级别"
							dojoAttachEvent="onChange:accountAreaGradeChange"></div>
					</td>
				</tr>
				<tr id="bankInfo1" style="display: none"> 
				<td class="formLabel" width="10%">银行名称：</td> 
				<td width="15%"> 
					<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true' id="nkId" dataProvider="{'store':'bankTypeColl'}" dataFilter="{searchAttr:['CODENAME'],spellAttr:'py'}"  dojoAttachEvent="onChange:nkIdChange" width="90%" title="银行名称"></div> 
				</td> 
				<td class="formLabel" width="10%">银行帐号</td> 
				<td width="15%"> 
					<div dojoType="unieap.form.TextBox" trim="true" binding="{name:'nkAccount'}" id="nkAccount" maxLength="32" width="90%" title="银行帐号"></div> 
				</td> 
				<td class="formLabel" width="10%">开户名</td> 
				<td width="15%"> 
					<div dojoType="unieap.form.TextBox" trim="true" id="countName" binding="{name:'countName'}" maxLength="64" title="开户名" width="90%"></div> 
				</td> 
				<td class="formLabel" width="10%">托收行使用区域</td> 
				<td width="15%"> 
					<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true' id="belongCodeBC" dataProvider="{'store':'belongCodeColl'}" dataFilter="{searchAttr:['CODENAME'],spellAttr:'py'}" dojoAttachEvent="onChange:belongCodeBCChange" title="托收行使用区域" width="90%"></div> 
				</td>
				</tr>
				<tr id="bankInfo2" style="display: none"> <td class="formLabel" width="10%">托收行：</td> <td width="15%"> <div dojoType="unieap.form.ComboBox" trim="true" textValidate='true' id="nkCharge" hasDefault="true" width="90%" title="托收行"></div> </td> <td class="formLabel" width="10%">托收协议</td> <td width="15%"> <div dojoType="unieap.form.TextBox" trim="true" id="reementNo" binding="{name:'reementNo'}" maxLength="128" title="托收协议" width="90%"></div> </td> <td class="formLabel" width="10%">&nbsp;</td> <td width="15%">&nbsp;</td> <td class="formLabel" width="10%">&nbsp;</td> <td width="15%">&nbsp;</td>
				</tr>
				<tr id="payMethodName" style="display: none"> 
						<td class="formLabel" width="10%">集团收费方式：</td> 
						<td width="15%"> 
						<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true' id="groupPayWay" dataProvider="{'store':'groupPayWay'}"  title="集团收费方式" hasDefault='true' required="true" width="90%"></div> 
						</td> 
						<td>&nbsp;</td> 
						<td>&nbsp;</td> 
						<td>&nbsp;</td> 
						<td>&nbsp;</td> 
						<td>&nbsp;</td> 
						<td>&nbsp;</td>
				</tr>
			<tr> 
				<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>储值号码：</td> 
				<td width="15%"> 
				<div dojoType="unieap.form.ComboBox" trim="true" id="defaultProdInstId" hasDefault='true'  required="true" textValidate='true' title="储值号码" width="90%"></div></td>
				<td class="formLabel" width="10%">&nbsp;</td>
				<td width="15%">&nbsp;</td>
				<td class="formLabel" width="10%">&nbsp;</td>
				<td width="15%">&nbsp;</td>
				<td class="formLabel" width="10%">&nbsp;</td>
				<td width="15%" align="center">
						<input type="button" class="formButton" name="addNewAccount" id="addNewAccount" value="增加新账户" dojoAttachEvent="onclick:addNewAccount" />
					</td>
				</tr>
				
			</table>
				</td>
			</tr>
		</table>
		</form>
	</div>
	
	<div dojoType="unieap.layout.ContentPane" id="inheritAccountPane" height="30%" hidden="true">
			<table border="0" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<td class="formTableC">

		<table align="center" border="0" cellpadding="0" class="formTableCore">
			<tr>
				<td class="formLabel" width="10%">查询方式：<input
					type="hidden" name="listAccountId" id="listAccountId" value="" />
					<input type="hidden" name="listAccountName" id="listAccountName"
					value="" /></td>
				<td colspan="9"  width="90%">
				<div  id="customerAcountQueryFlag" cols="2"  labelAlign="right" dojoType="unieap.form.RadioButtonGroup" 
				value="1" dataProvider="{'store':'customerAcountQueryColl'}" dojoAttachEvent="onChange:customerAcountQueryFlagChange" ></div>
				</td>
				
			</tr>
			<tr id="custQueryFlag">
				<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>地市：</td>
				<td width="10%">
					<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
						id="queryAccountCustomerCityCode" dataProvider="{'store':'cityCodeColl'}" title="地市"
						hasDefault='true' required="true" width="90%"></div>
				</td>
				<td class="formLabel" width="10%">客户名称：</td>
				<td width="10%">
					<div dojoType="unieap.form.TextBox" trim="true" id="firstNameQuery"
						binding="{name:'firstNameQuery'}" title="客户名称" maxLength="128"
						width="90%"></div>
				</td>
				<td class="formLabel" width="10%">证件类型：</td>
				<td width="10%">
					<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
						id="identityKindQuery" binding="{name:'identityKindQuery'}"
						dataProvider="{'store':'mainIdentityKindColl'}"
						hasDefault='true' width="90%"></div>
				</td>
				<td class="formLabel" width="10%">证件号码：</td>
				<td width="10%"><div dojoType="unieap.form.TextBox" trim="true"
						id="identityCodeQuery" binding="{name:'identityCodeQuery'}"
						title="证件号码" maxLength="30" width="90%"></div></td>
				
				<td width="20%" colspan="2" align="center">
				<input type="button" class="formButton"
					name="accountQuery" id="accountQuery" value="查询"
					dojoAttachEvent="onclick:queryCustAccountInfo" /></td>
						
			</tr>
			<tr id="serviceIdQueryFlag" style="display: none">
				<td class="formLabel" width="10%"><SPAN class=formRequested>*</SPAN>地市：</td>
				<td width="10%">
					<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
						id="queryAccountServiceCityCode" dataProvider="{'store':'cityCodeColl'}" title="地市"
						hasDefault='true' required="true" width="90%"></div></div>
				</td>
				<td class="formLabel" width="10%">产品实例号码：</td>
				<td width="10%"><div dojoType="unieap.form.TextBox" trim="true"
						id="accountQueryServiceId" binding="{name:'phoneNumber'}"
						title="产品实例号码" maxLength="30"
						dojoAttachEvent="onChange:accountQueryServiceIdChange" width="90%"></div></td>
				<td class="formLabel" width="10%">产品名称：</td>
				<td width="10%">
					<div dojoType="unieap.form.ComboBox" trim="true" textValidate='true'
						id="accountQueryProductId"
						dataProvider="{'store':'accountQueryProductIdColl'}" title="产品名称"
						hasDefault='true' width="90%"></div>
				</td>
				<td class="formLabel" width="10%">&nbsp;</td>
				<td width="10%">&nbsp;</td>
				<td width="20%" colspan="2" align="center">
				<input type="button" class="formButton"
					name="accountQuery" id="accountQuery" value="查询"
					dojoAttachEvent="onclick:queryCustAccountInfo" /></td>
			</tr>
			<tr>
				<td colspan="10">
					<div dojoType="unieap.layout.ContentPane"
						id="inheritAccountListPane" width="98%"></div>
				</td>
			</tr>
			
		</table>
			</td>
			</tr>
		</table>
	</div>
		</div>
	<div dojoType="unieap.layout.ContentPane" title="支付信息"
		id="accountRelationPane" width="100%">

		<table border="0" cellpadding="0" cellspacing="0" class="tableLevel2"  width="100%">
			<!-- 表格标题行-->
			<tr class="tableTitleTR2">
				<td colspan="3"><table width="100%" border="0" cellpadding="0"
						cellspacing="0">
						<tr>
							<td class="tl2_title">
								支付关系
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="formTableL">&#160;</td>
				<td class="formTableC">
			        <table align="center" border="0" cellpadding="0" cellspacing="0" class="formTableCore"  width="100%">
						<tr>
							<td class="formLabel"  width="10%">账户信息：</td>
							<td colspan="7" width="90%"><div id="accountInfoCheckBoxGroup" cols="2" labelAlign="right" 
									dojoType="unieap.form.CheckBoxGroup" width="90%" title="账户信息"></div>
							</td>
						</tr>
						<tr>
							<td class="formLabel" width="10%">号码信息：</td>
							<td colspan="7" width="90%"><div id="serviceInfoCheckBoxGroup" cols="2" labelAlign="right" 
									dojoType="unieap.form.CheckBoxGroup" width="90%"
									dataProvider="{'store':'serviceInfoListDatastore'}"
									binding="{store:'serviceInfoListDatastore'}"></div>
							</td>
						</tr>
						<tr>
							<td colspan="8">
								<div dojoType="unieap.grid.Grid"
									edit="{editType:'rowEdit',singleClickEdit:true,onBeforeEdit:orderaccept.prodofferaccept.widget.payrelation.PayRelationWidget.payRelationGridBeforeEdit}"
									binding="{store:'payRelationGridDatastore'}" height="auto"
									id="payRelationGrid" trigger="true">
									<header>
										<cell label="号码信息" width="19%" name="serviceInfoIndex"
											decoder="{store:'allServiceInfoListDatastore',valueAttr:'CODEVALUE',displayAttr:'CODENAME'}"></cell>
										<cell label="账户信息" width="19%" name="accountId"
											decoder="{store:'accountInfoListDatastore',valueAttr:'CODEVALUE',displayAttr:'CODENAME'}"></cell>
										<cell label="账目类型组" width="8%" name="acctItemTypeGroupId"
											editor="{textValidate:true,editorClass:'unieap.form.ComboBox', editorProps:{textValidate:'true',dataProvider:{'store':'accTypeGroupColl'},title:'账目类型组',required:'true',hasDefault:'true'}}"></cell>
										<cell label="支付额度类型" width="8%" name="paymentLimitType"
											editor="{textValidate:true,editorClass:'unieap.form.ComboBox', editorProps:{textValidate:'true',dojoAttachEvent:'onChange:showPaymentFormat',dataProvider:{'store':'paymentTypeColl'},title:'支付额度类型',required:'true',hasDefault:'true'}}"></cell>
										<cell label="支付额度" width="8%" name="paymentLimit"
											editor="{editorClass:'unieap.form.NumberTextBox', editorProps:{maxLength:'10',value:'0',displayFormatter:{declaredClass:'unieap.form.NumberDisplayFormatter',dataFormat:''},inputFilter:{filterRule:/\d/},title:'支付额度'}}"></cell>
										<cell label="优先级" width="8%" name="priority"
											editor="{textValidate:true,editorClass:'unieap.form.ComboBox', editorProps:{dataProvider:{'store':'priorityColl'},title:'优先级',required:'true',hasDefault:'true'}}"></cell>
										<cell label="是否默认账务关系" width="10%" name="ifDefaultAcctId"
											formatter="orderaccept.prodofferaccept.widget.payrelation.PayRelationWidget.ifDefaultFormatter"
											editor="{textValidate:true,editorClass : 'unieap.form.RadioButton',editorProps : {	checkedValue : '1',	uncheckedValue : '0',	checked : 'true'}}"></cell>
										<cell width="10%" label="操作" name="operation"
											formatter="orderaccept.prodofferaccept.widget.payrelation.PayRelationWidget.deleteBottonFormatter"></cell>
									</header>
								</div>
							</td>
						</tr>
					</table>
				</td>	
					<td class="formTableR">
						&#160;
					</td>
				</tr>
				<tr>
					<td class="formTableB">
						&#160;
					</td>
					<td class="formTableB">
						&#160;
					</td>
					<td class="formTableB">
						&#160;
					</td>
				</tr>
			</table>
</div>

	</div>
</div>