.fieldset_form {
	background-color: #f4f9ff;
	padding: 2px;
}
.treePanel{
	float:left;
	width:250px;
}
.tabmenu ul li{
	display: inline;
	margin-left: 1px;	
}

.tabmenu ul{
	list-style: none;
	margin-left: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

li.on{
	cursor:hand;
	border:1px solid #96c2f1;
	border-bottom:0px;
	background-color: #b2d3f5;
}
li.out{
    border:1px solid #96c2f1;
    cursor: hand;
}
.prodOfferDetail{
	color:#000080;
	margin-left:2px;
}