<?xml version="1.0" encoding="UTF-8"?>
<!--a  edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User)  a-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>quartz applicationContext pool</description>

	<bean id="orderReserveCronJob1"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.demojob.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool1" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger1"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob1" />
		<property name="group" value="orderReserveThreadPool1" />
		<property name="name" value="orderReserveTrigger1" />
		<property name="cronExpression" value="1/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler1"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
	
		<property name="autoStartup" value="false" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz-tddemo.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger1" />
			</list>
		</property>
		<property name="schedulerName" value="orderReserveStdScheduler1"/>
	</bean>
<!-- 
	<bean id="orderReserveCronJob2"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool2" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger2"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob2" />
		<property name="group" value="orderReserveThreadPool2" />
		<property name="name" value="orderReserveTrigger2" />
		<property name="cronExpression" value="2/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler2"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config2.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger2" />
			</list>
		</property>
	</bean>
	
	<bean id="orderReserveCronJob3"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool3" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger3"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob3" />
		<property name="group" value="orderReserveThreadPool3" />
		<property name="name" value="orderReserveTrigger3" />
		<property name="cronExpression" value="3/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler3"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config3.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger3" />
			</list>
		</property>
	</bean>
	
	<bean id="orderReserveCronJob4"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool4" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger4"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob4" />
		<property name="group" value="orderReserveThreadPool4" />
		<property name="name" value="orderReserveTrigger4" />
		<property name="cronExpression" value="4/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler4"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config4.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger4" />
			</list>
		</property>
	</bean>
	
	<bean id="orderReserveCronJob5"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool5" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger5"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob5" />
		<property name="group" value="orderReserveThreadPool5" />
		<property name="name" value="orderReserveTrigger5" />
		<property name="cronExpression" value="5/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler5"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config5.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger5" />
			</list>
		</property>
	</bean>
	
	<bean id="orderReserveCronJob6"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool6" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger6"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob6" />
		<property name="group" value="orderReserveThreadPool6" />
		<property name="name" value="orderReserveTrigger6" />
		<property name="cronExpression" value="6/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler6"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config6.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger6" />
			</list>
		</property>
	</bean>
	
	<bean id="orderReserveCronJob7"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool7" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger7"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob7" />
		<property name="group" value="orderReserveThreadPool7" />
		<property name="name" value="orderReserveTrigger7" />
		<property name="cronExpression" value="7/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler7"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config7.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger7" />
			</list>
		</property>
	</bean>
	
	<bean id="orderReserveCronJob8"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool8" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger8"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob8" />
		<property name="group" value="orderReserveThreadPool8" />
		<property name="name" value="orderReserveTrigger8" />
		<property name="cronExpression" value="8/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler8"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config8.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger8" />
			</list>
		</property>
	</bean>
	
	<bean id="orderReserveCronJob9"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool9" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger9"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob9" />
		<property name="group" value="orderReserveThreadPool9" />
		<property name="name" value="orderReserveTrigger9" />
		<property name="cronExpression" value="9/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler9"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config9.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger9" />
			</list>
		</property>
	</bean>
	
	<bean id="orderReserveCronJob10"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool10" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger10"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob10" />
		<property name="group" value="orderReserveThreadPool10" />
		<property name="name" value="orderReserveTrigger10" />
		<property name="cronExpression" value="10/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler10"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config10.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger10" />
			</list>
		</property>
	</bean>
		
	<bean id="orderReserveCronJob11"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ReserveEffectCornJob" />
		<property name="group" value="orderReserveThreadPool11" />
		<property name="durability" value="true" />
	</bean>
	<bean id="orderReserveCronTrigger11"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderReserveCronJob11" />
		<property name="group" value="orderReserveThreadPool11" />
		<property name="name" value="orderReserveTrigger11" />
		<property name="cronExpression" value="11/5 * * * * ?" />
	</bean>

	<bean id="orderReserveStdScheduler11"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/reserveoperate/quartz_config11.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="orderReserveCronTrigger11" />
			</list>
		</property>
	</bean>
 -->
</beans>
