<!-- table的样式 -->
.ListBoxTabStyleDef{
	font-family:宋体;
	font-size:12px;
	background-color:#F4F4F4;
	border-color:#FFFFFF
	
}
<!-- 标题的样式 -->
.listBoxTitleStyleDef{
	font-family:宋体;
	font-size:13px;
	color:blue;
}
<!-- 下拉框的样式 -->
.ListBoxStyleDef{
   
}
<!-- 向左移动按钮的样式 -->
.ListBoxLeftBtnStyleDef{
 	 cursor:hand;
 	 background-image: url(images/left.gif);
 	 border:0;
 	 font-size:9pt;
 	 width:40px;
 	 height:20px;
}
<!-- 向左移动按钮的不可用样式 -->
.ListBoxLeftBtnDisabledStyleDef{
 	 cursor:hand;
 	 background-image: url(images/disleft.gif);
 	 border:0;
 	 font-size:9pt;
 	 width:40px;
 	 height:20px;
}
<!-- 向右移动按钮的样式 -->
.ListBoxRightBtnStyleDef{
 	 cursor:hand;
 	 background-image: url(images/right.gif);
 	 border:0;
 	 font-size:9pt;
 	 width:40px;
 	 height:20px;
}
<!-- 向右移动按钮的不可用样式 -->
.ListBoxRightBtnDisabledStyleDef{
 	 cursor:hand;
 	 background-image: url(images/disright.gif);
 	 border:0;
 	 font-size:9pt;
 	 width:40px;
 	 height:21px;
}
<!-- 定位输入域的样式 -->
.ListBoxLocationStyleDef{
 	
 	 font-size:9pt;
}
<!-- 向右全移动按钮的样式 -->
.ListBoxFullRightBtnStyleDef{
 	 cursor:hand;
 	 background-image: url(images/fullright.gif);
 	 border:0;
 	 font-size:9pt;
 	 width:40px;
 	 height:21px;
}
<!-- 向右全移动按钮的不可用样式 -->
.ListBoxFullRightBtnDisabledStyleDef{
 	 cursor:hand;
 	 background-image: url(images/disfullright.gif);
 	 border:0;
 	 font-size:9pt;
 	 width:40px;
 	 height:21px;
}
<!-- 向左全移动按钮的样式 -->
.ListBoxFullLeftBtnStyleDef{
 	 cursor:hand;
 	 background-image: url(images/fullleft.gif);
 	 border:0;
 	 font-size:9pt;
 	 width:40px;
 	 height:21px;
}
<!-- 向左全移动按钮的不可用样式 -->
.ListBoxFullLeftBtnDisabledStyleDef{
 	 cursor:hand;
 	 background-image: url(images/disfullleft.gif);
 	 border:0;
 	 font-size:9pt;
 	 width:40px;
 	 height:21px;
}