<?xml version="1.0" encoding="UTF-8"?>
<!--a  edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User)  a-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>quartz job alarm</description>	

	<bean id="alarmJob"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.neusoft.tdframework.quartz.job.AlarmJob" />
		<property name="group" value="server1" />
	</bean>	
	<bean id="alarmCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="alarmJob" />
		<property name="name" value="alarmTrigger" />
		<property name="group" value="server1" />
		<property name="cronExpression" value="0/30 * * * * ?" />
	</bean>	
	<bean id="alarmScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >

		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz-tddemo.properties" />
		<property name="startupDelay" value="10"/>
		<property name="triggers">
			<list>
				<ref bean="alarmCronTrigger" />
			</list>
		</property>
	</bean>	
</beans>
