/**
 * @summary:
 * 		设置功能导航下拉按钮的样式  总的外观
 * @widget:
 * 		{unieap.form.Button}
 */
.unieap .u-form-dropBtn{
	margin:0px;
	padding: 0px;		
	height: 19px;
	border: 0px solid #7f9db9; 	
	background:#dddddd ;
	overflow:hidden;	
	vertical-align:middle;
	display : inline-block;
	position:relative;
	white-space:nowrap;
	outline:none;
	width: 16px; 
}
/**
 * @summary:
 * 		设置功能导航下拉按钮的样式  前半部按钮的外观
 * @widget:
 * 		{unieap.form.Button}
 */
.unieap a.u-form-btn-outer,
.unieap a.u-form-btn-outer-disabled{
	display:inline-block;
	width: 20px; 
	background:transparent;
	border:0px solid #7f9db9;
	
}

.unieap a.u-form-btn-outer-portal {
	display:inline-block;
	width: 20px; 
	height: 21px;
	vertical-align:top;
	background:transparent;
	border:0px solid #7f9db9;
}
<!-- 
.unieap a.u-form-btn-outer-portal-close {
	display:inline-block;
	width: 20px; 
	height: 21px;
	background:transparent;
	border:0px solid #7f9db9;
	background: transparent url("../images/portal_close.png") no-repeat;
	background: transparent url("../images/portal_mini.png") no-repeat;
}
-->


.unieap .u-form-btn-portal{
	background:transparent;
	height:20px;
	white-space:normal;
	cursor:pointer;
	vertical-align:top;
	border:none;
	outline:none;
	display:block;
}
/**
 * @summary:
 * 		设置功能导航下拉按钮的样式  后半部下拉按钮的外观   
        只显示下拉箭头 
 */
.unieap .u-form-dropBtn-icon{
	vertical-align:top;
	border-left: 0px solid #7f9db9; 
	width: 20px; 
	height: 20px; 
	overflow:auto;
	text-decoration : none;
	outline:none;
}
/**
 * @summary:
 * 		设置功能导航下拉按钮的样式  后半部下拉按钮图片的外观
 */
.unieap .u-form-dropBtn-icon-normal {
	background: transparent url("../images/portal_list.png") no-repeat;
}

.unieap .u-titlepane-title {
	background-image:url(../images/titlebg.png);
	border:1px #bfbfbf solid;
	background-repeat: no-repeat;
	background-position: right;
} 

/****************************************************************************************************/
.unieap .u-menu-table{
	border:1px solid #7f9db9;
	margin:0;
	width : 200px;
	font:12px Verdana;	
	table-layout:fixed;
}
.unieap .u-menu-itemLabel{
	position : relative;
	white-space:nowrap;
	padding : 5px 0px 1px 2px;
}

.iconBtnClose{
			display:inline-block;
			margin:0px;
	        padding: 0px;
	        vertical-align:top;
			width:40px;
			height:20px;
			background:url("../images/portal_close.png") no-repeat;
}

.iconBtnMin{
			display:inline-block;
			margin:0px;
	        padding: 0px;
	        vertical-align:top;
			width:40px;
			height:20px;
			background:url("../images/portal_mini.png") no-repeat;
}

.iconBtnMax{
			display:inline-block;
			margin:0px;
	        padding: 0px;
	        vertical-align:top;
			width:40px;
			height:20px;
			background:url("../images/portal_max.png") no-repeat;
}
.iconBtnRefleshEvery{
			display:inline-block;
			margin:0px;
	        padding: 0px;
	        vertical-align:top;
			width:40px;
			height:20px;
			background:url("../images/portal_refresh_every.png") no-repeat;
}
.iconBtnOpenDialog{
			display:inline-block;
			margin:0px;
	        padding: 0px;
	        vertical-align:top;
			width:40px;
			height:20px;
			background:url("../images/portal_win.png") no-repeat;
}
.iconPortaletTitle{
			display:none;
}

.unieap .u-titlepane-title {
	background-image:url(../images/titlebg.png);
	border:1px #bfbfbf solid;
	background-repeat: no-repeat;
	background-position: right;
	height:25px;
	vertical-align:middle;
}
.unieap .u-titlepane-titlenode {
	color:#2b2b2b;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:12px;
	font-weight: normal;
	vertical-align:middle;
}

.unieap .u-titlepane-content-outer {
	border:1px #bfbfbf solid;
	border-top:none;
	background-color : #FFF;
	background-repeat:repeat-x;	
} 

.dijitButtonNode {
	
	border:0px solid gray;
	margin:0;
	line-height:normal;
	vertical-align: middle;
	#vertical-align: auto;
	text-align:center;
	white-space: nowrap;
}


<!-- ######################################################### -->
.dijitTabContainerNoLayout {
	width: 100%;	
}
.dijitTabContainerBottom-tabs,
.dijitTabContainerTop-tabs,
.dijitTabContainerLeft-tabs,
.dijitTabContainerRight-tabs {
	overflow: visible !important;  
}
.dijitTabContainerBottom-container,
.dijitTabContainerTop-container,
.dijitTabContainerLeft-container,
.dijitTabContainerRight-container {
	z-index:0;
	overflow: hidden;
	border: 1px solid black;
}
.nowrapTabStrip {
	width: 50000px;
	display: block;
	position: relative;
}
.dijitTabListWrapper {
	overflow: hidden;
}
.dijit_a11y .tabStripButton img {
	
	display: none;
}
.dijitTabContainerTop-tabs {
	border-bottom: 1px solid black;
}
.dijitTabContainerTop-container {
	border-top: 0;
}
.dijitTabContainerLeft-tabs {
	border-right: 1px solid black;
	float: left;
}
.dijitTabContainerLeft-container {
	border-left: 0;
}
.dijitTabContainerBottom-tabs {
	border-top: 1px solid black;
}
.dijitTabContainerBottom-container {
	border-bottom: 0;
}
.dijitTabContainerRight-tabs {
	border-left: 1px solid black;
	float: left;
}
.dijitTabContainerRight-container {
	border-right: 0;
}
DIV.dijitTabDisabled, .dj_ie DIV.dijitTabDisabled {
	cursor: auto;
}
.dijitTab {
	position:relative;
	cursor:pointer;
	white-space:nowrap;
	z-index:3;
}
.dijitTab * {
	
	vertical-align: middle;
}
.dijitTabChecked {
	cursor: default;	
}
.dijitTabContainerTop-tabs .dijitTab {
	top: 1px;	
}
.dijitTabContainerBottom-tabs .dijitTab {
	top: -1px;	
}
.dijitTabContainerLeft-tabs .dijitTab {
	left: 1px;	
}
.dijitTabContainerRight-tabs .dijitTab {
	left: -1px;	
}
.dijitTabContainerTop-tabs .dijitTab,
.dijitTabContainerBottom-tabs .dijitTab {
	
	display:inline-block;			
	#zoom: 1; 
	#display:inline; 
}
.dijitTabInnerDiv {
	position:relative;
}
.tabStripButton {
	z-index: 12;
}
.dijitTabButtonDisabled .tabStripButton {
	display: none;
}
.dijitTabCloseButton {
	margin-left: 1em;
}
.dijitTabCloseText {
	display:none;
}
.dijitTab .tabLabel {
	
	min-height: 15px;
	display: inline-block;
}
.dijitNoIcon {
	
	display: none;
}
.dj_ie6 .dijitTab .dijitNoIcon {
	
	display: inline;
	height: 15px;
	width: 1px;
}
.dijit_a11y .dijitTabCloseButton {
	background-image: none !important;
	width: auto !important;
	height: auto !important;
}
.dijit_a11y .dijitTabCloseText {
	display: inline;
}
.dijitTabPane,
.dijitStackContainer-child,
.dijitAccordionContainer-child {
	
    border: none !important;
}

.gridContainerTable{
	width:100%;
	border:0px solid #BFBFBF;
}
