/**
 * @summary:
 * 		设置功能导航下拉按钮的样式  总的外观
 * @widget:
 * 		{unieap.form.Button}
 */
 
.unieap .u-form-dropBtn{
	margin:0px;
	padding: 0px;	
	line-height:21px;	
	height: 21px;
	border: 1px solid #2d83da; 	
	background:#dddddd ;
	overflow:hidden;	
	vertical-align:middle;
	display : block;
	position:relative;
	white-space:nowrap;
	outline:none;
}
/**
 * @summary:
 * 		设置功能导航下拉按钮的样式  前半部按钮的外观
 * @widget:
 * 		{unieap.form.Button}
 */
.unieap a.u-form-btn-outer,
.unieap a.u-form-btn-outer-disabled{
	outline:none;
	background:#e6e7d5;
	background-image:url("../images/main/navi_button_bg.gif");
	background-position: right;
	border: 1px solid #2d83da; 	
	
}

.unieap .u-form-btn {
	background:transparent;
	height:21px;
	white-space:normal;
	cursor:pointer;
	vertical-align:middle;
	border:none;
	outline:none;
	display:none;
}

/**
 * @summary:
 * 		设置功能导航下拉按钮的样式  后半部下拉按钮的外观   
        只显示下拉箭头 
 */
.unieap .u-form-dropBtn-icon{
	vertical-align:top;
	line-height:21px;
	color:#ffffff;
	width: 75px; 
	text-decoration : none;
	border:0px solid #7f9db9;
	height: 21px; 
}

.unieap .u-form-dropBtn-icon-system{
	vertical-align:top;
	line-height:21px;
	color:#ffffff;
	width: 210px; 
	text-decoration : none;
	border:0px solid #7f9db9;
	height: 21px; 
}
/**
 * @summary:
 * 		设置功能导航下拉按钮的样式  后半部下拉按钮图片的外观
 */
.unieap .u-form-dropBtn-icon-normal {
	background: #e6e7d5 url("../images/main/button_header_more.gif") no-repeat;
}

.unieap a:hover.u-form-btn-outer{
	background:url("../images/main/navi_button_bg.gif") no-repeat;
	background-position: right;
}

/************************************************************************************************************/
.unieap .tabContainerTop .tab-scrolling-containerTop {
	height:23px;
	_height:23px;
	background-color:#d3e0f2;
	border-left:0px solid #99bbe8;
	border-right:0px solid #99bbe8;
	background-image:url("../images/main/navi_tab_bg.gif");
}

/************************************************************************************************************/
/**
 * @summary:
 * 		fieldset  
 */
 
.unieap .u-form-fieldset {
	margin-bottom:5px;
	border:1px;
	padding:5px;
	display:inline-block; /*fielset为行内元s1177,设置margin无效,可以将其强制转换为块级元s1177*/
	vertical-align:middle;
	zoom:1;
	background:#ffffff;
	height:'100%';
	
}

.unieap .u-form-fieldset-btn {
	display:none;
}

.unieap .u-form-fieldset-label{
	display:none;
	
}

.unieap .u-form-fieldset-desc{
	display:none;
}

.unieap .dijitClosed .u-form-fieldset-hiddenNode {
	display:none;
}

.unieap .dijitOpen .u-form-fieldset-btn {
	display:none;
}

.unieap .dijitOpen .u-form-fieldset-mouseover .u-form-fieldset-btn {
	display:none;
}

.unieap .dijitClosed .u-form-fieldset-btn {
	display:none;
}

.unieap .dijitClosed .u-form-fieldset-mouseover .u-form-fieldset-btn {
	display:none;
}


.unieap .u-form-fieldset legend {
	color:#000;
	font-size:12px;
}

/*fieldSet 上檐间距*/
.dj_ie .unieap .u-form-fieldset legend {
	margin-bottom:7px;
}

.dj_ie .unieap .u-form-fieldset {
	padding-top:0;
	margin:0px 2px 7px 2px;
}

.dj_ie6 .u-form-fieldset-bwrap {
	zoom:1;
}


/************************************************************************************************************/

/**
*@widget：{unieap.form.TextBox,unieap.form.TextBoxWithIcon}WithIcon
*@summary：定义所有带图标组件的图标样式，通过float定位在容器的最右边
*/
.unieap .u-form-textbox-icon{
	border-left: 0px solid #7f9db9; 
	width: 16px; 
	height: 19px; 
	float: right; 
	overflow:hidden;
	display:;
	text-decoration : none;
	outline:none;
}

.unieap .u-form-textbox-icon-normal {
	background:url("../images/search_icon.gif") no-repeat;
}



/************************************************************************************************************/

.unieap .dijitTreeContainer  table {font-size:12px; }
.unieap .treeCheckBoxReadOnly{
		background-position: -48px;
		/* disabled but checked */
		/*background-position: -32px;*/
}
.unieap .treeLabelDisabled{
	   color:#a7a6aa;
	   text-decoration:line-through;
}
.unieap .treeLabelReadOnly{
	   text-decoration:line-through;
}
/* Tree */
.unieap .treeRenderNode{
	  	line-height:19px;
		display: -moz-inline-box;
		display: inline-block;
		vertical-align: middle;
		border-left:#ffffff solid 0px;
		border-right:#ffffff solid 0px;
		width:auto;
}
.unieap .dijitTreeContainer{
		font:normal normal normal 12px verdana;
}
.unieap .dijitTree {
	margin-left:0px;
	margin-top:0px;
}
.unieap .dijitTreeNode {
	cursor:pointer;
    background-image : url('../images/menuNaviTree/i.gif');
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 20px;
	color:#000000;
}
 
/* left vertical line (grid) for all nodes */
.unieap .dijitTreeIsLast {
    background: background: #ffffff;;
}
.unieap .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}

.unieap .dijitTreeExpando {
    width: 16px;
    height: 16px;
    line-height:19px;
    background-repeat : no-repeat;
}
.unieap .treeRootNode{
	
}

.unieap .dijitTreeContent {
	cursor:pointer;
}
.unieap .dijitTreeExpand {
    width: 16px;
    height: 16px;
    background-repeat : no-repeat;
}
 
/* same style as IE selection */
.unieap .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}

/* don't use :focus due to opera and IE's lack of support on div's */
.unieap .dijitTreeLabel {
	white-space:nowrap;
	padding:0px;
	padding-left:6px;
	margin:0px;
	line-height:18px;
	overflow:hidden;
	zoom:100%;
}
.unieap .dijitTreeLabelFocused {
	
	/*
	background:url(../images/tree/treebg-on.gif);
	background-position:0px 19px;
	color:#959595;
	border-color:#bfd8d7;
	border-left:solid #bfd8d7 1px;
	border-right:solid #bfd8d7 1px;
	hidefocus:true;	
	*/
	background-color:#d8e8fb;
}
.unieap .unieapTreeMouseOver {
	/*
	background:url(../images/tree/treebg-hover.gif);
	background-position:0px 19px;
	border-left: solid #ccd5da 1px;
	border-right:solid #ccd5da  1px;
	*/
	background-color:#eee;
}
.unieap .dijitTreeExpandoOpened {
	background: #ffffff;
	width : 0px;
}
 
.unieap .dijitTreeExpandoClosed {
	background: #ffffff;
	width : 0px;
}
 
.unieap .dijitTreeExpandoLeaf {
	background: #ffffff;
	width : 0px;
}

.unieap .dijitTreeExpandoLoading {
	background: #ffffff;
	width : 0px;
}
.unieap .dijitTreeIcon{
	width: 16px;
	height: 16px;
}

.unieap .dijitFolderOpened {
	background: url('../images/main/folderOpened.gif') no-repeat;
	width : 16px;
}

.unieap .dijitFolderClosed {
	background: url('../images/main/folderClosed.gif') no-repeat;
	width : 16px;
}

.unieap .dijitLeaf {
	background: url('../images/main/leaf.gif') no-repeat;
	width : 16px;
}
.unieap .tabContainerTop-tabs .tab {
	background: #e2e2e2 url("../images/main/enabled-top-ctg.jpg") repeat-x;
}

.unieap .tabContainerTop-tabs .tabChecked {
	background: #fff url("../images/main/selected-top-ctg.jpg") repeat-x;
}

.unieap a:hover.u-a-tabTop {
	background: #e2e2e2 url("../images/main/hover-top-ctg.jpg") repeat-x;
}
