@charset "utf-8";
/* ************************** */
/* ************************** */
/*-----全局样式-----*/

body {
	color:#000000;
	background-color:#FFFFFF;
	font-size:12px;
	margin:0px;
	padding:0px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
}
div {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	margin:0px;
	padding:0px;
	overflow:hidden;
	vertical-align:middle;
}
span {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
}
table {
	padding:0px;
	margin:0px;
}
td {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	vertical-align:middle;
}
P {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	margin:2px;
}
img {
	border:0px;
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
form {
	font-size:12px;
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
BUTTON {
	font-size:12px;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
OPTION {
	font-size:12px;
}
label {
	vertical-align:middle;
}
INPUT {
	font-size:12px;
	width:auto;
	vertical-align:middle;
}
input[type="button"] {
	height:28px;
}
INPUT.text {
	width: 125px;
}
INPUT.radio {
	font-size:12px;
	width: 20px;
}
INPUT.checkbox {
	font-size:12px;
	width: auto;
}
INPUT.dateField {
	font-size:12px;
	width: 108px;
	ime-mode:disabled;
}
SELECT {
	font-size:12px;
	width:133px;
	vertical-align:middle;
}
textarea {
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	overflow:auto;
	width:98%;
	word-wrap:break-word;
	word-break:break-all;
}
LI {
	font-size:12px;
}
A {
	color:#000;
	text-decoration:none;
	vertical-align:middle;
	outline:0;blr:expression(this.onFocus=this.blur());
}
A:link {
}
A:visited {
}
A:hover {
}
A:active {
}

/* ************************** */
/* ************************** */
/*-----工作区样式------*/
.block_div {
	background-color: #fff;
	background-image: url(../images/block_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #8cbeef;
	margin:4px;
}
.block_div div {
	float:left;
}
.tags {
	margin:0;
	padding:0;
}
.tags_td {
	height: 28px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bce2f5;
}
.tags LI {
	FLOAT: left;
	LIST-STYLE-TYPE: none;
	HEIGHT: 24px;
	LINE-HEIGHT: 24px;
}
.tags LI A {
	padding:0 6px 0 6px;
	margin-RIGHT: 10px;
	margin-LEFT: 10px;
	COLOR: #787878;
	LINE-HEIGHT: 24px;
	HEIGHT: 24px;
	TEXT-DECORATION: none;
}
.tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	WIDTH: 4px;
}
.tags LI.selectTag {
	POSITION: relative;
	HEIGHT: 24px
}
.selectTag_td {
	padding:4px;
}
.selectTag_div {
	width:100%;
}
.tags LI.selectTag A {
	display:block;
	padding:0 6px 0 6px;
	COLOR: #104173;
	LINE-HEIGHT: 24px;
	HEIGHT: 24px;
	background-image: url(../images/tab_bg.gif);
	border: 1px solid #bce2f5;
}
.title_right {
	text-align:right;
	vertical-align:middle;
}
.title_right input {
	vertical-align:middle;
}
.table_title {
	background-image: url(../images/table_title_bg.gif);
	height: 25px;
	font-size:12px;
	line-height: 25px;
	color: #000;
	text-align: center;
}
.table_title td {
	padding:0 0 0 3px;
}
.table_top td {
	font-size: 12px;
	line-height: 24px;
	color: #000;
	text-align: left;
	height: 24px;
	vertical-align:middle;
	padding:0 0 0 3px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #d9d9d9;
	background-image: url(../images/table_l2_bg.gif);
}
.table_top a {
	font-size: 12px;
	color: #1d71fe;
	text-decoration: none;
}
.table_top_01 {
	width:40px;
}
.table_top img {
	margin:0 10px 0 10px;
}
.table_content {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #d9d9d9;
}
.table_content td {
	font-size: 12px;
	line-height: 24px;
	color: #000;
	height: 24px;
	vertical-align:middle;
	padding:0 0 0 3px;
}
.table_content a {
	font-size: 12px;
	color: #1d71fe;
	text-decoration: none;
}
.change_div {
	/*	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
	overflow: hidden;*/
	min-width:200px;
	max-width:300px;
width:expression_r_r(document.body.clientWidth > 500? "300px": "auto" );
	border-top-width: 4px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8cbeef;
	border-right-color: #8cbeef;
	border-bottom-color: #8cbeef;
	border-left-color: #8cbeef;
	padding:3px;
	text-align:center;
}
.checking_div {
	/*	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
	overflow: hidden;*/
	min-width:200px;
	max-width:300px;
width:expression_r_r(document.body.clientWidth > 500? "300px": "auto" );
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8cbeef;
	border-right-color: #8cbeef;
	border-bottom-color: #8cbeef;
	border-left-color: #8cbeef;
	padding:2px;
	text-align:center;
}
.checking_div_title {
	height:20px;
	background-color:#8cbeef;
	color:#fff;
	text-align:left;
	padding:0 0 0 5px;
}
.info_div {
	/*	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
	overflow: hidden;*/
	min-width:200px;
	max-width:200px;
width:expression_r_r(document.body.clientWidth > 500? "200px": "auto" );
	border-top-width: 4px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ffd98d;
	border-right-color: #ffd98d;
	border-bottom-color: #ffd98d;
	border-left-color: #ffd98d;
	padding:3px;
	text-align:left;
	line-height:14px;
	text-indent:1em;
}
.title_link {
	color:#104173;
	font-size:12px;
	height:16px;
	padding:0 4px 0 4px;
	vertical-align:middle;
}
.title_link a {
	color:#104173;
	margin:0 4px 0 4px;
}
.title_link a:hover {
	color:#2971ef;
	margin:0 4px 0 4px;
}
.info_td_title {
	text-align:right;
	font-size: 12px;
	line-height: 18px;
	color: #000;
	width:75px;
}
.info_td_content {
	color:#2971ef;
	width:70px;
}
.search_input {
	height:20px;
	padding:0 0 0 5px;
}
.search_input input {
	margin:0 2px 0 2px;
}
.search_input_text {
	color:#CCCCCC;
	font-size:12px;
	width:300px;
}
.search_input_text1 {
	color:#000;
	font-size:14px;
	width:350px;
}
.table_left {
	font-size: 12px;
	color: #104173;
	text-align: right;
	height: 24px;
	line-height: 24px;
	padding:0 5px 0 0;
}
.star_red {
	color:#FF0000
}
.table_right {
	font-size: 12px;
	color: #000;
	text-align:left;
	height: 24px;
	line-height: 24px;
	padding:0 0 0 5px;
}
.table_right img {
	line-height:20px;
	vertical-align:middle;
}
.checking_title {
	margin:5px;
	text-align:left;
}
