<div>
	<input type='hidden' value='${acceptProdOfferInfoVO.prodOfferId}'
		class='prodofferid-input' />
	<p class='member-prompt-p'>
		您选择的为
		<span class="independence-prodoffer-name">${prodOfferInfoVO.prodOfferName}</span>自主版套餐,
		请在下面列表中选择需要受理的成员套餐,然后点击
		<span class="important-tip">确定</span>按钮进行订购
	</p>
	<table cellpadding='0' cellspacing='0'
		style='border-collapse: collapse;'
		class='grid-global member-product-table'>
		<tr align="left" class="member-accept-header grid-th">
			<th>
				选择
			</th>
			<th>
				产品
			</th>
			<th>
				成员套餐
			</th>
			<th>
				状态
			</th>
			<th>
				操作
			</th>
		</tr>
		<tp:for ds='acceptProdOfferInfoVO.offerProdRelaList'>
			<tr productId='${productId}' maxCount='${productInfoVO.maxCount}'
				minCount='${productInfoVO.minCount}'
				enterComb ='${enterComb}' 
				productName='${productInfoVO.productName}' class='member-product-tr'>
				<td>
					<input type='checkbox' class='member-product-checkbox'
						${$$.ifDefault!=0? "CHECKED":""} ${$$.productInfoVO.minCount!=0?"DISABLED":""}>
				</td>
				<td>
					<select class='product-select' value='${productId}'>
						<option value="${productId}">
							${productInfoVO.productName}
						</option>
					</select>
				</td>
				<td>
					<select class='memeber-prodoffer-select'
						prodOfferInstId='${$$.prodOfferInstId}'>
						<tp:loop ds='relatedOfferList'>
							<option value='${prodOfferId}'>
								${prodOfferName}
							</option>
						</tp:loop>
					</select>
				</td>
				<td>
					<span class='member-status'>${$$.memberStatus?$$.memberStatus:'订购'}</span>
				</td>
				<td class="memeber-oper-td">
					<div style="float: left;">
						<tp:if $$.productInfoVO.maxCount!=1>
							<img class='member-prodoffer-add-img'
								src='${$w.BusCard.path.contextPath}/custcontact/orderaccept/common/images/add.gif'
								style='cursor: pointer; width: 15px; height: 15px;'
								dojoAttachEvent='onclick:elementclick'
								dojoAttachTopic='/addMemberProdOffer' />
						</tp:if>
					</div> 
					<tp:if $$.prodOfferInstId !=null>
					<div style="float: right;" class="member-oper-div">
							<span class='member-offer-keep action-link action-selected'
								dojoAttachEvent='onclick:elementclick'
								dojoAttachTopic='/member-offer-keep'>保持</span>|
						<span class='member-offer-split action-link'
								dojoAttachEvent='onclick:elementclick'
								dojoAttachTopic='/member-offer-split'>拆分</span>|
						<span class='member-offer-quit action-link'
								dojoAttachEvent='onclick:elementclick'
								dojoAttachTopic='/member-offer-quit'>退网</span>
					</div>
					</tp:if>
				</td>
		</tp:for>
	</table>
	<div class='memeber-oper-div'>
		<button dojoAttachEvent='onclick:elementclick'
			dojoAttachTopic="/independence-prodoffer-confirm">
			确定
		</button>
		<button dojoAttachEvent='onclick:elementclick'
			dojoAttachTopic="/independence-prodoffer-cancel">
			取消
		</button>
	</div>
</div>