<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - These entries must be added to your EXISTING applicationContext.xml. 
  - This applicationContext.xml cannot be used in its current form. It only
  - contains fragments of a real applicationContext.xml.
  -
  - $Id: applicationContext_CAS.xml,v 1.2 2005/08/22 11:33:15 lix Exp $
  -->

<beans>

     <!-- 安全工厂 -->
    <bean id ="SecurityFactory" class="com.neusoft.unieap.service.security.SecurityFactory">
		<property name="authenticationManager"><ref bean="authenticationManager"/></property>  
		<property name="resourceAdapterFactory"><ref bean="resourceAdapterFactory"/></property>  	
		<property name="permissionManager"><ref bean="permissionManager"/></property>	
    </bean>
	<bean id="permissionManager" class="com.neusoft.unieap.service.security.authorization.db.DBPermissionManager"/>	
	
	<!--FILTER CHAIN-->
	<!-- you can add the "ChannelProcessingFilter","httpSessionContextIntegrationFilter",
	"AuthenticationProcessingFilter,casProcessingFilter, basicProcessingFilter, HttpRequestIntegrationFilter, 
	JbossIntegrationFilter etc","ContextHolderAwareRequestFilter","RememberMeProcessingFilter",
	"AnonymousProcessingFilter","SecurityEnforcementFilter" in the list below,but notice the filter ordering-->
     <bean id="filterChainProxy" class="net.sf.acegisecurity.util.FilterChainProxy">
      <property name="filterInvocationDefinitionSource">
         <value>
		    CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
		    PATTERN_TYPE_APACHE_ANT
            /**=httpSessionContextIntegrationFilter,casProcessingFilter,securityEnforcementFilter
         </value>
      </property>
    </bean>
    
	<!-- 集成Filter的配置 -->
	<bean id="httpSessionContextIntegrationFilter" class="net.sf.acegisecurity.context.HttpSessionContextIntegrationFilter">
		<property name="context"><value>net.sf.acegisecurity.context.security.SecureContextImpl</value></property>
	</bean>	
	
	<!--
	<bean id="basicProcessingFilter" 
		class="net.sf.acegisecurity.ui.basicauth.BasicProcessingFilter"> 
		<property name="authenticationManager"> 
			<ref local="authenticationManager" /> 
		</property> 
		<property name="authenticationEntryPoint"> 
			<ref local="basicProcessingFilterEntryPoint" /> 
		</property> 
	</bean> 
	<bean id="basicProcessingFilterEntryPoint" 
		class="net.sf.acegisecurity.ui.basicauth.BasicProcessingFilterEntryPoint"> 
		<property name="realmName"> 
			<value>Contacts Realm</value> 
		</property> 
	</bean> 
	-->
	<!-- 集成Filter的配置 -->
	<bean id="casProcessingFilter" 
		class="com.neusoft.unieap.service.security.ui.webapp.CasProcessingFilter"> 
		<property name="authenticationManager"> 
			<ref bean="authenticationManager" /> 
		</property> 
		<property name="authenticationFailureUrl"> 
			<value>/login.do?method=error</value> 
		</property> 
		<property name="defaultTargetUrl"> 
			<value>/login.do?method=login</value> 
		</property> 
		<property name="filterProcessesUrl"> 
			<value>/j_unieap_security_check.do</value> 
		</property> 
	</bean> 
	
	<bean id="serviceProperties" 
		class="net.sf.acegisecurity.ui.cas.ServiceProperties"> 
		<property name="service"> 
			<value>https://192.168.210.79:8443/eapdomain/j_unieap_security_check.do</value> 
		</property> 
		<property name="sendRenew"> 
			<value>false</value> 
		</property> 
	</bean>
	
	<!-- 过滤器配置-->
	<bean id="filterInvocationInterceptor" class="com.neusoft.unieap.service.security.intercept.filter.FilterSecurityInterceptor">
    	<property name="authenticationManager"><ref bean="authenticationManager"/></property>
    	<property name="accessDecisionManager"><ref bean="accessDecisionManager"/></property>
 		<property name="objectDefinitionSource">
			<value>
			    CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
			    PATTERN_TYPE_APACHE_ANT
			    /**/login**=UNIEAP_PASS
				/**/images/**=UNIEAP_PAS
				/**/error.*=UNIEAP_PASS
				/toollistener**=UNIEAP_PASS 
			    /**=UNIEAP_MENU
			</value>
		</property>
	</bean>
	

	<!-- 认证用户配置1 -->
	<bean id="authenticationManager" class="net.sf.acegisecurity.providers.ProviderManager">
		<property name="providers">
		  <list>
		  <ref bean="casAuthenticationProvider" /> 
		  </list>
		</property>
	</bean>	
	
	
	<!-- CAS provider配置 -->
	<bean id="casAuthenticationProvider" 
		class="net.sf.acegisecurity.providers.cas.CasAuthenticationProvider"> 
		<property name="casAuthoritiesPopulator"> 
			<ref bean="casAuthoritiesPopulator" /> 
		</property> 
		<property name="casProxyDecider"> 
			<ref bean="casProxyDecider" /> 
		</property> 
		<property name="ticketValidator"> 
			<ref bean="casProxyTicketValidator" /> 
		</property> 
		<property name="statelessTicketCache"> 
			<ref bean="statelessTicketCache" /> 
		</property> 
		<property name="key"> 
			<value>my_password_for_this_auth_provider_only</value> 
		</property> 
	</bean> 	
   
	<bean id="casAuthoritiesPopulator" 
	class="net.sf.acegisecurity.providers.cas.populator.DaoCasAuthoritiesPopulator"> 
		<property name="authenticationDao"> 
			<ref bean="authenticationDao" /> 
		</property> 
	</bean> 
	<bean id="authenticationDao" class="com.neusoft.unieap.service.security.providers.dao.unieapuser.UnieapOrgDaoImpl"></bean>
	
	<bean id="casProxyDecider" class="net.sf.acegisecurity.providers.cas.proxy.RejectProxyTickets"/>
	
	<bean id="casProxyTicketValidator" class="net.sf.acegisecurity.providers.cas.ticketvalidator.CasProxyTicketValidator">
		<property name="casValidate"><value>https://192.168.210.79:8443/cas/proxyValidate</value></property>
		<property name="proxyCallbackUrl"><value>https://192.168.210.79:8443/eapdomain/casProxy/receptor</value></property>
		<property name="serviceProperties"><ref bean="serviceProperties"/></property>
		<property name="trustStore"><value>C:\j2sdk1.4.2_06\jre\lib\security\lixun.store</value></property>
	</bean>
	
    <bean id="statelessTicketCache" class="net.sf.acegisecurity.providers.cas.cache.EhCacheBasedTicketCache">
		<property name="cache"><ref local="ticketCacheBackend"/></property>
	</bean>
	<bean id="ticketCacheBackend" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager"><ref local="cacheManager"/></property>
		<property name="cacheName"><value>ticketCache</value></property>
	</bean>
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>/WEB-INF/conf/unieap/security/ehcache-failsafe.xml</value>
		</property>
	</bean>
   
	
	
	<bean id="accessDecisionManager" class="net.sf.acegisecurity.vote.AffirmativeBased">
		<property name="allowIfAllAbstainDecisions"><value>false</value></property>
		<property name="decisionVoters">
			<list>
				<ref bean="unieapVoter"/>
			</list>
		</property>
	</bean>
	<!--  权限判断配置 -->
	<bean id="unieapVoter" class="com.neusoft.unieap.service.security.vote.UnieapVoter"/>
	
	
    <!--  认证配置 -->
	<bean id="securityEnforcementFilter" class="net.sf.acegisecurity.intercept.web.SecurityEnforcementFilter">
		<property name="filterSecurityInterceptor"><ref bean="filterInvocationInterceptor"/></property>
		<property name="authenticationEntryPoint"><ref bean="casProcessingFilterEntryPoint"/></property>
	</bean>

	<bean id="casProcessingFilterEntryPoint" class="net.sf.acegisecurity.ui.cas.CasProcessingFilterEntryPoint"> 
		<property name="loginUrl"> 
			<value>https://192.168.210.79:8443/cas/login</value> 
		</property> 
		<property name="serviceProperties"> 
			<ref local="serviceProperties" /> 
		</property> 
	</bean> 
   
    <!--  资源配置 -->
 	<bean id="resourceAdapterFactory" class="com.neusoft.unieap.service.security.resource.ResourceAdapterFactory">
		<property name="resourceAdapterMap">
		 <!-- key 必须与 ResourceType 的 资源 id保持一致  ; value 必须继承ResourceAdapter接口 -->
		 <map>
                <entry key="menu">
                    <bean class="com.neusoft.unieap.service.security.resource.adapters.menu.MenuResourceAdapter"/>
                </entry>
                 <entry key="data">
                    <bean class="com.neusoft.unieap.service.security.resource.adapters.data.DataResourceAdapter"/>
                </entry>
                <entry key="filter">
                    <bean class="com.neusoft.unieap.service.security.resource.adapters.filter.FilterResourceAdapter"/>
                </entry>
                <entry key="page">
                    <bean class="com.neusoft.unieap.service.security.resource.adapters.page.PageResourceAdapter"/>
                </entry>                
           </map>     
		</property>
	</bean>   
	
</beans>
