<?xml version="1.0" encoding="UTF-8"?>
<!--a  edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User)  a-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>quartz job alarm</description>	

	<bean id="custJob"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.neusoft.tdframework.quartz.demojob.CustTypeCountUpdateJob" />
		<property name="group" value="server1" />
	</bean>	
	<bean id="custCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="custJob" />
		<property name="name" value="custTrigger" />
		<property name="group" value="server1" />
		<property name="cronExpression" value="0 0 23 * * ?" />
	</bean>	
	<bean id="custScheduler"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean" >
	
		<property name="autoStartup" value="false" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz-tddemo.properties" />
		<property name="startupDelay" value="10"/>
		<property name="triggers">
			<list>
				<ref bean="custCronTrigger" />
			</list>
		</property>
		<property name="schedulerName" value="custScheduler"/>
	</bean>	
</beans>
