<?xml version="1.0" encoding="UTF-8"?>
<!--a  edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User)  a-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>quartz applicationContext pool</description>

	<bean id="prodInstOverdateCronJob1"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.demojob.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool1" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger1"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob1" />
		<property name="group" value="prodInstOverdateThreadPool1" />
		<property name="name" value="prodInstOverdateTrigger1" />
		<property name="cronExpression" value="1/5 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler1"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">

		<property name="autoStartup" value="false" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz-tddemo.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger1" />
			</list>
		</property>
		<property name="schedulerName" value="prodInstOverdateStdScheduler1"/>
	</bean>
	
	<!-- 
	<bean id="prodInstOverdateCronJob2"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool2" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger2"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob2" />
		<property name="group" value="prodInstOverdateThreadPool2" />
		<property name="name" value="prodInstOverdateTrigger2" />
		<property name="cronExpression" value="2 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler2"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config2.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger2" />
			</list>
		</property>
	</bean>
	
	<bean id="prodInstOverdateCronJob3"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool3" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger3"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob3" />
		<property name="group" value="prodInstOverdateThreadPool3" />
		<property name="name" value="prodInstOverdateTrigger3" />
		<property name="cronExpression" value="3 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler3"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config3.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger3" />
			</list>
		</property>
	</bean>
	
	<bean id="prodInstOverdateCronJob4"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool4" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger4"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob4" />
		<property name="group" value="prodInstOverdateThreadPool4" />
		<property name="name" value="prodInstOverdateTrigger4" />
		<property name="cronExpression" value="4 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler4"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config4.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger4" />
			</list>
		</property>
	</bean>
		
	<bean id="prodInstOverdateCronJob5"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool5" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger5"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob5" />
		<property name="group" value="prodInstOverdateThreadPool5" />
		<property name="name" value="prodInstOverdateTrigger5" />
		<property name="cronExpression" value="5 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler5"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config5.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger5" />
			</list>
		</property>
	</bean>
		
	<bean id="prodInstOverdateCronJob6"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool6" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger6"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob6" />
		<property name="group" value="prodInstOverdateThreadPool6" />
		<property name="name" value="prodInstOverdateTrigger6" />
		<property name="cronExpression" value="6 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler6"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config6.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger6" />
			</list>
		</property>
	</bean>
	
	<bean id="prodInstOverdateCronJob7"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool7" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger7"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob7" />
		<property name="group" value="prodInstOverdateThreadPool7" />
		<property name="name" value="prodInstOverdateTrigger7" />
		<property name="cronExpression" value="7 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler7"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config7.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger7" />
			</list>
		</property>
	</bean>
	
	<bean id="prodInstOverdateCronJob8"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool8" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger8"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob8" />
		<property name="group" value="prodInstOverdateThreadPool8" />
		<property name="name" value="prodInstOverdateTrigger8" />
		<property name="cronExpression" value="8 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler8"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config8.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger8" />
			</list>
		</property>
	</bean>
	
		
	<bean id="prodInstOverdateCronJob9"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool9" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger9"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob9" />
		<property name="group" value="prodInstOverdateThreadPool9" />
		<property name="name" value="prodInstOverdateTrigger9" />
		<property name="cronExpression" value="9 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler9"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config9.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger9" />
			</list>
		</property>
	</bean>
		
	<bean id="prodInstOverdateCronJob10"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool10" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger10"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob10" />
		<property name="group" value="prodInstOverdateThreadPool10" />
		<property name="name" value="prodInstOverdateTrigger10" />
		<property name="cronExpression" value="10 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler10"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config10.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger10" />
			</list>
		</property>
	</bean>
			
	<bean id="prodInstOverdateCronJob11"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.ProdOverdateEffectCronJob" />
		<property name="group" value="prodInstOverdateThreadPool11" />
		<property name="durability" value="true" />
	</bean>
	<bean id="prodInstOverdateTrigger11"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="prodInstOverdateCronJob11" />
		<property name="group" value="prodInstOverdateThreadPool11" />
		<property name="name" value="prodInstOverdateTrigger11" />
		<property name="cronExpression" value="11 * * * * ?" />
	</bean>

	<bean id="prodInstOverdateStdScheduler11"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/prodinstoverdate/quartz_config11.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="prodInstOverdateTrigger11" />
			</list>
		</property>
	</bean> -->
</beans>
