body
{
	background: #F0F0F0;
                     font-family: "宋体", "Arial Narrow", "Times New Roman";
	padding:5px 5px 0% 3px;/*shang，you,xia,zuo*/

/*
 SCROLLBAR-FACE-COLOR: #c0c0c0;
 SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
 SCROLLBAR-SHADOW-COLOR: #d4d0c8;
 SCROLLBAR-3DLIGHT-COLOR: #bababa;
 SCROLLBAR-ARROW-COLOR: #545454;
 SCROLLBAR-TRACK-COLOR: #dad7d6;
 SCROLLBAR-DARKSHADOW-COLOR: #bababa;
 SCROLLBAR-BASE-COLOR: #fcfcd8
*/

}







table
{
	font-size:9pt;
	font-family: "宋体","Arial Narrow", "Times New Roman";
	font-weight:normal;
	background-color: #F0F0F0;
	width:100%;
}

/*table*/
.tableDisplay{}
.tableHidden{display:none;}
/*在有表单元素的table中引用*/
.tableTitle
{
	background-color: #F5F5F5;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:#BCBCBC #BCBCBC #BCBCBC #BCBCBC;
	text-align : right;
	width:100px;
}
table.tableTitle td
{
	/*background-color: #E6EDFA;*/
                     background-color: #EEEEEE;
	font-family: "Times New Roman","宋体","Arial Narrow";
	font-size: 8pt;
                     font-weight:none ;
                     height:16px;
	color:#0066BE;
	text-align :center;
	width:100%;
}
.tableInput
{
    border-spacing:0px 0px;
	background-color: #F5F5F5;
	font-size:9pt;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#BCBCBC #FFFFFF #FFFFFF #BCBCBC;
	font-family: "宋体";
}
.tableInput td
{
     border-spacing:0px 0px;
       BORDER-TOP: #FFFFFF 1px solid;
        BORDER-RIGHT: #BCBCBC 1px solid;
        BORDER-BOTTOM: #BCBCBC 1px solid;
        BORDER-LEFT: #FFFFFF 1px solid;

	font-family: "宋体";
	font-size: 9pt;
	text-align :right;
                     padding:0px 3px 0px 3px;
                     height:20px;
}
.hiddenTable{
    background-color:    #B9D9F2;
    border-top:          #B9D9F2;
    border-left:         "1 solid #ffffff";
    border-bottom:       "1 solid #85BCE9";
    border-right:        "1 solid #85BCE9";
    padding:             9px;
    align:center;
    valign:top;
    height:100%;
}
label
{
    border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#B7B7B7  #B7B7B7  #B7B7B7  #B7B7B7;
	font-family: "宋体";
	font-size: 9pt;
   	color:#2D65DC;
	text-align :left;
    padding:2px 2px 3px 2px;
    height:18px;
    width:100%;
    background-color:#F0F0F0;
    word-wrap : break-word ;
    word-break : keep-all ;
}

/*页面的顶部使用，例如：单位基本信息*/
.titleLine {
	background-color: #F5F5F5;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#BCBCBC #FFFFFF #BCBCBC #FFFFFF;
	text-align : left;
}
table.titleLine td
{
  padding:0px 15px 0px 20px;
  FILTER: glow(color=ffffff,strength=0) shadow(color=cccccc,direction:135);
  POSITION: relative;
  font-family: "Times New Roman","宋体","Arial Narrow";
  font-size: 10pt;
  font-weight:none ;
  color:#0066BE;
}
/**/
.tableList
{
	background-color: #F5F5F5;
        /*modify by wangzhe
	border-width:1px 3px 4px 1px;
        */
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#BCBCBC #BCBCBC #BCBCBC #BCBCBC;

}
table.tableList td.tableHead
{
	/*font-weight:bolder;*/
        color: #000000;
	text-align : center;
        text-valign : middle;
	height:24px;
        /*background-color: #CBD5F3;*/
        /*background-color: #ffffff;*/
        /*background-color: #ECE9D8;*/
        background-color: #F3F3F3;
    /*
    modify by wangzhe
    */
        BACKGROUND-IMAGE: url(../unieap/images/tab/grid/topbg.gif);
	border-top-width: 0.1mm;
	border-right-width: 0.1mm;
	border-bottom-width: 0.1mm;
	border-left-width: 0.1mm;

    overflow : visible;
	text-overflow : ellipsis ;

	/*
    white-space : pre;
    overflow : hidden;
	text-overflow : ellipsis ;
    filter : progid:DXImageTransform.Microsoft.gradient(startColorStr=#550000FF,endColorStr=#00000000);
   */
}
/**/
table.tableList td
{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #FFFFFF;

	text-align : left;
	overflow : hidden;
	text-overflow : ellipsis ;
	height:16px;
	/*white-space : pre;*/
}
/**/
.listColorA {
	background-color: #FBFCFE;
	font-family: "宋体";
	font-size: 9pt;
	font-color: #000000;
	height:20px;

	white-space : pre;

}
.listColorB {
    /*background-color: #E6EDFA;*/
	background-color: #EEEEEE;
	font-family: "宋体";
	font-size: 9pt;
	font-color: #000000;
	height:20px;

	white-space : pre;
}
/**/
table.tableList td.listCheckbox
{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;

	text-align : center;
	overflow : hidden;
	text-overflow : ellipsis ;

	/*white-space : pre;*/
}
/**/

.tdLeft
{
    text-align : left;
}

.tdRight
{
    text-align : right;
}
hr{height:1px;background-color:#000;color:#000;margin:2em 0;}
/*Input*/
table.tableInput input[type=text] { border: 1px #B7B7B7 solid;font-family: "宋体",font-size: 12px; Helvetica, sans-serif;width: 100%;}
table.tableInput   select  { border: 1px #B7B7B7 solid;font-family: "宋体",font-size: 12px;background: #ffffff;width: 100%}
table.tableInput  textarea { border: 1px #B7B7B7 solid;font-family: "宋体",font-size: 12px; Helvetica, sans-serif;width: 100%; overflow:hidden;}

.text{ BEHAVIOR: url(/lemis/htc/Text.htc);OVERFLOW: hidden ;border: 1px #B7B7B7 solid;font-family: "宋体",font-size: 12px; Helvetica, sans-serif;width: 100%;word-wrap:normal;word-wrap : break-word ;}
.textReadonly{
    border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#B7B7B7  #B7B7B7  #B7B7B7  #B7B7B7;
	font-family: "宋体";
	font-size: 9pt;
   	color:#2D65DC;
	text-align :left;
    padding:2px 2px 3px 2px;
    height:18px;
    width:100%;
    background-color:#F0F0F0;
    word-wrap : break-word ;
    word-break : keep-all ;
}
.select  {BEHAVIOR: url(/lemis/htc/select.htc); OVERFLOW: hidden ;border: 1px #B7B7B7 solid;font-family: "宋体",font-size: 12px;background: #ffffff;width: 100%}
.textarea { border: 1px #B7B7B7 solid;font-family: "宋体",font-size: 12px; Helvetica, sans-serif;width: 100%; overflow:hidden;}
.toPage  { border: 1px #B7B7B7 solid;font-family: "宋体",font-size: 9px,font-color:#808080;background: #FBFCFE; border-color: #808080 #808080 #808080 #808080; width: 40px}

.grid {BEHAVIOR: url(/lemis/htc/grid.htc);}
/*button*/
.buttonGray { font-size: 12px;height:21px; color: #333333; background: #CCCCCC; padding-top: 3px; border: 1px solid; border-color: #FFFFFF #A2A2A2 #A2A2A2 #FFFFFF;cursor: hand}
.buttonOnclick {font-size: 12px; width="100%"; text-align : center; height:20px;color: #000000; background:#F5F5F5;padding-top: 2px; padding-right: 0px;  padding-left: 0px;  border-width: 0px,1px,1px,0px border-style:solid; border-color: #ffffff #ffffff #ffffff #ffffff;  cursor: hand;}
.buttonRed {font-size: 12px; width="100%"; text-align : center; height:20px;color: #000000; background:#F5F5F5;background-image : url(../unieap/images/tab/redText.gif) ;padding-top: 2px; padding-right: 0px;  padding-left: 0px;  border-width: 0px,1px,1px,0px border-style:solid; border-color: #ffffff #ffffff #ffffff #ffffff;  cursor: hand;}
table.tableInput tr td input[type=submit] {font-size: 12px;height:21px; color: #333333; background: #CCCCCC; padding-top: 3px; border: 1px solid; border-color: #FFFFFF #A2A2A2 #A2A2A2 #FFFFFF;cursor: hand}

/*link*/
.ALink{  font-family: "宋体", "Arial Narrow", "Times New Roman"; font-size: 9pt;}
.ALink:link	{ text-decoration:none; font-size: 9pt; color: #000000}
.ALink:alink	{ text-decoration:none; font-size: 9pt; color: #000000}
.ALink:visited	{ text-decoration:none; font-size: 9pt; color: #000000}
.ALink:active	{ text-decoration:none; font-size: 9pt; color: #000000}
.ALink:hover	{ text-decoration: none; font-size: 9pt; color: #ff0000}

.BLink{  font-family: "宋体", "Arial Narrow", "Times New Roman"; font-size: 9pt;}
.BLink:link	{ text-decoration:none; font-size: 9pt; color: #000000}
.BLink:alink	{ text-decoration:none; font-size: 9pt; color: #000000}
.BLink:visited	{ text-decoration:none; font-size: 9pt; color: #000000}
.BLink:active	{ text-decoration:none; font-size: 9pt; color: #000000}
.BLink:hover	{ text-decoration:none; font-size: 9pt; color: #000000}



/*turnPage*/
.bottom
{
	background-color: #F0F0F0;
	font-weight:bold ;
	border-width:0px 0px 0px 0px;
	border-style:solid;
	border-color:#F0F0F0 #F0F0F0 #F0F0F0 #F0F0F0;
	text-align : left;
}
.count
{
	font-family: "宋体";
    font-size: 9pt;
    font-color:#808080;
	text-align : left;
	width:120;
}
.trunPage
{
	text-align : center;
	width:255;
}
.action
{
	text-align : right;
}

/* set the font color */
.red
{
	font-family: "宋体";
    font-size: 9pt;
    font-color:#FF0000!important ;
}
.divClass{

    border-width:1px 1px 1px 1px;
    border-top-color: #E0E0E0;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #FFFFFF;

    background-color: #A7D9E4;
    font-size:9pt;
    font-family: "宋体","Arial Narrow", "Times New Roman";
}
.divTable{
    padding:3px zpx 0% 10px;
    border-width:1px 1px 1px 1px;
    background-color: #FF9900;
    font-size:9pt;
    font-family: "宋体","Arial Narrow", "Times New Roman";
}

.navigation{
	font-family: "宋体";
    font-size: 9pt;
}

.ButtonA {
	background-image: url(../../images/tab/button/buttonA.gif);

}
.ButtonA1 {
	background-image: url(../../images/tab/button/buttonA1.gif);

}
.pageFooter{
  border-color:#B7B7B7;color:#2D65DC;background-color: #FBFCFE;
  }
.mask {BEHAVIOR: url(/lemis/htc/EAFformat.htc);OVERFLOW: hidden ;border: 1px #B7B7B7 solid;font-family: "宋体",font-size: 12px; Helvetica, sans-serif;width: 100%;word-wrap:normal;word-wrap : break-word ;word-break : keep-all ;}
.check {BEHAVIOR: url(/lemis/htc/checkbox.htc);}
 TEXTAREA,input{ behavior:url(/lemis/htc/disable.htc); }

/*
the styles of tabpages tag
add by wuhao
*/

#tabpages {
 width: auto ;
}

#tabpages td {
  background-color: #DCEAF5;
}

.tabUnSelected {
cursor: hand;
width:               108px;
height:              18px;
background-color:    #DCEAF5;
position:　　        relative;
top:　　　           2px;
display:　　         inline;
float:　　　         left;
border-top:          "1 solid #ffffff";
border-left:         "1 solid #ffffff";
border-bottom:       "0 solid";
border-right:        "1 solid #85BCE9";
font:12px;
text-align :center;
color:#333333;
font-weight:bold;
}

.tabSelected {
cursor: hand;
width:              109px;
height:              21px;
background-repeat:   no-repeat;
background-position: top left;
position:　　        relative;
top:                 1px;
z-index:　　         3;
background-color:    #B9D9F2;
border-top:          "1 solid #ffffff";
border-left:         "1 solid #ffffff";
border-bottom:       "0 solid";
border-right:        "1 solid #85BCE9";
font:12px;
text-align :center;
color:#333333;
font-weight:bolder;
filter : progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorStr=#84B6FF,endColorStr=#BDDBF7);
}

#tabName{
text-align :center;
top:inherit;
height:20px;
filter:progid:DXImageTransform.Microsoft.Glow(color=#ffffff,Strength=3);
}

.tabIframe {
	background-color:    #B9D9F2;
	border-top:          #B9D9F2;
	border-left:         "1 solid #ffffff";
	border-bottom:       "1 solid #85BCE9";
	border-right:        "1 solid #85BCE9";
	padding:             9px;
	align:center;
	valign:top;
	height:100%;
}
/**************************button**************************************/

/**************************button**************************************/
.box{
	border-top:1px solid #C0C0C0;
	border-left:1px solid #C0C0C0;
	width:100px;
	height:19px;
	clip:rect(0px,100px,18px,0px);
	overflow:hidden;
}
.listselect{
	position:relative;
	left:-2px;
	top:-2px;
	width:102px;
	line-height:14px;
	border:0px;
}
.mutilabel
{
    border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#B7B7B7  #B7B7B7  #B7B7B7  #B7B7B7;
	font-family: "宋体";
	font-size: 9pt;
   	color:#2D65DC;
	text-align :left;
    padding:2px 2px 3px 2px;
    height:48px;
    width:100%;
    background-color:#F0F0F0;
    word-wrap : break-word ;
    word-break : keep-all ;
    overflow:auto;
    overflow-x:hidden;
}
