.BODY {
SCROLLBAR-FACE-COLOR: #efefef; SCROLLBAR-HIGHLIGHT-COLOR: #efefef; 
SCROLLBAR-SHADOW-COLOR: #efefef; SCROLLBAR-3DLIGHT-COLOR: #10659c; 
SCROLLBAR-ARROW-COLOR:  #3975AD; SCROLLBAR-TRACK-COLOR: #eeeeee; 
SCROLLBAR-DARKSHADOW-COLOR: #10659c;
background-image: url(../../common/images/bg_content.gif);
MARGIN: 0px;COLOR: #000000; font-family: "Arial", "Helvetica", "sans-serif"; }

 .h9 { 
		 font-size: 9px; 
		 font-family: "Arial", "Helvetica", "sans-serif"; 
		 color:#ff9933; font-weight: bold 
	 }

.h14 {
		font-size: 14px;
		font-family: "Arial", "Helvetica","sans-serif";
		font-weight: bold;
		color: #000000;
	}
td {
		 font-size: 12px; 
		 font-family: "Arial", "Helvetica", "sans-serif";
		 }

A:link {COLOR: #000000; TEXT-DECORATION: none}
A:visited {text-decoration:none; color: #000000}
A:active {COLOR: #000000; TEXT-DECORATION: underline}
A:hover {COLOR: #456FD1}

A.menuA:link {text-decoration:none; color: black}
A.menuA:visited {text-decoration:none; color: #000000}
A.menuA:active {text-decoration:none; color: red}
A.menuA:hover {text-decoration:none; color: #FFFFFF;background-color: #2385D6; border: 1px solid #000000;}

SPAN.clsMouseOver 
				{ 
				background-color:#EEF0F4; 
				border:1px solid #999999;
				cursor:pointer;
				display:block;
				COLOR: #000000;
				FONT-SIZE: 12px;
				display:block; 
				} 

SPAN.clsMouseDown 
				{ 
				background-color:#efefef; 
				border:1px solid #efefef; 
				COLOR: #000000;
				display:block;
				} 
span.clsLabel 
			{ 
			display:block;
			COLOR: #000000;
			} 
SPAN.clsCurrentHasFocus 
			{ 
			background-color:#FFFFFF; 
			border:1px solid #999999; 
			COLOR: #000000;
			} 

SPAN.branch
			{ 
			background-color:#FFFFFF;
			display:block; 
			cursor:hand;
			COLOR: #000000;
			width:400px;
			} 

.bgcss {
		background-repeat: no-repeat;
		background-position: right;
	}
	
.bgcssL {
		background-repeat: no-repeat;
		background-position:top ;
	}
	
BODY TD {
		FONT-FAMILY: tahoma, verdana, arial, sans-serif
	}

IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
	}
.desktop {
			BACKGROUND: url(../icons/desktop_bkg.gif) left top
		 }



.dropdownStyle{
				FONT-SIZE: 12px;
				font-family: "Arial", "Helvetica","sans-serif";
				TEXT-DECORATION: none;
				background-color: #ECF3FB;
				vertical-align: text-bottom;
				background-image: none;
				border: 1px solid #c6cfde;	
			  }

 .textareaStyle{
			    font-size:14px;BACKGROUND-COLOR: #ffffff; 
			    border: 1px solid #7F9DB9;
			    VERTICAL-ALIGN: text-bottom
			    }

 .tdbuttonStyle{
                 BACKGROUND-COLOR:#ECF3FB;height:20px}			    

.inputgray {
			font-size:12px;
			font-family: "Arial", "Helvetica","sans-serif";
			height:20px;
			border-left:1px solid #F26522;
			border-top:1px solid #F26522;
			border-right:1px solid #F26522;
			border-bottom:1px solid #F26522;
			background-color: #FFFFFF;
			padding-top: 3px;
			vertical-align: text-bottom;
			}

.longtextStyle{
				FONT-SIZE: 12px;
			    width:400px;
				font-family: "Arial", "Helvetica","sans-serif";
				TEXT-DECORATION: none;
				background-color: #ffffff;
				vertical-align: text-bottom;
				background-image: none;
				border: 1px solid #7F9DB9;
				text-indent: 0pt;
			 }
 
 .shorttextStyle{
				FONT-SIZE: 12px;
				font-family: "Arial", "Helvetica","sans-serif";
				TEXT-DECORATION: none;
				background-color: #FFFFFF;
				vertical-align: text-bottom;
				background-image: none;
				border: 1px solid #7F9DB9;
				text-indent: 3pt;
			        width:60px;
			 }
 
 
 .textStyle{
			FONT-SIZE: 12px;
			font-family: "Arial", "Helvetica","sans-serif";
			TEXT-DECORATION: none;
			background-color: #ffffff;
			vertical-align: text-bottom;
			background-image: none;
			border: 1px solid #7F9DB9;
			text-indent: 0pt;
		
		 	}
 
 .tdtextStyle{
                height:20px;
                align:left;
                font-size:12px;
                padding-top: 2px;
			    padding-left: 2px;
			    padding-right: 2px;
			    padding-bottom: 2px;
               }
               
 .tdlabelStyle{
               BACKGROUND-COLOR:#ECF3FB;
               font-size:12px;height:20px;
               vertical-align:middle;
               text-align:right;
               padding-right: 2px;
               }         

.tdlabelStyleC{
                 BACKGROUND-COLOR:#EEF0F4;
                 font-size:12px;
                 height:20px;
                 vertical-align:middle;
                 text-align:center}
              
 .tdlabelStyleL{
                height:20px;
                align:left;
                font-size:12px
               }              
 
 .tdlabelStyleW{
                 BACKGROUND-COLOR:#FFFFFF;
                 font-size:12px;height:20px;
                 vertical-align:middle;
                 text-align:center}
                 
.tablegray {
			    width:97%;
				height:97%;
				align:center;
				border: 1px solid #7F9DB9;
				text-indent: 12px;
				background-color: #FFFFFF;
			}
 
.inputblack { 
	         background-color: #ffffff; 
	         border: 1px inset #000000; 
	         list-style-type:none;
	         font-size: 12px; 
	         color: #000000; 
	         } 
 
.inputdotted { 
	         font-size: 12px; 
	         border-color:#A0ABC0; 
	         border-style: dotted; 
	         border-top-width: 0px; 
	         border-right-width:0px; 
	         border-bottom-width: 1px; 
	         border-left-width: 0px 
	         } 
.inputblue {
	FONT-SIZE: 12px;
	font-family: "Arial", "Helvetica","sans-serif";
	TEXT-DECORATION: none;
	background-color: #ECF3FB;
	vertical-align: text-bottom;
	background-image: none;
	border: 1px solid #c6cfde;
	text-indent: 3pt;
}
 
.buttonStyle {
			font-size:12px;
			height:20px;
			width: 61px;
			border-left:0px solid #7F9DB9;
			border-top:0px solid #7F9DB9;
			border-right:0px solid #7F9DB9;
			border-bottom:0px solid #7F9DB9;
			vertical-align:text-bottom;
			background-image:url(../../common/images/button_s.jpg);
	        } 


.buttonStyle_C{
    font-size:12px;
	height:20px;
	width:61px;
	border-left:1px solid #7F9DB9;
	border-top:1px solid #7F9DB9;
	border-right:1px solid #7F9DB9;
	border-bottom:1px solid #7F9DB9;
	background:url(../../common/images/add.gif)
} 

 .longbuttonStyle {
       		font-size:12px;
       		height:20px;
       		width:90px;
			background-color: #FFFFFF;
			background-image: url(../images/map_main_in.gif);
       		BORDER-BOTTOM: 1px outset;
       		BORDER-LEFT: 1px outset;
       		BORDER-RIGHT: 1px outset;
       		BORDER-TOP: 1px outset;
       		border:1px #000000 solid;
       		cursor: hand;
       		vertical-align:text-bottom
       		}
       		               
.tablebluemore {
    width:97%;
	background-color: #C6CFDE;
}

.tablebluemore1 {
  width:97%;
	border: 0px solid #39a1e4;
	background-color: #c6cfde;
	line-height: 20px;
}

.LeftNavOff {
	BORDER-RIGHT: #6699cc 0px solid; PADDING-RIGHT: 3px;
	 BORDER-TOP: #6699cc 0px solid; PADDING-LEFT: 3px; 
	 FONT-WEIGHT: normal; FONT-SIZE: 9pt; Z-INDEX: 120; 
	 PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #6699cc 0px solid; 
	 WIDTH: 70px; CURSOR: hand; COLOR: #000000; LINE-HEIGHT: 20px; PADDING-TOP: 1px; 
	 BORDER-BOTTOM: #6699cc 0px solid; FONT-FAMILY: ו; LETTER-SPACING: -0.5pt; 
	 TEXT-DECORATION: none
}
.LeftNavUp {
	BORDER-RIGHT: #333366 1px solid; PADDING-RIGHT: 3px; 
	BORDER-TOP: white 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; 
	FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: white 1px solid; 
	WIDTH: 70px; CURSOR: hand; COLOR: #7F9DB9; LINE-HEIGHT: 20px;
	 BORDER-BOTTOM: #333366 1px solid; FONT-FAMILY: ו; 
	 LETTER-SPACING: -0.5pt; HEIGHT: 0pt; TEXT-DECORATION: none
}
.LeftNavDown {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 3px; 
	BORDER-TOP: #000066 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; 
	FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000066 1px solid; 
	WIDTH: 70px; CURSOR: hand; COLOR: #7F9DB9; LINE-HEIGHT: 20px; 
	PADDING-TOP: 1px; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: ו; 
	LETTER-SPACING: -0.5pt; TEXT-DECORATION: none
}

.trcolor {
	background-color: #EEF0F4;padding-top: 3px;padding-left: 3px;height:20px;
		}

.trcolorW {
	background-color: #ffffff;padding-top: 3px;padding-left: 3px;height:20px;
		}

.trcolorT{
	background-color: #A0C6E5;padding-top: 3px;padding-left: 3px;height:20px;
		}

.trmore {
	background-color: #c6cfde;padding-top: 3px;padding-left: 3px;height:20px;
	    }

.cellpad {
	width:90%;
	padding-top: 0px;
	padding-right: 3px; 
	padding-bottom: 0px; 
	padding-left: 3px;
	
		}
.info_on{
	font-size:12px;
	height:20px;
	border-left:1px solid #7F9DB9;
	border-top:1px solid #7F9DB9;
	border-right:0px solid #7F9DB9;
	border-bottom:0px solid #7F9DB9;
	padding-top: 0px;
	background-color: #efefef;
	BACKGROUND: url(../../common/images/title_bg_on.jpg);

}
.info_off{
	font-size:12px;
	height:20px;
	border-left:1px solid #7F9DB9;
	border-top:1px solid #7F9DB9;
	border-right:1px solid #7F9DB9;
	border-bottom:1px solid #7F9DB9;
	padding-top: 0px;
	cursor:hand;
	background-color: #EAF1FB;
	BACKGROUND: url(../../common/images/title_bg_off.jpg);
}
.info_right{
	font-size:12px;
	height:20px;
	border-left:0px solid #7F9DB9;
	border-top:1px solid #7F9DB9;
	border-right:0px solid #7F9DB9;
	border-bottom:1px solid #7F9DB9;
	padding-top: 0px;
	cursor:hand;
	background-color: #EAF1FB;
	BACKGROUND: url(../../common/images/title_bg_off.jpg);
}
.info_line{
	font-size:12px;
	height:20px;
	border-left:1px solid #7F9DB9;
	border-top:0px solid #7F9DB9;
	border-right:0px solid #7F9DB9;
	border-bottom:1px solid #7F9DB9;
	padding-top: 3px;
}

.tab_info{
	font-size:12px;
	width:97%
	border-left:1px solid #c6cfde;
	border-top:0px solid #c6cfde;
	border-right:1px solid #c6cfde;
	border-bottom:1px solid #c6cfde;
	padding-top: 3px;
	background-color: #ffffff;
}

.tab_line{
	width:97%;
	border-bottom:1px solid #C6CFDE;	
}

.leaf{display:block;margin-left:32px; COLOR: #0000ff; FONT-SIZE: 12px}
a{text-decoration: none; }
a:hover{ text-decoration: underline; }


.button_out{
    font-size:12px;
	height:20px;
	width:61px;
	border-left:0px solid #7F9DB9;
	border-top:0px solid #7F9DB9;
	border-right:0px solid #7F9DB9;
	border-bottom:0px solid #7F9DB9;
	background:url(../../common/images/button_s.jpg)
}
.button_click{
    font-size:12px;
	height:20px;
	width:61px;
	border-left:0px solid #7F9DB9;
	border-top:0px solid #7F9DB9;
	border-right:0px solid #7F9DB9;
	border-bottom:0px solid #7F9DB9;
	background:url(../../common/images/button_s1.jpg)
}

.th {
	background-color: #A6C1EF;
	height: 25px;
	background-repeat: repeat-x;
	background-image: url(../../common/images/th2.jpg);
}

.row_title {
	background-image: url(../../common/images/title_bg_off.jpg);
	border-left:0px solid #7F9DB9;
	border-top:0px solid #7F9DB9;
	border-right:0px solid #7F9DB9;
	border-bottom:0px solid #7F9DB9;
	padding-top: 0px;
	height: 20px;
}

.table_r{
	font-size:12px;
	height:20px;
	width:90%;
	border-left:1px solid #7F9DB9;
	border-top:1px solid #7F9DB9;
	border-right:1px solid #7F9DB9;
	border-bottom:1px solid #7F9DB9;
	padding-top: 0px;
	background-color: #ffffff;
}

.Add{
	background-image: url(../../common/images/title_bg_on.jpg);
	border-left:0px solid #7F9DB9;
	border-top:0px solid #7F9DB9;
	border-right:0px solid #7F9DB9;
	border-bottom:0px solid #7F9DB9;
	padding-top: 0px;
	height: 20px;
}
.LeftNavOff {
	BORDER-RIGHT: #6699cc 0px solid; 
	PADDING-RIGHT: 0px;
	 BORDER-TOP: #6699cc 0px solid; 
	 PADDING-LEFT: 0px; 
	 FONT-WEIGHT: normal; 
	 Z-INDEX: 120; 
	 PADDING-BOTTOM: 0px; 
	 MARGIN: 0px; 
	 BORDER-LEFT: #6699cc 0px solid; 
	 WIDTH: 76px; 
	 CURSOR: hand; 
	 COLOR: #000000; 
	 PADDING-TOP: 0px; 
	 BORDER-BOTTOM: #6699cc 0px solid; 
	 LETTER-SPACING: -0.5pt; 
}
.LeftNavUp {
	BORDER-RIGHT: #333366 1px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: white 1px solid; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	BORDER-LEFT: white 1px solid; 
	WIDTH: 76px; 
	CURSOR: hand; 
	COLOR: #7F9DB9; 
	 BORDER-BOTTOM: #333366 1px solid; 
	 LETTER-SPACING: -0.5pt; 
	 HEIGHT: 0pt; 
}
.LeftNavDown {
	BORDER-RIGHT: white 1px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #000066 1px solid; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	BORDER-LEFT: #000066 1px solid; 
	WIDTH: 76px; 
	CURSOR: hand; 
	COLOR: #7F9DB9; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: white 1px solid; 
	LETTER-SPACING: -0.5pt; 
}
.leaf{display:block;margin-left:32px; COLOR: #0000ff; FONT-SIZE: 12px}
a{text-decoration: none; }
a:hover{ text-decoration: underline; }

.navPoint {
	FONT-SIZE: 9pt; CURSOR: hand; COLOR: #0066cc; FONT-FAMILY: Webdings
}

.navPoint1 {
	FONT-SIZE: 12pt; CURSOR: hand; COLOR: #0066cc; FONT-FAMILY: Webdings
}

.btn3_mouseout {
		BORDER-RIGHT: #2C59AA 1px solid;
		BORDER-TOP: #2C59AA 1px solid; 
		PADDING-LEFT: 1px;
		PADDING-RIGHT: 1px; 
		PADDING-TOP: 2px; 
		FONT-SIZE: 12px; 
		height:20px;
		width:70px;
		FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); 
		BORDER-LEFT: #2C59AA 1px solid; 
		CURSOR: hand; COLOR: black; 
		BORDER-BOTTOM: #2C59AA 1px solid
		}

.btn3_mouseover {
		BORDER-RIGHT: #2C59AA 1px solid; 
		PADDING-RIGHT: 1px; 
		PADDING-LEFT: 1px; 
		PADDING-TOP: 2px;
		BORDER-TOP: #2C59AA 1px solid; 
		FONT-SIZE: 12px; 
		height:20px;
		width:70px;
		FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7E7FA); 
		BORDER-LEFT: #2C59AA 1px solid; 
		CURSOR: hand; COLOR: black;  
		BORDER-BOTTOM: #2C59AA 1px solid
		}
.btn3_mousedown
		{
		BORDER-RIGHT: #FFE400 1px solid; 
		PADDING-RIGHT: 1px; 
		PADDING-LEFT: 1px; 
		PADDING-TOP: 2px; 
		BORDER-TOP: #FFE400 1px solid; 
		FONT-SIZE: 12px; 
		height:20px;
		width:70px;
		FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); 
		BORDER-LEFT: #FFE400 1px solid; 
		CURSOR: hand; COLOR: black; 
		BORDER-BOTTOM: #FFE400 1px solid
		}

.btn3_mouseup {
		BORDER-RIGHT: #2C59AA 1px solid; 
		PADDING-RIGHT: 1px; 
		PADDING-LEFT: 1px;
		PADDING-TOP: 2px; 
		BORDER-TOP: #2C59AA 1px solid;  
		FONT-SIZE: 12px; 
		height:20px;
		width:70px;
		FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); 
		BORDER-LEFT: #2C59AA 1px solid; 
		CURSOR: hand; COLOR: black; 
		BORDER-BOTTOM: #2C59AA 1px solid
		}

.thList
		{
		height:23px;
		font-size:12px;
		background-repeat: repeat-x;
		background-image: url(../../common/images/title_bg_off.jpg);
		}

.trList{
		background-color: #ffffff;
		padding-top: 1px;
		padding-left: 1px;
		padding-bottom: 1px;
		height:20px;
		text-align:left;
		}

.trListDark{
			background-color: #EEF0F4;
			padding-top: 1px;
			padding-left: 1px;
			padding-bottom: 1px;
			height:20px;
			text-align:left;
			}

.trcolorT{
	background-image: url(../../common/images/bg_content.gif);height:20px;
		}



.tdbuttonStyle{
               vertical-align:middle;
               text-align:right;
               padding-right: 8px; 
                }
                
.tdfontstyle{
	font-size:12px;
    text-align:center;
	white-space: nowrap; 
	}
	
 
 .tab_button         {
    font-size: 12px;
	border:#000000 outset;
	border: 1px;
	background-image: url(../images/tab_button.gif);
	color: #000000;
	cursor: hand;
	height: 2em;
	width: 10px;	
	padding-bottom: 0px;
	padding-top: 5px;
	background-color: #FFFFFF;	
	text-align: justify;
	vertical-align: left;
	margin-bottom: 0px;
	text-indent: 0px;
	font-family: sans-serif;
	}

.tab_img_style{
	text-indent:0px;
	margin-bottom: 0px;
	vertical-align: bottom;
}