<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>客户资料修改</title>
<link rel=stylesheet href="main_style.css" type=text/css>
</head>

<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td  align="center" valign="top">
      <table  border="0" cellpadding="0" cellspacing="0" class="tablegray">
        <tr>
          <td valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="25" align="center" valign="bottom" background="../images/map_maintop.gif" class="h14">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="5%" align="center"><img src="../images/icon_arrow_button.gif" align="center" width="15" height="16" /></td>
                      <td width="95%" class="h14">清单,列表组合</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr bgcolor="white">
              	<td>　</td>
              </tr>
              
              <tr>
                <td valign="top">
                  <table width="95%" border="0" bordercolor="#000000" align="center" cellpadding="0" cellspacing="1"  class="tablebluemore1">
                  	<tr class="trcolor2">
                      <td class="tdlabelStyle" colspan="1" width="20%">查询条件1</td>
                      <td class="tdtextStyle" colspan="1" width="30%">
                        <input type="text" name="idCode" class="textStyle" value="" onkeypress="nas_enter_jump(event,this)" style="ime-mode:disabled" />
                      </td>
                      <td class="tdlabelStyle" colspan="1" width="20%">查询条件2</td>
                      <td class="tdtextStyle" colspan="1" width="30%">
                        <input type="text" name="idCode" class="textStyle" value="" onkeypress="nas_enter_jump(event,this)" style="ime-mode:disabled" />
                      </td>
                    </tr>
                    <tr class="trcolor2">
                      <td align="center" class="tdbuttonStyle" colspan="4" width="100%">  
                      	<input type="hidden" name="operType" value="{operType}" />      
                      	<input type="hidden" name="errorInfo" value="{errorInfo}" />                      
                        <input type="button" name="query" class="buttonStyle" value="查 询" onclick="queryCustomer()" />&nbsp;&nbsp;&nbsp;&nbsp;                        
                        <input type="button" name="modify" class="buttonStyle" value="修 改" onclick="modifyCustomer()" />                        
                      </td>
                    </tr>  
              <tr bgcolor="white"><td colspan=4>　</td></tr>                
                  </table>
                  <table width="95%" border="0" bordercolor="#000000" align="center" cellpadding="0" cellspacing="1"  class="tablebluemore1">
                  	<tr class="trcolor2">
                      <td align="center" colspan="1" width="20%">编码</td>
                      <td align="center" colspan="1" width="20%">名称</td>
                      <td align="center" colspan="1" width="20%">日期</td>                      
                      <td align="center" colspan="1" width="20%">费用</td>
                      <td align="center" colspan="1" width="20%">名称</td>
                    </tr>
                    <tr class="trcolor2">
                      <td align="center" bgcolor="white" colspan="1" width="20%">编码</td>
                      <td align="center" bgcolor="white" colspan="1" width="20%">名称</td>
                      <td align="center" bgcolor="white" colspan="1" width="20%">日期</td>                      
                      <td align="center" bgcolor="white" colspan="1" width="20%">费用</td>
                      <td align="center" bgcolor="white" colspan="1" width="20%">名称</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>

</html>
