 .h9 { font-size: 9px; font-family: "Arial", "Helvetica", "sans-serif"; color:
#ff9933; font-weight: bold }

<!--14号深蓝色加粗字体，通常用在页面操作提示部分-->
.h14 {
	font-size: 14px;
	font-family: "Arial", "Helvetica","sans-serif";
	font-weight: bold;
	color: #10659c;
}

<!--body的风格-->
.BODY {
SCROLLBAR-FACE-COLOR: #deebf7; SCROLLBAR-HIGHLIGHT-COLOR: #deebf7; SCROLLBAR-SHADOW-COLOR: #deebf7; SCROLLBAR-3DLIGHT-COLOR: #10659c; SCROLLBAR-ARROW-COLOR:  #3975AD; SCROLLBAR-TRACK-COLOR: #ECF3FB; SCROLLBAR-DARKSHADOW-COLOR: #10659c;


MARGIN: 0px;
background-image:url(../images/map_bg.gif);   FONT-SIZE: 12px; background-color:#ffffff;
COLOR: #000000; font-family: "Arial", "Helvetica", "sans-serif"; }
TD { FONT-SIZE:
12px; font-family: "Arial", "Helvetica", "sans-serif"; }
A:link { COLOR: #10659c;
TEXT-DECORATION: none ; font-family: "Arial", "Helvetica", "sans-serif"; }
A:visited
{ COLOR: #10659c; TEXT-DECORATION: none }
A:active { COLOR: #999999; TEXT-DECORATION:
none }
A:hover { COLOR: #F26522; TEXT-DECORATION: none }
.inputgray {
	FONT-SIZE: 12px;
	font-family: "Arial", "Helvetica","sans-serif";
	TEXT-DECORATION: none;
	background-color: #FFFFFF;
	vertical-align: text-bottom;
	background-image: none;
	border: 1px solid #9cd7ff;
}

.inputblack { background-color: #ffffff; border: 1px inset #000000; list-style-type:
none; font-size: 12px; color: #000000; }

.inputdotted { font-size: 12px; border-color:
black black #A0ABC0; border-style: dotted; border-top-width: 0px; border-right-width:
0px; border-bottom-width: 1px; border-left-width: 0px }

 .tableout { border: 1px solid #999999;
}

.tablegray {
  width:97%;
	height:97%;
	align:center;
	border: 1px solid #999999;
	text-indent: 12px;
	background-color: #FFFFFF;
}

.copyright
{ font-size: 10px; color: #666666; background-color: #F4F4F4; line-height: px;
} 

.tableall { width:100%; height: 340px; }

.s2 { font-family: "Arial", "Helvetica",
"sans-serif"; font-size: 10px; color: 6E6E70; }

.h12bold {
	font-size: 12px;
	font-family: "Arial", "Helvetica",
"sans-serif";
	font-weight: bold;
	color: #10659c;
}

.tableborderleft {
	background-image: url(../images/map_left.gif);
	border-top: 1px none #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px none #666666;
	border-left: 1px none #666666;

}

.tableborderright {

	background-image: url(../images/map_left.gif);
	border-top: 1px none #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px none #666666;
	border-left: 1px none #666666;
}

.tablegray2 {
	border: 0px solid #666666;
	background-color: #999999;
	line-height: 18px;
	text-indent: 12px;
}

.trcolor {
	background-color: #ECF3FB;
}

.trcolor1 {
	background-color: #deebf7;
}

.tableblue {

    width:97%;

	border: 1px solid #39a1e4;
	background-color: #FFFFFF;
	text-indent: 12px;
}

.tablebluemore {
    width:97%;

	border: 0px solid #39a1e4;
	background-color: #c6cfde;
	line-height: 18px;
	text-indent: 12px;
}

.tablebluemore1 {

    width:97%;

	border: 0px solid #39a1e4;
	background-color: #c6cfde;
	line-height: 20px;
}

.tablebluemore2 {
    width:97%;
	border: 1px solid #c6cfde;
	background-color: #deebf7;
	text-indent: 12px;
}

.inputblue {
	FONT-SIZE: 12px;
	font-family: "Arial", "Helvetica","sans-serif";
	TEXT-DECORATION: none;
	background-color: #ECF3FB;
	vertical-align: text-bottom;
	background-image: none;
	border: 1px solid #c6cfde;
	text-indent: 3pt;
}

<!-- 存放text的列的风格 -->
  .tdtextStyle{
                BACKGROUND-COLOR:#ECF3FB;
                height:20px;
                align:left;
                font-size:12px
               }

<!-- 存放label的列的风格,文字靠右 -->
  .tdlabelStyle{
                 BACKGROUND-COLOR:#ECF3FB;font-size:12px;height:20px;vertical-align:middle;text-align:right}
                 
<!-- 存放label的列的风格，文字居中 -->
  .tdlabelStyleC{
                 BACKGROUND-COLOR:#ECF3FB;font-size:12px;height:20px;vertical-align:middle;text-align:center}
                     
<!-- 存放清单样式数值的列的风格，底色为白色，文字居中 -->
  .tdlabelStyleW{
                 BACKGROUND-COLOR:#ECF3FB;font-size:12px;height:20px;vertical-align:middle;text-align:center}

<!-- 存放button的列的风格 -->
  .tdbuttonStyle{
                 BACKGROUND-COLOR:#ECF3FB;height:20px}

<!-- 下拉框风格 -->
.dropdownStyle{
	FONT-SIZE: 12px;
	font-family: "Arial", "Helvetica",
"sans-serif";
	TEXT-DECORATION: none;
	background-color: #ECF3FB;
	vertical-align: text-bottom;
	background-image: none;
	border: 1px solid #c6cfde;
	text-indent: 3pt;
}

<!-- 按钮风格 -->
  .buttonStyle {
	font-size: 12px;
	border:1px #000000 solid;
	color: #000000;
	cursor: hand;
	height: 20px;
	vertical-align:text-bottom;
	background-color: #FFFFFF;
	background-image: url(../images/map_main_in.gif);
	width: 70px;
}

<!-- 长按钮风格 -->
  .longbuttonStyle {
       		font-size:12px;
       		height:20px;
       		width:90px;
		background-color: #FFFFFF;
		background-image: url(../images/map_main_in.gif);
       		BORDER-BOTTOM: 1px outset;
       		BORDER-LEFT: 1px outset;
       		BORDER-RIGHT: 1px outset;
       		BORDER-TOP: 1px outset;
       		border:1px #000000 solid;
       		cursor: hand;
       		vertical-align:text-bottom}

<!-- 单行文本框风格 -->
 .textStyle{
	FONT-SIZE: 12px;
	font-family: "Arial", "Helvetica","sans-serif";
	TEXT-DECORATION: none;
	background-color: #ffffff;
	vertical-align: text-bottom;
	background-image: none;
	border: 1px solid #c6cfde;
	text-indent: 3pt;

 }
<!-- 短单行文本框风格 -->
 .shorttextStyle{
	FONT-SIZE: 12px;
	font-family: "Arial", "Helvetica","sans-serif";
	TEXT-DECORATION: none;
	background-color: #FFFFFF;
	vertical-align: text-bottom;
	background-image: none;
	border: 1px solid #c6cfde;
	text-indent: 3pt;
        width:60px;
 }

<!-- 多行文本框风格 其中在textarea的属性中rows＝4，cols＝65，由于技术原因，不能把rows及cols设进Style中 -->
  .textareaStyle{
                 font-size:14px;BACKGROUND-COLOR: #ECF3FB; BORDER-BOTTOM: 2px inset; BORDER-LEFT: 1px inset; BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; VERTICAL-ALIGN: text-bottom}
<!-- 长文本框风格 -->
 .longtextStyle{
	FONT-SIZE: 12px;
        width:400px;
	font-family: "Arial", "Helvetica","sans-serif";
	TEXT-DECORATION: none;
	background-color: #ffffff;
	vertical-align: text-bottom;
	background-image: none;
	border: 1px solid #c6cfde;
	text-indent: 3pt;

 }

