<STYLE>
	BODY {margin:0}
	.trType
		{font-size:13px;height:0px;font-color:#3C5184}
	.buttonType
		{font-size:12px;width:75px;}
	.smallbuttonType
		{font-size:12px;width:30px;}
	.textType
		{font-size:12px;width:155px;}
	.hidden_textType
		{font-size: 12px; border-color: #F0F0F0 #F0F0F0 #F0F0F0 #F0F0F0; background:#F0F0F0;border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; width:123px;}
	.drawdownType
		{font-size:12px;width:155px;}
	.textType_note_quit
		{font-size:12px;width:448px;}
	.textType_count
		{font-size:12px;font-family:"Times New Roman";width:450px;}
	.textType_note
		{font-size:12px;width:475px;}
	.drawdownType_bank
		{font-size:12px;width:472px;}
	.drawdownType_favour_user
		{font-size:12px;width:527px;}
	
	
	.numtextType
		{font-size:12px;width:155px;background:#E6E6E6;}
	.numbuttomType
		{font-size:12px;width:330px;background:#E6E6E6;}
		
	.middelProductType
		{font-size:12px;font-family:"Times New Roman";width:198px;}
		
	.middledrawdownType
		{font-size:12px;font-family:"Times New Roman";width:328px;}
	
	.middletextType
		{font-size:12px;font-family:"Times New Roman";width:330px;}
	
	
	
	.tabletype
		{width:620px}
	
	
	.notsType
		{font-size:11px;font-family:"Times New Roman";width:450px;}
	.alertType
		{font-size:11px;font-family:"Times New Roman";width:533px;}
	.alertTypeMiddle
		{font-size:11px;font-family:"Times New Roman";width:505px;}
	.row
		{font-size:11px;font-family:"Times New Roman"}
		
		

	.newtrType
		{font-size:13px;height:0px;font-color:#3C5184}
	.newtextType_note
		{font-size:12px;width:527px;}
	.newtextType
		{  font-size: 12px; width:123px;}
	.newtextType_test
		{  font-size: 12px; border-color: #4C5974 #4C5974 #4C5974 #4C5974; border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; width:123px;}
	.newdrawdownType
		{ font-size: 12px; width: 123px; border: 1px #4C5974 dotted; clip:rect(   );}
	.smalldrawdownType
		{font-size:12px;width:48px;}	
	.drawdownType_area
		{font-size:12px;width:197px;}
	.drawdownType_favour
		{font-size:12px;width:336px;}
	.drawdownType_bankcharge
		{font-size:12px;width:325px;}
	.newbuttonType
		{font-size:12px;width:65px;}
	.sourcebuttonType
		{font-size:12px;width:60px;}
	.tdborder
		{border:#FFFFFF solid;border-width:0 2 0 0}

	
	.trtest1Type
		{font-size:13px;height:0px;font-color:#3C5184}
	.trtest2Type
		{font-size:13px;height:0px;font-color:#3C5184}
		
	.centerType
		{font-size:13px;height:0px;background:#E6E6E6;text-align:center}
		
		
	.tdtest1Type
		{font-size:13px;height:0px;font-color:#3C5184;border-color:#A2BEE1;background:#A2BEE1;border-style:none;text-align:center}
	.tdnullType
		{font-size:13px;height:0px;font-color:#3C5184;border-color:#E6E6E6;background:#E6E6E6;border-style:none;text-align:center}

	.tableType
		{border-width:2;border-color:#000000;width:720px;height:0px;padding:1 1 1 1;border-spacing:2;background:#FFFFFF;}

		
	.tdoddType
		{font-size:13px;height:0px;font-color:#3C5184;border-color:#A2BEE1;background:#A2BEE1;border-style:none;text-align:left}
	.tdevenType
		{font-size:13px;height:0px;font-color:#3C5184;border-color:#A2BEE1;background:#E6E6E6;border-style:none;text-align:left}	
	.tdtitleType
		{font-size:13px;height:0px;font-color:#3C5184;border-color:#A2BEE1;background:#E6E6E6;border-style:none;text-align:center}

	.thebuttondiv
		{position: relative; width:100%; top: 600px; height:0px; z-index:2;visibility: show}

</STYLE>