<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<base href="/myAngular/app/views/">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <meta base="/mvc/app/views/">
    <title>FrontFramework</title>

    <link rel="stylesheet" href="/mvc/app/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/mvc/app/bower_components/angular-block-ui/dist/angular-block-ui.css">
    <link rel="stylesheet" href="/mvc/app/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/mvc/app/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/mvc/app/resources/framework/css/mainPageIndex.css">
    <link rel="stylesheet" href="/mvc/app/resources/framework/css/skin-blue.min.css">

    <script type="text/javascript">
        var jsContextPath = "/mvc/app/";
    </script>
    <script src="/mvc/app/bower_components/angular/angular.min.js"></script>
    <script src="/mvc/app/bower_components/angular/i18n/angular-locale_zh-cn.js"></script>
    <script src="/mvc/app/bower_components/angular/angular-animate.js"></script>
    <script src="/mvc/app/bower_components/angular/angular-touch.js"></script>
    <script src="/mvc/app/bower_components/angular/angular-route.js"></script>
    <script src="/mvc/app/bower_components/angularAMD/angularAMD.min.js"></script>
    <script src="/mvc/app/bower_components/angular/angular-sanitize.js"></script>
    <script src="/mvc/app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/mvc/app/bower_components/ui-bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

    <script src="/mvc/app/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="/mvc/app/bower_components/angularAMD/ngload.js"></script>
    <script src="/mvc/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/mvc/app/bower_components/fastclick/lib/fastclick.js"></script>

    <script src="/mvc/app/resources/framework/framework-service.js"></script>
    <script src="/mvc/app/resources/framework/framework-directive.js"></script>
    <script src="/mvc/app/resources/framework/framework-filter.js"></script>
    <script src="/mvc/app/resources/framework/main-page-index.js"></script>

    <!--以下引用自定义的指令JS文件，可修改进行自己的指令测试 -->
    <script src="/mvc/app/resources/framework/date-picker-directive.js.js"></script>

</head>
<body>
    <div ng-controller="directiveTest">
        <crm-date-picker dateformat="yyyy-MM-dd" ng-model="myDateValue" label="什么日期222："></crm-date-picker>
        <a href="javascript:void(0);" ng-click="getDate()">getDateeeee</a>
    </div>
</body>
</html>