body
{
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px;
	font-size:9pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

td
{
	font-size:9pt;
}

.user
{
	width:16px;
	height:16px;
	background: url(images/frame/user.gif) center center no-repeat;	
}

.logout
{
	width:36px;
	height:43px;
	cursor:pointer;
	background: url(images/frame/login.png) center center no-repeat;	
}

.logout_over
{
	width:36px;
	height:43px;
	cursor:pointer;
	background: url(images/frame/login-hover.png) center center no-repeat;	
}

.logo
{
	width:421px;
	height:43px;
	background: url(images/frame/top-logo.jpg) left center no-repeat;	
}


.help
{
	width:36px;
	height:43px;
	cursor:pointer;
	background: url(images/frame/help.png) center center no-repeat;	
}

.help_over
{
	width:36px;
	height:43px;
	cursor:pointer;
	background: url(images/frame/help-hover.png) center center no-repeat;	
}


.helpsmall
{
	width:33px;
	height:30px;
	cursor:default;	
	background: url(images/frame/helpsmall.jpg) center center no-repeat;	
}

.helpsmall-hover
{
	width:33px;
	height:30px;
	cursor:pointer;
	background: url(images/frame/helpsmall-hover.jpg) center center no-repeat;	
}

.addf
{
	width:33px;
	height:30px;
	cursor:default;
	background: url(images/frame/addf.jpg) no-repeat;	
}

.addf-hover
{
	width:33px;
	height:30px;
	cursor:pointer;
	background: url(images/frame/addf-hover.jpg) no-repeat;	
}

.rightbg
{
	width:4px;	
	background-color:#208785;	
}

.leftbg
{
	width:4px;	
	background-color:#208785;
}

.bottombg
{
	height:4px;
	background-color:#208785;
}


.favorite
{
	width:33px;
	height:30px;
	cursor:default;
	background: url(images/frame/favorite.gif) center center no-repeat;	
}

.favorite-hover
{
	width:33px;
	height:30px;
	cursor:pointer;
	background: url(images/frame/favorite-hover.jpg) center center no-repeat;	
}


.menubg
{
	width:33px;
	height:30px;
	cursor:default;	
	background: url(images/frame/menu.jpg) center center no-repeat;	
}

.search
{
	width:175px;
	height:21px;
}

.menubg-hover
{
	width:33px;
	height:30px;
	cursor:pointer;
	background: url(images/frame/menu-hover.jpg) center center no-repeat;	
}

.tabbg
{	
	height:30px;
	background: url(images/frame/tabbg.jpg) center center repeat-x;	
}


.top-bg
{	
	height:43px;
	background: url(images/frame/top-bg.jpg) center center repeat-x;	
}


.middlebg
{	
	width:5px;
	background: url(images/frame/middlebg.jpg) center center repeat-y;	
}

.helpbg
{
	background-color:#c3daf9;
	border:1px solid #6593cf;
	z-index:10001;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
}

.lock
{
	height:13px;
	width:13px;
	cursor:pointer;
	background: url(images/frame/lock.jpg) center center no-repeat;
	position: absolute;
	left:160px;
	top:5px;
}

.close
{
	height:13px;
	width:13px;
	cursor:pointer;
	background: url(images/frame/close.jpg) center center no-repeat;
	position: absolute;
	left:160px;
	top:5px;
}

.menuborder
{
  border-right:1px solid #b4b4b4;
  border-bottom:1px solid #b4b4b4;
  height:100%;  
}

.menunoborder
{  
	border-right:0px;
  border-bottom:0px;
  height:100%;  
}

.framebar
{ 
    background: url(images/frame/lefttitle-bg.jpg);
    height:26px;
    color:black;
    text-align:center;      
}

.mainBorder
{
	border-top:1px solid #bdbdbd;
  	border-left:1px solid #bdbdbd;
	border-right:1px solid #bdbdbd;
	border-bottom:1px solid #bdbdbd;
}

.closeHelp
{
	height:13px;
	width:13px;
	cursor:pointer;
	background: url(images/frame/close.jpg) center center no-repeat;
	position: absolute;
	left:180px;
	top:5px;
}

.lockHelp
{
	height:13px;
	width:13px;
	cursor:pointer;
	background: url(images/frame/lock.jpg) center center no-repeat;
	position: absolute;
	left:160px;
	top:5px;
}


.message
{
	height:32px;
	width:32px;
	padding-right: 32px;
	cursor:pointer;
	background: url(images/frame/message_empty.gif) center center no-repeat;	
}

.message_shine
{
	height:32px;
	width:32px;
	padding-right: 32px;
	cursor:pointer;
	background: url(images/frame/message_receive.gif) center center no-repeat;	
}

.callCenterbar
{
	height:28px;
	background: url(images/frame/callBar.jpg) center center repeat-x;
}

.timeBar
{
	height:35px;
	width:404px;
	position:absolute;
	top:10px;
	left:50px;
	background: url(images/frame/timeBar.jpg) center center no-repeat;
}

.callInput
{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;	
}

.callCenterbg
{
	height:28px;
	background: url(images/frame/tabbg.jpg) center center repeat-x;	
}