	<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" ng-controller="headController">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">TDFramework3.0&nbsp;<span
					id="sidebarCtrl"
					class="glyphicon glyphicon-chevron-left sidebarCtrl"
					aria-hidden="true" ng-click="sidebarClick()"></span></span></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown" ng-repeat="parentSystem in sysParent">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{parentSystem.fsystemName}} <span class="caret"></span></a>
					    <ul id="{{parentSystem.fsystemId}}" class="dropdown-menu">
					    <!-- 
					        <li ng-repeat="subSystem in sysSub|filter:{fparentSystemId:parentSystem.fsystemId}:subSysFilter"><a href="#">{{subSystem.fsystemName}}</a></li>
					    -->
					    <li ng-repeat="subSystem in sysSub|getSubSystem:parentSystem"><a href="#">{{subSystem.fsystemName}}</a></li>
					    </ul>
					</li>
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		              <ul class="dropdown-menu">
		                <li><a href="#">Action</a></li>
		                <li><a href="#">Another action</a></li>
		                <li><a href="#">Something else here</a></li>
		                <li role="separator" class="divider"></li>
		                <li class="dropdown-header">Nav header</li>
		                <li><a href="#">Separated link</a></li>
		                <li><a href="#">One more separated link</a></li>
		              </ul>
		            </li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
