<html>
  <head>

<!-- UTF-8 is the recommended encoding for your pages -->
    <meta http-equiv="content-type" content="text/xml; charset=utf-8" />
    <title>calendar</title>

<!-- Loading Theme file(s) -->
    <link rel="stylesheet" href="./themes/aqua.css" type="text/css"/>
    <link rel="stylesheet" href="./themes/layouts/big.css" type="text/css"/>

<!-- Loading Calendar JavaScript files -->
    <script type="text/javascript" src="./src/utils.js"></script>
    <script type="text/javascript" src="./src/calendar.js"></script>
    <script type="text/javascript" src="./src/calendar-setup.js"></script>

<!-- Loading language definition file -->
    <script type="text/javascript" src="./lang/calendar-big5.js"></script>

  </head>
  <body>
		<div style="position:absolute; center:0px; top:0px" id="calendar"></div>
    <script type="text/javascript">//<![CDATA[
	    var callBackInfo = dialogArguments;
	    var typeStr = callBackInfo.dateType;
	        
      function flatCalendarCallback(cal) {
        if (cal.dateClicked) {
        	 var date = cal.date.print("%Y-%m-%d %H:%M:%S");
        	 
        	 if(typeStr == "yyyymmddhhmiss")
        	 	callBackInfo.value = date;
        	 else if(typeStr == "yyyymmddhhmi")
        	 	callBackInfo.value = date.substring(0,16);
        	 else if(typeStr == "yyyymmddhh")
        	 	callBackInfo.value = date.substring(0,13);
        	 else
        	 	callBackInfo.value = date.substring(0,10);
        	 
        	 window.close();
        }
      };
    //]]></script>
    <script type="text/javascript">//<![CDATA[
      Zapatec.Calendar.setup({
        firstDay          : 1,
        weekNumbers       : true,
        showOthers        : false,
        showsTime         : true,
        timeFormat        : "24",
        step              : 2,
        range             : [1900.01, 2999.12],
        flat              : "calendar",
        flatCallback      : flatCalendarCallback
      });
    //]]></script>    
  </body>
</html>
