<table width='100%' id='mainOfferTable-${viewId}' border='0'
	class='main-prodoffer-table' cellpadding='0' cellspacing='1'
	style='border-collapse: collapse;'>
	<tp:for ds='viewInitData.prodOfferInfoList'>
		<tr>
			<td> 
				<div class='title_top'>
					<div style="vertical-align: middle;"
						class='mainprodoffer-class mainprodoffer-class-quit'
						prodOfferId = '${prodOfferInfoVO.prodOfferId}'  
						prodOfferType = '${prodOfferInfoVO.prodOfferType}'  
						offerKind = '${prodOfferInfoVO.offerKind}' 
						prodOfferInstId='${prodOfferInstId}'>
						&nbsp;&nbsp;
						<span style="vertical-align: middle; margin-right: 30px">销售品&nbsp;&nbsp;${prodOfferInfoVO.prodOfferName}</span>
						<!-- 销售品开始结束时间处理 -->
						<span > <!-- 销售品开始时间处理 -->
							<span style="vertical-align: middle; margin-left: 30px;">开始时间:
								<span class='startDate-class'>${startDate}</span>
						&nbsp;&nbsp;&nbsp;&nbsp;								
						</span> <!-- 销售品结束时间处理 --> <span
							style="vertical-align: middle; margin-left: 10px">结束时间: <span
								class='endDate-class'>${endDate}</span> </span> </span>
					</div>
				</div>
			</td>
		</tr>
	</tp:for>
	<!-- 接入类产品展现处理开始 -->
	<tr id='tr00'>
		<td>
			<table width='100%' border='1' cellpadding='0' cellspacing='0'
				bordercolor='#d9d9d9' style='border-collapse: collapse;'>
				<tr class='table_title'>
					<td width='35%'>
						产品信息
					</td>
					<td width='35%'>
						号码信息
					</td>
					<td width='28%'>
						子群信息
					</td>
				</tr>
				<tp:for ds='viewInitData.prodViewData'>
					<tr class='table_content mainProdTr-${viewId} main-product-basic'
						viewId='${viewId}' serviceKind='${serviceKind}' 
						productId='${productId}' uniqueId='${uniqueId}'
						serviceId="${serviceId}" prodInstId="${prodInstId}"  
						style='clear: both; background: #D7FFD7;'>
						<td width='30%'>
							<div style='float: left'>
								&nbsp;&nbsp;
								<input type='checkbox'
									${disabledOption} ${checkedOption} class='${viewId} main-product-check'
									name='prodInstCheck' 
									/>
								<!-- <span class='prodNameSpan-${viewId}'>${roleName}</span>-->
								&nbsp;
								<select name='mainProdSel-${viewId}' ${disabledOption}>
									<option value ='${productId}'>${productName}</option>
								</select>

							</div>
						</td>
						<td width='38%'>
							<div style=' margin-top: 5px; float: left;'>
								<input type='text' class='serviceId-${viewId}' name='serviceId' id='serviceId'
									DISABLED value='${serviceId}' />
							</div>
							<div style='float: left;'>
								&nbsp;
								<input type='radio'
									${disabledOption} ${checkedOption} class='serviceOperOld-${viewId}'
									name='serviceOper-${viewId}-${uniqueId}' value='1' />
								&nbsp;已有								
							</div>
							
						</td>
						<td width='30%'>
							<div style='float: left; margin-left: 10px'
								class='${prodAttrClass}'>
								<span style='${displayAddSubGroup}'>
									<input type='checkBox' class='subGroupOper-${viewId}'
										name='subGroupOper-${viewId}-${uniqueId}' 
										dojoAttachEvent="onclick:elementclick"
										dojoAttachTopic="/subGroup"  id="addSubGroup"/>
									加入&nbsp;
								</span>
								
								<span style='${displayChangeSubGroup}'>
									<input type='radio' class='subGroupOper-${viewId}'
										name='subGroupOper-${viewId}-${uniqueId}' 
										dojoAttachEvent="onclick:elementclick"
										dojoAttachTopic="/subGroup" id="changeSubGroup"/>
									变更&nbsp;
								</span>
								<span style='${displayChangeSubGroup}'>
									<input type='radio' class='subGroupOper-${viewId}'
										name='subGroupOper-${viewId}-${uniqueId}' 
										dojoAttachEvent="onclick:elementclick"
										dojoAttachTopic="/subGroup" id="quitSubGroup" />
									退出&nbsp;
								</span>
							</div>
						</td>
					</tr>
					<tr class="hidden-elem">
						<td colspan="4">
							<div class="subGroupInfo"
								style="margin-bottom: 20px; margin-top: 5px"></div>
							<div class="mainProdAttrInfo-${viewId}" style="display: none"></div>
						</td>
					</tr>

				</tp:for>
			</table>
		</td>
	</tr>
</table>