<div id="globalLayoutContainer">
<div id='orderDetailContainer' dojoType='unieap.layout.BorderContainer'>
	<!--
		<div dojoType='unieap.layout.BorderPane' region='bottom' title='支付关系' height='30%'></div>
	 -->
	<div dojoType='unieap.layout.BorderPane' region='left' title='企业信息'
		id='BorderPane' width='29%' height='100%'>
		<div
			dojoType='orderaccept.prodofferaccept.widget.memberordergroupproduct.MemberOrderGroupProductWidget' height='10%'></div>		

				<div id='AccordionContainer' dojoType='unieap.layout.AccordionContainer'
					height='500px'>
					<div dojoType='unieap.layout.AccordionPane' id='mainProdOfferTreePane'
						title='企业产品列表'></div>
				</div>

	</div>
	<div dojoType='unieap.layout.BorderPane' region='center' title='销售品受理'
		id='prodOfferAcceptPane'>
		<div style="text-align: right; padding-right: 10px;">
			<input type='button' class='showAllButton'
				style='cursor: pointer; color: red; margin-right: 3px;'
				id='display-all-href' title="展开所有面板"/>
			
			<input type='button' class="hideAllButton" style='cursor: pointer; color: red'
				id='hidden-all-href' title="隐藏所有面板"/>
		</div>
		<!--订单信息 -->
		<div dojoType='unieap.layout.TitlePane' id='orderInfoPane'
			title='订单信息' open='false'></div>
		<!--基础包受理 -->
		<div dojoType='unieap.layout.TitlePane' id='mainProdOfferPane'
			title='基础包受理' open='false'></div>
		<!-- 可选包受理-->
		<div dojoType='unieap.layout.TitlePane' title='可选包受理' open='false'
			style="height: 50%" id='subProdOfferPane'>
		</div>
		<!-- 选择支付关系-->
		<!-- 经办人信息-->
		<div dojoType='unieap.layout.TitlePane' title='经办人信息' open='false'
			style="overflow: auto" id='viaInfoPane'>
		</div>
		<!-- 经办人信息-->
	</div>
	<!-- 销售品受理结束 -->
</div>
<!--  整体border 布局结束 -->
</div>