<div id='subProdOfferTreeContainer${uniqueId}'
	dojoType='unieap.layout.BorderContainer' diffHeight=0>
	<div dojoType='unieap.layout.BorderPaneForSubOffer' id='subProdOfferBorderPan${uniqueId}'
		region='left' title='可选包目录树' width='20%' style="overflow-x: hidden; overflow-y: hidden;">
		<div id='subProdOfferTab${uniqueId}' dojoType='unieap.layout.TabContainer'
			height='90%'>
			<div dojoType='unieap.layout.ContentPane'
				id='subProdOfferquickAcceptPane${uniqueId}' title='便捷受理'>
				<div id='subProdOfferAccordionContainer${uniqueId}'
					dojoType='unieap.layout.AccordionContainer' height='100%'>
					<div dojoType='unieap.layout.AccordionPane'
						id='subProdOfferPersonalCollectResult${uniqueId}' title='个人收藏'></div>
				</div>
			</div>
			<div dojoType='unieap.layout.ContentPane' id='subProdOfferTreePane${uniqueId}'
				title='可选包目录树'></div>
			<div dojoType='unieap.layout.ContentPane'
					id='subProdOfferSearchResult${uniqueId}' title='搜索结果'></div>
		</div>
	</div>
	<div dojoType='unieap.layout.BorderPaneForSubOffer' id='subProdOfferCart${uniqueId}'
		region='center' title='可选包购物车' diffHeight=30></div>
</div>