<div id='orderDetailContainer' dojoType='unieap.layout.BorderContainer'>
	<!--
		<div dojoType='unieap.layout.BorderPane' region='bottom' title='支付关系' height='30%'></div>
	 -->
	<div dojoType='unieap.layout.BorderPane' region='left' title='销售品目录树'
		id='BorderPane' width='29%'>
		<div
			dojoType='orderaccept.prodofferaccept.widget.commheader.CommHeaderWidget'></div>
		<div id='TabContainer' dojoType='unieap.layout.TabContainer'
			height='90%'>
			<div dojoType='unieap.layout.ContentPane' id='quickAcceptPane'
				title='便捷受理'>
				<div id='AccordionContainer'
					dojoType='unieap.layout.AccordionContainer' height='90%'>
					<div dojoType='unieap.layout.AccordionPane'
						id='personalCollectResult' title='个人收藏'></div>
					<div dojoType='unieap.layout.AccordionPane' id='hotProdOfferResult'
						title='热点销售品'></div>
					<div dojoType='unieap.layout.AccordionPane'
						id='peddleProdOfferResult' title='推荐销售品'></div>
				</div>
			</div>
			<div dojoType='unieap.layout.ContentPane' id='mainProdOfferTreePane'
				title='销售品目录树'></div>
			<div dojoType='unieap.layout.ContentPane'
				id='mainProdOfferSearchResult' title='搜索结果'></div>
		</div>
	</div>
	<div dojoType='unieap.layout.BorderPane' region='center' title='销售品受理'
		id='prodOfferAcceptPane'>
		<!--订单信息 -->
		<div dojoType='unieap.layout.TitlePane' id='orderInfoPane'
			title='订单信息' open='false'></div>
		<!-- 经办人信息-->
		<div dojoType='unieap.layout.TitlePane' title='经办人信息' open='false'
			style="overflow: auto" id='viaInfoPane'>
		</div>
		<!--基础包受理 -->
		<div dojoType='unieap.layout.TitlePane' id='mainProdOfferPane'
			title='基础包受理' open='false'></div>
		<!-- 可选包受理-->
		<div dojoType='unieap.layout.TitlePane' title='可选包受理' open='false'
			style="height: 50%" id='subProdOfferPane'>
		</div>
		<!-- 促销政策受理-->
		<div dojoType='unieap.layout.TitlePane' title='促销政策受理' open='false'
			style="overflow: auto" height='40%' id='promotionPane'>
			<div id='promotionTreeContainer'
				dojoType='unieap.layout.BorderContainer'>
				<div dojoType='unieap.layout.BorderPane' id='PromotionTreePane'
					region='left' title='促销政策目录树' width='20%'></div>
				<div dojoType='unieap.layout.BorderPane' id='PromotionCart'
					region='center' title='促销政策购物车'></div>
			</div>
		</div>
		<!-- 促销政策受理结束-->
		<!-- 选择支付关系-->
		<div dojoType='unieap.layout.TitlePane' title='选择支付关系' open='false'
			style="overflow: auto" id='payRelationPane'>
		</div>
		<!-- 选择支付关系-->
		
		<!-- 经办人信息-->
		<!-- 管理账号-->
		<div dojoType='unieap.layout.TitlePane' title='客户认证账号' open='false'
			style="overflow: auto" id='manageNbrInfoPane'>
		</div>
		<!-- 管理账号-->
	</div>
	<!-- 销售品受理结束 -->
</div>
<!--  整体border 布局结束 -->
