<div id='promotionTreeContainer'
	dojoType='unieap.layout.BorderContainer'>
	<div dojoType='unieap.layout.BorderPane' id='promotionBorderPan'
		region='left' title='促销目录树' width='20%'>
		<div id='promotionTab' dojoType='unieap.layout.TabContainer'
			height='90%'>
			<div dojoType='unieap.layout.ContentPane'
				id='promotionQuickAcceptPane' title='便捷受理'>
				<div id='promotionAccordionContainer'
					dojoType='unieap.layout.AccordionContainer' height='100%'>
					<div dojoType='unieap.layout.AccordionPane'
						id='promotionPersonalCollectResult' title='个人收藏'></div>
				</div>
			</div>
			<div dojoType='unieap.layout.ContentPane' id='PromotionTreePane'
				title='促销目录树'></div>
			<div dojoType='unieap.layout.ContentPane'
					id='promotionSearchResult' title='搜索结果'></div>
		</div>
	</div>
	<div dojoType='unieap.layout.BorderPane' id='PromotionCart'
		region='center' title='促销购物车'></div>
</div>