.ComboBoxDiv2{
 position:  relative;
 z-index: 100
}
input.ComboBoxInput2 {
	/* font-size: 0.8em; */
	border: 0px;
	
}
span.spanMatchText2{
   text-decoration: underline;
   
   font-weight: bold;
  
}
table.ComboBox2 {
	border: 1px solid #FFCC66;
	background-color: white;
}
.ComboBoxListDiv2{
        border: 1px solid #FFCC66;
}
.ComboBoxItem2 {
	padding-left: 2px;
	padding-top: 2px;
	margin: 0px;
}

.ComboBoxItemEven2 {
	background-color: #FFCC66;
}

.ComboBoxItemOdd2 {
	background-color: white;
}
