
<ul class="sidebar-menu">
	<li class="treeview"><a href="javascript:void(0);"> <i
			class="fa fa-desktop"></i> <span showtext="1">系统管理</span> <i
			class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/admin/party_manage/member_change_info')"><i
					class="fa fa-circle-o"></i><span showtext="9">会员变动信息管理</span></a></li>
		</ul></li>
	<li class="treeview"><a href="javascript:void(0);"> <i
			class="fa fa-lock"></i> <span showtext="1">权限管理</span> <i
			class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
			<li><a href="javascript:void(0);"><i class="fa fa-circle-o"></i><span
					showtext="1">人员管理</span><i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
					<li><a href="javascript:void(0);"
						ng-click="menuClick($event,'/om/employee/dealEmployee')"><i
							class="fa fa-circle-o"></i><span showtext="9">人员管理22</span></a></li>
				</ul></li>
		</ul></li>
	<li class="treeview"><a href="javascript:void(0);"> <i
			class="fa fa-group"></i> <span showtext="1">会员管理</span> <i
			class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/party/info/partyInfo')"><i
					class="fa fa-circle-o"></i><span showtext="9">会员信息修改</span></a></li>
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/party/wallet/myWallet')"><i
					class="fa fa-circle-o"></i><span showtext="9">我的钱包</span></a></li>
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/party/rule/ruleSetting')"><i
					class="fa fa-circle-o"></i><span showtext="9">会员积分规则设定</span></a></li>
		</ul></li>
	<li class="treeview"><a href="javascript:void(0);"> <i
			class="fa fa-graduation-cap"></i> <span showtext="1">组件Demo</span> <i
			class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/om/employee/directiveTest')"><i
					class="fa fa-circle-o"></i><span showtext="9">指令测试</span></a></li>
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/demo/table/demo1')"><i
					class="fa fa-circle-o"></i><span showtext="9">Table Demo1</span></a></li>
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/demo/tips/demo2')"><i
					class="fa fa-circle-o"></i><span showtext="9">tips Demo2</span></a></li>
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/demo/process/demo3')"><i
					class="fa fa-circle-o"></i><span showtext="9">process Demo3</span></a></li>
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/demo/tabs/demo4')"><i
					class="fa fa-circle-o"></i><span showtext="9">tabs Demo4</span></a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-circle-o"></i><span
					showtext="1">Timepicker Demo5</span><i
					class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
					<li><a href="javascript:void(0);"
						ng-click="menuClick($event,'/demo/timepicker/demo5')"><i
							class="fa fa-circle-o"></i><span showtext="9">Timepicker
								Demo35</span></a></li>
				</ul></li>
			<li><a href="javascript:void(0);"><i class="fa fa-circle-o"></i><span
					showtext="1">Tooltip Demo6</span><i
					class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
					<li><a href="javascript:void(0);"
						ng-click="menuClick($event,'/demo/tooltip/demo326')"><i
							class="fa fa-circle-o"></i><span showtext="9">Tooltip
								Demo6</span></a></li>
				</ul></li>
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/demo/model/demo7')"><i
					class="fa fa-circle-o"></i><span showtext="9">model Demo7</span></a></li>
		</ul></li>
</ul>