<div class='buscard-root' style="margin: 5px;">
	<input type='hidden' value='${acceptProdOfferInfoVO.prodOfferId}'
		class='prodofferid-input' />
	<!--  
	<div class='buscard-legend'>
		<span class='buscard-legend-text'> 当前受理的销售品为 <span
			class="independence-prodoffer-name">${acceptProdOfferInfoVO.prodOfferName}</span>
			<span class='prompt-content-span'>${globalConfig.promptText}</span> </span>
	</div>
	-->
	<div class='buscard-content'
		style="padding: 0px; border-left: none; border-right:none; border-top: none; border-bottom:none;">
		<table cellpadding='0' cellspacing='0'
			style='border-collapse: collapse; width: 100%;'
			class='grid-global member-product-table'>
			<tr align="left" class="member-accept-header grid-th">
				<th>
					选择
				</th>
				<th>
					产品
				</th>
				<th>
					销售品
				</th>
				<th>
					状态
				</th>
				<th>
					功能
				</th>
				<th>
					操作
				</th>
			</tr>
			<tp:for ds='acceptProdOfferInfoVO.groupedOfferProdRelaList'>
				<tr prodInstId='${prodInstId}' prodOfferInstId='${prodOfferInstId}'
					productId='${productId}' class='member-product-tr'
					maxCount='${maxCount}' minCount='${minCount}'
					productName='${productName}' permitEnterComb="${permitEnterComb}">
					<td>
						<input type='checkbox'
							${CHECKED} ${DISABLED} class='member-product-checkbox'>
					</td>
					<td>
						<select class='product-select' prodInstId='${prodInstId}'
							dojoAttachEvent="onchange:elementchange"
							dojoAttachTopic="/accessProductSelect">
							<tp:loop ds='offerProdRelaList'>
								<option value="${productInfoVO.productId}">
									${productInfoVO.productName}
								</option>
							</tp:loop>
						</select>
					</td>
					<td>
						<select class='memeber-prodoffer-select'>
							<tp:loop ds='relatedOfferList'>
								<option value='${prodOfferId}'>
									${prodOfferName}
								</option>
							</tp:loop>
						</select>
					</td>
					<td>
						<span class='member-status'>${$$.memberStatus?$$.memberStatus:'订购'}</span>
					</td>
					<td class='member-func-td'>
						<tp:if $$.prodOfferInstId!=null>
							<div style="float: left"
								class="member-oper-div${$$.permitSplit==true?'':' hidden-elem'}">
								<input type="radio" name='${functionRadioName}' CHECKED class='member-offer-keep action-link action-selected'
									dojoAttachEvent='onclick:elementclick'
									dojoAttachTopic='/member-offer-keep'/><span class='member_keep_text'>变更</span>
								<input type="radio" name='${functionRadioName}'   class='member-offer-split action-link'
									dojoAttachEvent='onclick:elementclick'
									dojoAttachTopic='/member-offer-split'/><span class='member_split_text'>拆分</span>
								<input type="radio" name='${functionRadioName}'   class='member-offer-quit action-link'
									dojoAttachEvent='onclick:elementclick'
									dojoAttachTopic='/member-offer-quit'/><label class='member_quit_text'>退网</span>
							</div>
						</tp:if>
					</td>
					<td class="memeber-oper-td">
						<tp:if $$.permitAdd==true>
							<div style="float: left;">
								<img class='member-prodoffer-add-img'
									src='${$w.BusCard.path.contextPath}/common/images/button/add_button.png'
									style='cursor: pointer; width: 15px; height: 15px;'
									dojoAttachEvent='onclick:elementclick'
									dojoAttachTopic='/addMemberProdOffer' />

							</div>
						</tp:if>
					</td>
			</tp:for>
		</table>
	</div> 
	<div class='memeber-oper-div'>
		<button dojoAttachEvent='onclick:elementclick'
			class='buscard-common-button' style="display: none;"
			dojoAttachTopic="/mainprodoffer-check-button">
			检测
		</button>
		<input type ='button' dojoAttachEvent='onclick:elementclick'
			class='formButton'
			dojoAttachTopic="/mainprodoffer-confirm-button" value = "${globalConfig.buttonName}"/>

	</div>
</div>



