
.unieap .u-form-spinner-icon{
	position:relative;
	height:100%;
	width:20px;
	float:right;
}

.unieap .u-form-spinner-arrowup {
	background-image: url("../images/form/commonFormArrows.png");
	background-position: -174px 0px;
	border: 1px solid #7f9db9; 
	height: 8px; 
	width:100%;
	overflow:hidden;
	position: absolute;
	top:0px;
	display:block;
}

.unieap .u-form-spinner-arrowup-down {
	background-image: url("../images/form/commonFormArrows.png");
	background-position: -104px 0px;
}

.unieap .u-form-spinner-arrowdown {
	background-image: url("../images/form/commonFormArrows.png");
	background-position: -69px 0px;
	border: 1px solid #7f9db9; 
	width: 100%; 
	height: 8px; 
	position: absolute;
	overflow:hidden;
	display:block;
	bottom:0px;
}

.unieap .u-form-spinner-arrowdown-down {
	background-image: url("../images/form/commonFormArrows.png");
	background-position: 1px 0px;
}