.unieap .dijitOpen .u-form-fieldset-btn {
	background: transparent
		url("../images/form/fieldset/fieldsetSpirit.gif") no-repeat;
}

.unieap .dijitOpen .u-form-fieldset-mouseover .u-form-fieldset-btn {
	background: transparent
		url("../images/form/fieldset/fieldsetSpirit.gif") no-repeat;
}

.unieap .dijitClosed .u-form-fieldset-btn {
	background: transparent
		url("../images/form/fieldset/fieldsetSpirit.gif") no-repeat;
}

.unieap .dijitClosed .u-form-fieldset-mouseover .u-form-fieldset-btn {
	background: transparent
		url("../images/form/fieldset/fieldsetSpirit.gif") no-repeat;
}

.unieap .u-form-fieldset legend {
	color: #000;
	font-size: 12px;
	
}