/**
 * 个性化功能
 */
.unieap .u-grid-custom-up{
	background:#fff url("../images/form/button-bg.gif") repeat-x top left;
}
.unieap .u-grid-custom-down{
	background:#fff url("../images/form/button-bg.gif") repeat-x top left;
}
.unieap .u-grid-custom-save{
	background:#fff url("../images/form/button-bg.gif") repeat-x top left;
}
.unieap .u-grid-custom-apply{
	background:#fff url("../images/form/button-bg.gif") repeat-x top left;
}

