.unieap .u-titlepane-widget{
}

/**
 * @summary:
 * 		titlepane组件的title部分的样式
 */
.unieap .u-titlepane-title {
	background-image:url(../images/layout/titlebg.png);
	border:1px #bfbfbf solid;
	background-repeat: no-repeat;
	background-position: right;
} 

/**
 * @summary:
 * 		titlepane组件的title部分标题的样式
 */
.unieap .u-titlepane-titlenode {
	color:#2b2b2b;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:12px;
	font-weight: normal;
} 

/**
 * @summary:
 * 		titlepane组件的title部分表示展开收缩的标志位样式
 * 		"+"或者"-"
 */
.unieap .u-titlepane-arrownode {
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:12px;
	font-weight:bold;
} 

/**
 * @summary:
 * 		titlepane组件的title部分右上角的button按钮域的样式
 */
.unieap .u-titlepane-buttonfield {
}

/**
 * @summary:
 * 		titlepane组件的title部分右上角的button按钮域的样式
 */ 
.unieap .u-titlepane-buttonfield button{
}

/**
 * @summary:
 * 		titlepane组件下拉部分的外层样式
 */
.unieap .u-titlepane-content-outer {
	border:1px #bfbfbf solid;
	border-top:none;
	/** 增加背景颜色设置 **/
	background-color : #FFF;
	background-image:url("../images/layout/block_content_bg.gif");
	background-repeat:repeat-x;	
} 
.unieap .u-titlepane-content-wipe{
}

/**
 * @summary:
 * 		titlepane组件下拉部分的内层样式
 */
.unieap .u-titlepane-content-inner {
}

.unieap .dijitTabPane .loading,
.unieap .u-titlepane-content-inner .loading {
	background-image:url("../images/layout/loading.gif");
}


.dojoxResizeHandle {
    background-image: url('../images/layout/resize.png');
} 

.dojoxResizeNW {
} 

.dojoxResizeNE {
} 
.dojoxResizeW {
} 
.dojoxResizeN {
} 
.dojoxResizeHandleClone {
}

.unieap .u-titlepane-moveHandle{
	background:url('../images/layout/dndMove.png');
}

.unieap .u-contentpane-iframe{
}
