body {

font-size; font-size: 12px: 12px; line-height: 16px} 
table { font-size: 12px; color: #000000; line-height: 16px} 

a { font-size: 12px; color: #FF3300; text-decoration: 
underline; line-height: 16px} 
a:hover { color: #FF6600; text-decoration: none} 
.cn_12px_white {  font-family: "ו"; font-size: 12px; line-height: 23px; color: #FFFFFF; text-decoration: none}
.table_space {  padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}
.en_12 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; text-decoration: none}
.cn_12px_black { font-family: "ו"; font-size: 12px; line-height: 23px; color: #000000; text-decoration: none }
.Menu120 {  width: 120px; font-family: "ו"; font-size: 12px; color: #000000}