/* ************************** */
/* ************************** */
body {
color:#000000;
background-color:#F7F7FF;
font-size:12px;

font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
scrollbar-3dlight-color:#999999;
scrollbar-arrow-color:#666666;
scrollbar-darkshadow-color:#999999;
scrollbar-face-color:#E0E0E0;
scrollbar-highlight-color:#EEEEEE;
scrollbar-shadow-color:#EEEEEE;
scrollbar-track-color:#F3F3F3;

margin:0px;
padding:0px;
overflow-y: hidden; 
overflow-x: hidden; 

}

div {
font-size:12px;
font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
margin:0px;
padding:0px;
}

span {
font-size:12px;
font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

table{
padding:0px;
margin:0px;	
}
td {
font-size:12px;
font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
}

img {
border:0px;
margin:0px;
padding:0px;
}

form {
margin:0px;
padding:0px;
}

P {
font-size:12px;
font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
margin:2px;
}

A {
white-space:nowrap;word-break:keep-all;word-wrap:normal;

}
	A:link {text-decoration:none; color: black}
	A:visited {text-decoration:none; color: #000000}
	A:active {text-decoration:none;}
	A:hover {text-decoration:none; color: #aaaaaa}

	A.lv1:link {text-decoration:none; color: black}
	A.lv1:visited {text-decoration:none; color: #000000}
	A.lv1:active {text-decoration:none;}
	A.lv1:hover {text-decoration:none; color: #f15c24; }
	

.menutitle {
	border-bottom:0px solid #f15c24;
	margin-bottom:0px;
	table-layout:fixed;
	width:100%;

}
.menutitle1_l{
background-image:url(../images/u_t1_l_dx.gif);
background-repeat: repeat-x;
font-family:"黑体","Arial Black","Verdana","Arial","Helvetica","sans-serif","宋体";
font-size:1px;
font-weight:normal;
padding-top:0px;
vertical-align:middle;
height:37px;
width:20px;
}
.menutitle1_m{
background-image:url(../images/u_t1_m_dx.gif);
font-family:"黑体","Arial Black","Verdana","Arial","Helvetica","sans-serif","宋体";
font-size:14px;
text-align: center;
color: #ffffff;
font-weight: bold;
padding-left:0px;
padding-top:0px;
vertical-align:middle;
white-space:nowrap;
word-break:keep-all;
height:37px;
}
.menutitle1_r{
background-image:url(../images/u_t1_r_dx.gif);
font-family:"黑体","Arial Black","Verdana","Arial","Helvetica","sans-serif","宋体";
font-weight:normal;
padding-top:4px;
vertical-align:middle;
height:37px;
width:20px;
}



#lastMenuDiv {
	width:100%;
	display:block;
}
#lastMenuDiv A {
	width:100%;
}
#lastMenuDiv span {
	width:100%;
	background-repeat: no-repeat;
}

#favMenu {
	width:100%;
	display:block;
}
#favMenu A {
	width:100%;
}
#favMenu span {
	width:100%;
	background-repeat: no-repeat;
}

#mainMenu {
	width:100%;
	display:block;
}
#mainMenu A {
	width:100%;
}
#mainMenu span {
	width:100%;
	background-repeat: no-repeat;
}

.topLevel {
	padding:5px 0px 2px 18px;
	background-image:url("../images/u_index_t24_dx.gif");
	background-repeat: no-repeat;
	background-position: 2px 5px;
	cursor: pointer;
	width:100%;
	
}

.menuNode span {


}

.mLevel1 {
   background-color:#d8d8d8;
	padding:5px 0px 2px 15px;
	background-image:url("../images/u_index_t27_dx.gif");
	background-position: 3px 6px;
}

.mLevel1open {
   background-color:#d8d8d8;
	padding:5px 0px 2px 15px;
	background-image:url("../images/u_index_t25_dx.gif");
	background-position: 3px 6px;
}
.mLevel1c {
   background-color:#d8d8d8;
	padding:5px 0px 2px 15px;
	background-image:url("../images/u_index_t26_dx.gif");
	background-position: 5px 8px;
}

.mLevel2 {
	background-color:#e9e9e9;
	padding:5px 0px 2px 22px;
	background-image:url("../images/u_index_t27_dx.gif");
	background-position: 10px 6px;
}
.mLevel2open {
	background-color:#e9e9e9;
	padding:5px 0px 2px 22px;
	background-image:url("../images/u_index_t25_dx.gif");
	background-position: 10px 6px;
}
.mLevel2c {
	background-color:#e9e9e9;
	padding:5px 0px 2px 22px;
	background-image:url("../images/u_index_t26_dx.gif");
	background-position: 12px 8px;
}

.mLevel3 {
	background-color:#f5f5f5;
	padding:5px 0px 2px 30px;
	background-image:url("../images/u_index_t27_dx.gif");
	background-position: 18px 6px;
}
.mLevel3open {
	background-color:#f5f5f5;
	padding:5px 0px 2px 30px;
	background-image:url("../images/u_index_t25_dx.gif");
	background-position: 18px 6px;
}
.mLevel3c {
	background-color:#f5f5f5;
	padding:5px 0px 2px 30px;
	background-image:url("../images/u_index_t26_dx.gif");
	background-position: 20px 8px;
}


.mLevel4 {
	background-color:#f5f5f5;
	padding:5px 0px 2px 38px;
	background-image:url("../images/u_index_t27_dx.gif");
	background-position: 26px 6px;
}
.mLevel4open {
	background-color:#f5f5f5;
	padding:5px 0px 2px 38px;
	background-image:url("../images/u_index_t25_dx.gif");
	background-position: 26px 6px;
}
.mLevel4c {
	background-color:#f5f5f5;
	padding:5px 0px 2px 38px;
	background-image:url("../images/u_index_t26_dx.gif");
	background-position: 28px 8px;
}

.mLevel5 {
	background-color:#f5f5f5;
	padding:5px 0px 2px 46px;
	background-image:url("../images/u_index_t27_dx.gif");
	background-position: 34px 6px;
}
.mLevel5open {
	background-color:#f5f5f5;
	padding:5px 0px 2px 46px;
	background-image:url("../images/u_index_t25_dx.gif");
	background-position: 34px 6px;
}
.mLevel5c {
	background-color:#f5f5f5;
	padding:5px 0px 2px 46px;
	background-image:url("../images/u_index_t26_dx.gif");
	background-position: 36px 8px;
}

.mLevel6 {
	background-color:#f5f5f5;
	padding:5px 0px 2px 54px;
	background-image:url("../images/u_index_t27_dx.gif");
	background-position: 42px 6px;
}
.mLevel6open {
	background-color:#f5f5f5;
	padding:5px 0px 2px 54px;
	background-image:url("../images/u_index_t25_dx.gif");
	background-position: 42px 6px;
}
.mLevel6c {
	background-color:#f5f5f5;
	padding:5px 0px 2px 54px;
	background-image:url("../images/u_index_t26_dx.gif");
	background-position: 44px 8px;
}

.mLevel7 {
	background-color:#f5f5f5;
	padding:5px 0px 2px 62px;
	background-image:url("../images/u_index_t27_dx.gif");
	background-position: 50px 6px;
}
.mLevel7open {
	background-color:#f5f5f5;
	padding:5px 0px 2px 62px;
	background-image:url("../images/u_index_t25_dx.gif");
	background-position: 50px 6px;
}
.mLevel7c {
	background-color:#f5f5f5;
	padding:5px 0px 2px 62px;
	background-image:url("../images/u_index_t26_dx.gif");
	background-position: 52px 8px;
}

.mLevel8 {
	background-color:#f5f5f5;
	padding:5px 0px 2px 70px;
	background-image:url("../images/u_index_t27_dx.gif");
	background-position: 58px 6px;
}
.mLevel8open {
	background-color:#f5f5f5;
	padding:5px 0px 2px 70px;
	background-image:url("../images/u_index_t25_dx.gif");
	background-position: 58px 6px;
}
.mLevel8c {
	background-color:#f5f5f5;
	padding:5px 0px 2px 70px;
	background-image:url("../images/u_index_t26_dx.gif");
	background-position: 60px 8px;
}
