/* ************************** */
/* ************************** */
/*********全局变量**********/
*{	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体", "黑体";
	font-size: 12px;
	color:#555;
}
body {
		margin: 0px;
		overflow-y:auto;	
 		scrollbar-face-color: #f2f2f2;
        scrollbar-highlight-color: #f2f2f2;
        scrollbar-shadow-color: #f2f2f2;
        scrollbar-3dlight-color: #f2f2f2;
        scrollbar-arrow-color:  #d71920;
        scrollbar-track-color: #d1d1d1;
        scrollbar-darkshadow-color: #d1d1d1;
		overflow-x:hidden;
}
body>table,body>div { margin-left:auto; margin-right:auto;}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix { display:inline-block;}
.clearfix { display:block;}

/********框架页面**********/

/*全局样式*/

td {
	font-size: 12px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	COLOR: #ff6600;text-decoration: underline;
}
a:active {
	COLOR: #ff6600;text-decoration: underline;
}

.infoT{
    background-color:#468DD8;
	height:18px;
	
}
A.infoT-switch:link   {	color: #666666;  TEXT-DECORATION: none } 
A.infoT-switch:visited   {	color: #666666;  TEXT-DECORATION: none } 
A.infoT-switch:active   {	color: #84FE5F;  TEXT-DECORATION: none } 
A.infoT-switch:hover   {	color: #84FE5F;  TEXT-DECORATION: none } 

A.infoT-title:link   {	color: #666666;  TEXT-DECORATION: none } 
A.infoT-title:visited   {	color: #666666;  TEXT-DECORATION: none } 
A.infoT-title:active   {	color: #84FE5F;  TEXT-DECORATION: none } 
A.infoT-title:hover   {	color: #84FE5F;  TEXT-DECORATION: none } 


/*页头部分*/
.head {
	background-image: url(../images/head_bg.gif);
	height:56px;/*add-m*/
}
.head-line {
	background-image: url(../images/head_size.gif);
	height:4px;/*add-m*/
	background-repeat:x ;
	width:90%
}
.head-infobox {
    background-image: url(../images/head_infobox_bg.gif);/*add-m*/
	background-color: #FFFFFF;
	color: #666666;
	height:22px;/*add-m*/
}
.head-logo {
	background-repeat:no-repeat;
	width: 242px;/*add-m*/
	height: 56px;
}
.head-systemname {
	background-image: url(../images/frame/head_systemname.gif);
	width: 178px;	/*add-m*/
	height: 27px;/*add-m*/
}
.head-companyname{/*add-m*/
        color:#555555;
        font-size:18px;
        font-weight:bolder;
        padding-left: 6px;
        padding-top: 11px;
        valign:middle;
}
/*top菜单*/
.top-menu-button-diver {
	height: 15px;
	width: 2px;
}
.top-menu-button-on {
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; font-size: 14px; font-weight: bold;
	color: #CC0000;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 7px;
	cursor: hand;
}
.top-menu-button.active{
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; font-size: 14px; font-weight: bold;
	color: #CC0000;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 7px;
	cursor: hand;
}
.top-menu-button.hover{
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-weight: bold;
	color: #ff5555;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 7px;
	cursor: hand;
}
.top-menu-button {
    FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; font-size: 14px;font-weight: bold;
	color: #666666;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 7px;
	cursor: hand;	
}
#level2_menu{
	height:50px;
	width:100%;
	border: 0px;
	font-size: 12px;
}

/*body菜单*/
.body-menu {
	background-image: url(../images/body_menu_bg.gif);
	background-position: top;
}
.body-menu-button-left {
	background-image: url(../images/body_menu_button_left.gif);
	height: 26px;
	width: 3px;
	background-position: top;
	
}
.body-menu-button {
	background-image: url(../images/frame/body_menu_button_bg.gif);
	color: #fff;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 5px;
	cursor: hand;
	background-position: top;
}
.body-menu-button-right {
	background-image: url(../images/body_menu_button_right.gif);
	height: 26px;
	width: 3px;
	background-position: top;
}
.body-menu-button-left-on {
	background-image: url(../images/body_menu_button_left_on.gif);
	height: 26px;
	width: 3px;
	background-position: top;
	background-repeat: repeat-x;
}
.body-menu-button-on {
	background-image: url(../images/body_menu_button_bg_on.gif);
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bold;
	color:000
	color: #FFFFFF;
	padding-top: 5px;
	cursor: hand;
	background-position: top;
}
.body-menu-button-right-on {
	background-image: url(../images/body_menu_button_right_on.gif);
	height: 26px;
	width: 3px;
	background-position: top;
	background-repeat: repeat-x;
}
.body-menu-button-diver {
	height: 26px;
	width: 1px;
	background-position: top;
}
.body-menu-buttonstd {
	text-align: left;
	padding-left: 10px;
}
.body-menu-layoutswitcherstd {
    width:138px;
	text-align:right;
    padding:7px 4px 0 0;
	background-image: url(../images/body_menu_bg_right.gif);
}
.body-menu-underline {/*M*/
        background-image: url(../images/body-menu-underline-bg.gif);
		background-color: #D6D6D4;
		height: 2px;
}

.body-submenu {
        background-image: url(../images/body_submenu_tbg.gif);/*M*/
		background-color: #ECECEC;
		padding-left: 16px;
		height: 22px;
}
.body-submenu-button {
	color: #636262;
	height: 22px;
	padding-top: 2px;
	cursor: hand;
}
.body-submenu-button-on {
	color: #D71920;
	background-image: url(../images/body_submenu_button_bg_on.gif);
	background-position: center bottom;
	padding-top: 2px;
	height: 22px;
	cursor: hand;
	font-weight: bold;
	background-repeat: repeat-x;
}
.hide{display:none}
.l2_switch{
	background-image:url(../images/body_menu_bg.gif);
	width:16px;
}
.l3_switch{
	background-image:url(../images/body_menu_bg_l3.gif);
	width:16px;
}
.l2_menu{
    white-space:nowrap;
    /*overflow:hidden;*/
    float:left;
	height:26px;
	width:100%;
	background-image:url(../images/body_menu_bg.gif);
	overflow: auto;
}
.l2_menu ul{
    margin:0;
	padding:0px 5px 0 10px;
	list-style:none;
}
.l2_menu li{
    display:inline;
    margin:0;
    padding:0;
}
.l2_menu a{
    float:left;
    margin:0;
    padding:0 0 0 3px;
	text-decoration:none;
}
.l2_menu a span{
	width:82px;
	text-align: center;
    color:#FFFFFF;
    float:left;
    display:block;
	cursor:hand;
    padding:9px 3px 3px 1px;
}
.l2_menu a:hover {
	background:url(../images/body_menu_button_left_on.gif) no-repeat left top;
	text-decoration: none;
}
.l2_menu a:hover span {
	width:82px;
	text-align: center;
    color:#555;
	font-weight:bold;
    background:url(../images/body_menu_button_right_on.gif) no-repeat right top;

}
.aaa{
	background:url(../images/body_menu_button_left_on.gif) no-repeat left top;
	text-decoration: none;
}
.sss{
    color:#555;
	font-weight:bold;
    background:url(../images/body_menu_button_right_on.gif) no-repeat right top;
}


.l3_menu{
	white-space:nowrap;
    padding:0 0 0 15px;
    height:24px;
	width:100%;
	background-image:url(../images/body_menu_bg_l3.gif);
	text-decoration:none;
	overflow: auto;
}
.l3_menu ul{
    margin:5px 5px 0 0;
	/*padding:5px 5px 0 10px;*/
	list-style:none;
	text-decoration:none;  
}
.l3_menu li{
    color:#636262;
    display:inline;
    margin:0;
    padding:0;
	text-decoration:none;
}
.l3_menu a{
    color:#636262;
    float:left;
    padding:0;
    margin:0 15px 15px 0;
	text-decoration:none;
}
.l3_menu a span{
    float:left;
    display:block;
	cursor:hand;
}
.l3_menu a:hover{
	color:#D71920;
	background-image:url(../images/body_submenu_button_bg_on.gif);
	padding:0 0 3px 0;
	background-position: center;
	background-repeat: no-repeat;
	text-decoration: none;
}
.l3_menu a:hover span {
    color:#D71920;
}
.l3_c{
	color:#D71920;
	background-image:url(../images/body_submenu_button_bg_on.gif);
	filter:
        Dropshadow(offx=1,offy=0,color=#D71920);
	padding:0 0 3px 0;
	background-position: center;
	background-repeat: no-repeat;
	text-decoration: none;
}
.l3_o{
    color:#636262;
    float:left;
    padding:0;
    margin:0 15px 0 0;
	text-decoration:none;
}


/*********旧样式**********/

div {
font-size:12px;
font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
margin:0px;
padding:0px;
}

span {
font-size:12px;
font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
}

table{
padding:0px;
margin:0px;	
}
td {
font-size:12px;
font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
}

P {
font-size:12px;
font-family: "宋体","Verdana","Arial","Helvetica","sans-serif";
margin:2px;
}

img {
border:0px;
margin:0px;
padding:0px;
}

form {
font-size:12px;
margin:0px;
padding:0px;
}

BUTTON {
font-size:12px;
word-break:keep-all;word-wrap:normal;white-space:nowrap;
}


LI {
font-size:12px;
}


A {
color:#111111;
text-decoration:none;
}
A:link {}
A:visited {}
A:hover {
color:#999999;

}
A:active {}




/* ************************** */
/* ************************** */

.alignLeft{
	text-align:center;
}
.alignCenter{
	text-align:center;
}
.alignRight{
	text-align:center;
}


.breakLine {
white-space:normal;word-break:normal;word-wrap:normal;
}

.breakLine TD {
white-space:normal;word-break:normal;word-wrap:normal;
}

.noBreakLine {
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

.noBreakLine TD {
white-space:nowrap;word-break:keep-all;word-wrap:normal;
}


/* ************************** */
/* ************************** */


.mainframeBody{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
color:#000000;
overflow-x:hidden;
overflow-y:hidden;
}



.topmenubox td {
	cursor:pointer;
	color:#fff9f3;
	background-color: #D71920;
	height:32px;
	text-align:center;
	vertical-align:middle;
	font-weight: bold;
	padding:0px 0px 0px 0px;
	white-space:normal;word-wrap:break-word;word-break:break-all;
	/* white-space:nowrap;word-break:keep-all;word-wrap:normal; */

}

.overTopmenu {
	cursor:pointer;
	color:#FFFFFF;
	background-color: #ffffff;
	height:32px;
	text-align:center;
	vertical-align:middle;
	font-weight: bold;
	padding:0px 0px 0px 0px;
	white-space:normal;word-wrap:break-word;word-break:break-all;
}




li.onme {
height:18px;
vertical-align:middle;
padding:4px 5px 0px 5px;
border-left:0px solid  #ffffff;
border:0px solid #cccccc;
display:inline;
cursor:pointer;
color:#cc6622;
}

li.onme:first-letter{
color: #D71920;
padding-right:2px;
font-size:10px;
}



#rightMenu {
width:100%;text-align:right;	white-space:nowrap;word-break:keep-all;word-wrap:normal;
}

#rightMenu a {
margin:0px 3px 0px 3px;
}

#rightMenu div {
text-align:right;
height:22px;
width:80px;
margin-top:2px;
padding:3px 1px 1px 1px;
border:0px solid #cccccc;
border-right:4px solid #D71920;
}

#topMenuDiv {
background-image:url(../images/u_topmenu_bg.gif);
border:0px;
width:100%;
height:32px;
overflow-x:hidden;
overflow-y:hidden;
}
