<div class='tabContainer'>
	<div dojoAttachPoint='tabNest' class="tabContainer-nest">
		<div dojoAttachPoint='tablistContainer'
			class='tab-scrolling-container'>

			<div class='tab-scrolling' dojoAttachPoint='scrollingNode'
				style='position: relative'>

				<div style='float: left;' dojoAttachPoint='fixbutton'>


					<div dojoType='unieap.form.DropDownButton_crm' label='功能导航'
						onArrowClick='menuNaviBtn(this);' id='menuDropDownBtn'>
						
						<div dojoType='unieap.form.FieldSet' flexible='false' showIcon="false"
							id='menuFieldSet' jsId='divFieldSet' height='510px' width='236px'
							style='overflow-x:hidden;overflow-y:hidden;'>


							<div dojoType='unieap.form.DropDownButton_crm_extend' label='请选择系统'
								id='sysDropDownBtn'>
								
								<div dojoType='unieap.form.FieldSet-crm' flexible='false' showIcon="false"
									id='sysFieldSet' jsId='divSysFieldSet'
									 style='width:190px;height:400px;overflow-x:hidden;overflow-y:hidden;'>
									 <div id="sysNaviDiv"></div>
								</div>
								
							</div>

							<input type=text id='foc' style='display: none'>
							
							<div dojoType='unieap.form.ComboBox' hasDefault='true' width='218px'
								jsId='combobox1' onFocus='inputSearchMenu' hasDefault='false' textValidate='true' 
								onIconClick='searchMenu' onEnter='searchMenu'
								id='comboxMenuNavi' name='comboxMenuNaviInput'>
							</div>
							
							<div dojoType='unieap.tree.Tree'
								style='height: 445px; overflow-x: hidden; overflow-y: auto'
								id='menuNaviTree' onClick='menuClick'
								binding="{'leaf':'ifChild','id':'menuId','store':initStore,'label':'menuName','parent':'parentMenuId',query:{name:'parentMenuId',relation:'=',value:''}}">
							</div>
						</div>
					</div>
					&nbsp;&nbsp;
				</div>

				<div dojoAttachPoint='tablistNode'></div>


			</div>
		</div>
		<div dojoAttachPoint='tablistSpacer' class='tabSpacer'
			style='dispaly: none;'></div>
		<div class='tabPaneWrapper' dojoAttachPoint='containerNode'
			style='overflow-x:hidden;overflow-y:hidden;;width:100%;'></div>
	</div>
</div>