<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="com.neusoft.uniflow.file"
		class="org.apache.log4j.RollingFileAppender">
		<!-- 设置通道ID:com.neusoft.uniflow和输出方式：org.apache.log4j.RollingFileAppender -->
		<!-- 设置File参数：日志输出文件名 -->
		<param name="File" value="C:/logs/engine.log" />
		<param name="Append" value="true" /><!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="MaxBackupIndex" value="10"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d &gt;&gt; %5p &gt;&gt; %t &gt;&gt; [UniEAP_Workflow] &gt;&gt; %l &gt;&gt; %m%n" />
		</layout>
		<!-- 配置日志输出的格式
			参数都以%开始后面不同的参数代表不同的格式化信息（参数按字母表顺序列出）：
			%c     输出所属类的全名，可在修改为 %d{Num} ,Num类名输出的围  如："org.apache.elathen.ClassName",
			%C{2}将输出elathen.ClassName 
			
			%d     输出日志时间其格式为 %d{yyyy-MM-dd HH:mm:ss,SSS}，可指定格式 如 %d{HH:mm:ss}
			%l     输出日志事件发生位置，包括类目名、发生线程，在代码中的行数
			%n     换行符
			%m     输出代码指定信息，如info(“message”),输出message
			%p     输出优先级，即 FATAL ,ERROR 等
			%r     输出从启动到显示该log信息所耗费的毫秒数
			%t     输出产生该日志事件的线程名-->
	</appender>

	<appender name="com.neusoft.uniflow.appfile"
		class="org.apache.log4j.RollingFileAppender">
		<!-- 设置通道ID:com.neusoft.uniflow和输出方式：org.apache.log4j.RollingFileAppender -->
		<!-- 设置File参数：日志输出文件名 -->
		<param name="File" value="C:/logs/application.log" />
		<param name="Append" value="true" /><!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="MaxBackupIndex" value="10"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d &gt;&gt; %5p &gt;&gt; %t &gt;&gt; [UniEAP_Workflow] &gt;&gt; %l &gt;&gt; %m%n" />
		</layout>
	</appender>

	<appender name="com.neusoft.uniflow.timerfile"
		class="org.apache.log4j.RollingFileAppender">
		<!-- 设置通道ID:com.neusoft.uniflow和输出方式：org.apache.log4j.RollingFileAppender -->
		<!-- 设置File参数：日志输出文件名 -->
		<param name="File" value="C:/logs/timmer.log" />
		<param name="Append" value="true" /><!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="MaxBackupIndex" value="10"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d &gt;&gt; %5p &gt;&gt; %t &gt;&gt; [UniEAP_Workflow] &gt;&gt; %l &gt;&gt; %m%n" />
		</layout>
	</appender>

	<appender name="com.neusoft.uniflow.toolListenerfile"
		class="org.apache.log4j.RollingFileAppender">
		<!-- 设置通道ID:com.neusoft.uniflow和输出方式：org.apache.log4j.RollingFileAppender -->
		<!-- 设置File参数：日志输出文件名 -->
		<param name="File" value="C:/logs/toolListener.log" />
		<param name="Append" value="true" /><!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="MaxBackupIndex" value="10"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d &gt;&gt; %5p &gt;&gt; %t &gt;&gt; [UniEAP_Workflow] &gt;&gt; %l &gt;&gt; %m%n" />
		</layout>
	</appender>

	<appender name="com.neusoft.uniflow.console"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy/MM/dd-HH:mm:ss} &gt;&gt; %5p &gt;&gt; %t &gt;&gt; %l &gt;&gt; %m%n" />
		</layout>
	</appender>

	<appender name="com.neusoft.uniflow.session"
		class="org.apache.log4j.RollingFileAppender">
		<!-- 设置通道ID:com.neusoft.uniflow和输出方式：org.apache.log4j.RollingFileAppender -->
		<!-- 设置File参数：日志输出文件名 -->
		<param name="File" value="C:/logs/session.log" />
		<param name="Append" value="true" /><!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="MaxBackupIndex" value="10"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d &gt;&gt; %5p &gt;&gt; %t &gt;&gt; [UniEAP_Workflow] &gt;&gt; %l &gt;&gt; %m%n" />
		</layout>
	</appender>

	<appender name="org.jgroups.console"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p [%t] %C (%F:%L) - %m\n" />
		</layout>
	</appender>

	<!-- ================================================================= -->
	<!--                       a console appender                          -->
	<!-- ================================================================= -->
	<appender name="form.console.log"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="FORM LOG:  [%d{yyyy-MM-dd HH:mm:ss}] %5p -%m%n" />
		</layout>
	</appender>

	<!-- ================================================================= -->
	<!--                     a file appender                               -->
	<!-- ================================================================= -->
	<appender name="form.file.log"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="C:/form.file.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d - %c -%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<!-- ================================================================= -->
	<!--                     a rolling file appender                       -->
	<!-- ================================================================= -->
	<appender name="form.rollfile.log"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/form.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="4096KB" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="FORM LOG: %p [%d{yyyy-MM-dd HH:mm:ss}] -%m  %n" />
		</layout>
	</appender>

	<!-- ================================================================= -->
	<!--                     a HTML file Layout                            -->
	<!-- ================================================================= -->
	<appender name="form.htmlfile.html"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${uniflow.log}/form.htmlfile.html" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="4096KB" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.HTMLLayout"></layout>
	</appender>

	<!-- ================================================================= -->
	<!--                     log db operate                                -->
	<!-- ================================================================= -->
	<appender name="DBAppender"
		class="com.neusoft.tdframework.log.DBAppender">
		<layout
			class="com.neusoft.unieap.service.log.DBPatternLayout">
			<param name="ConversionPattern"
				value="INSERT INTO OM_LOG4J(LOG_DATE, LOG_CATEGORY, LOG_PRIORITY, LOG_MESSAGE) VALUES (to_date('%d{yyyy/MM/dd-HH:mm:ss}','YYYY/MM/DD-HH24:MI:SS'), '%c', '%p', '%m')" />
		</layout>
	</appender>

	<!-- ================================================================= -->
	<!--                     ibatis log configuration                      -->
	<!-- ================================================================= -->
	<appender name="IBatis" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/logs/crm1ibatis.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t]  %-5p %c %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>
	<appender name="exception.rollfile.log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/logs/crm1exception.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="Exception: %p [%d{yyyy-MM-dd HH:mm:ss}] -%m  %n" />
		</layout>
	</appender>
	

	<appender name="largeselect.rollfile.log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/logs/crm1largeselect.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="Exception: %p [%d{yyyy-MM-dd HH:mm:ss}] -%m  %n" />
		</layout>
	</appender>
	<appender name="jdbc.rollfile.log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/logs/crm1jdbc.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="Exception: %p [%d{yyyy-MM-dd HH:mm:ss}] -%m  %n" />
		</layout>
	</appender>

	
	<appender name="crm1.rollfile.log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/crm1.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="Exception: %p [%d{yyyy-MM-dd HH:mm:ss}] -%m  %n" />
		</layout>
	</appender>
		<appender name="timelimit.rollfile.log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/logs/timelimitcrm1.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="Exception: %p [%d{yyyy-MM-dd HH:mm:ss}] -%m  %n" />
		</layout>
	</appender>
	<category name="org.springframework">
		<priority value="ERROR" />
		<appender-ref ref="jdbc.rollfile.log" />
	</category>
	<logger name="com.ibatis" additivity="true">
		<level value="ERROR" />
	</logger>

	<logger name="java.sql.Connection" additivity="true">
		<level value="ERROR" />
	</logger>

	<logger name="java.sql.Statement" additivity="true">
		<level value="ERROR" />
	</logger>

	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="ERROR" />
		<appender-ref ref="IBatis" />
	</logger>

	<logger name="java.sql.ResultSet" additivity="true">
		<level value="ERROR" />
		<appender-ref ref="IBatis" />
	</logger>
	<logger name="com.ibatis.sqlmap.engine.mapping.statement.DefaultRowHandler" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="largeselect.rollfile.log" />
	</logger>
	
	<category name="org.jgroups">
		<priority value="ERROR" />
		<appender-ref ref="com.neusoft.uniflow.console" />
	</category>

	<category name="com.neusoft.uniflow.engine">
		<priority value="ERROR" />
		<appender-ref ref="com.neusoft.uniflow.file" />
		<appender-ref ref="com.neusoft.uniflow.console" />
	</category>

	<category name="com.neusoft.uniflow.appmgr">
		<priority value="ERROR" />
		<appender-ref ref="com.neusoft.uniflow.appfile" />
	</category>

	<category name="com.neusoft.uniflow.timer">
		<priority value="ERROR" />
		<appender-ref ref="com.neusoft.uniflow.timerfile" />
	</category>

	<category name="com.neusoft.uniflow.session">
		<priority value="ERROR" />
		<appender-ref ref="com.neusoft.uniflow.session" />
	</category>

	<category name="com.neusoft.uniflow.toolListener">
		<priority value="ERROR" />
		<appender-ref ref="com.neusoft.uniflow.toolListenerfile" />
	</category>

	<category name="UniEAP_Form">
		<priority value="ERROR" />
		<appender-ref ref="form.console.log" />
	</category>

	<category name="com.neusoft.uniflow.group">
		<priority value="ERROR" />
		<appender-ref ref="com.neusoft.uniflow.console" />
	</category>
	

	
	<category name="com.neusoft.crm.ordermgr.common.rule">
		<priority value="DEBUG" />
		<appender-ref ref="crm1.rollfile.log" />
	</category>
	<category name="com.neusoft.crm.ordermgr.common.util.beanshell.BeanShelllUtil">
		<priority value="DEBUG" />
		<appender-ref ref="crm1.rollfile.log" />
	</category>
	
	<category name="com.neusoft.crm.ordermgr.common.exception.MonitorAdvice">
		<priority value="ERROR" />
		<appender-ref ref="timelimit.rollfile.log" />
	</category>
	
	<category name="com.neusoft.crm.ordermgr.common.custorderacceptinfo.bo.AcceptInfoConvertHandleBO">
		<priority value="DEBUG" />
		<appender-ref ref="crm1.rollfile.log" />
	</category>

	<category name="com.neusoft.crm.ordermgr.common.util.logutil.ExceptionLogger">
		<priority value="DEBUG" />
		<appender-ref ref="exception.rollfile.log" />
	</category>
	<root>
		<priority value="ERROR" />
		<appender-ref ref="form.console.log" />
		<appender-ref ref="form.rollfile.log" />
		<!-- 
		<appender-ref ref="DBAppender" />
		-->
	</root>

</log4j:configuration>
