body ,div {
 scrollbar-face-color:#e9e9e9;
 scrollbar-base-color:#f8f8f8; 
 scrollbar-arrow-color:#787878; 
 scrollbar-track-color:#f8f8f8; 
 scrollbar-shadow-color:#e9e9e9; 
 scrollbar-highlight-color:#f8f8f8; 
 scrollbar-3dlight-color:#dbdbdb; 
 scrollbar-darkshadow-Color:#aeaeae;	
}

body, div, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

body { 
	font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; 
}

html ,body{
	height : 100%;
	
}

/** ie8涓褰htmlbody涓170%,宓涓17涓div锛div璁剧疆浜margin-top灏卞虹颁绾靛婊ㄦ17**/
.dj_ie8,.dj_ie8 body{
	overflow:auto;
}








.unieap .u-common-focus{
	position: absolute;
	outline-style : none;
	outline-color : invert;
	outline-width : 0px;
	top :0px;
	-moz-user-select : normal;
	-khtml-user-select : normal;
	-moz-outline : 0 none;
}