.unieap .u-calendar-icon{
  background:url(../images/form/calendar/calendar.gif) no-repeat;
  width:16px;
  height:19px;
  float:right;
}

.unieap .u-calendar-disabled{
	background:url(../images/form/calendar/calendar-disabled.gif) no-repeat 0 0;
 	 width:16px;
 	 height:19px;
  	float:right;
}

/* Distributed as part of The Coolest DHTML Calendar
   Author: Mihai Bazon, www.bazon.net/mishoo
   Copyright Dynarch.com 2005, www.dynarch.com
*/

/* The main calendar widget.  DIV containing a table. */
div.calendar { position: relative; }
.calendar, .calendar table {
  border: 1px solid #ffffff;
  font-size: 11px;
  color: #000;
  cursor: default;
  background-color:#FFFFFF;
  font-family: "trebuchet ms",verdana,tahoma,sans-serif;
  z-index:10001;
}

.dijitTextBox{
  height:18px;
  margin:0px;
}
.calendar {
  border-color: #8da3c1;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
  background: url("../images/form/calendar/title-bg2.gif") repeat-x 0 100%; color: #000;
  font-weight: normal;
}

.calendar .nav {
  font-family: verdana,tahoma,sans-serif;
}

.calendar .nav div {
	
 /*
  background: transparent url("../images/form/calendar/menuarrow.gif") no-repeat 100% 100%;
  */	
}

.calendar thead tr { color: #000; background-color:#f4f4f4; }

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
  background: url("../images/form/calendar/title-bg.gif") repeat-x 0 100%; color: #fff;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #e8e8e8;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #e48100;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background: url("../images/form/calendar/title-bg3.gif");
  padding: 2px 2px 1px 2px;

}

.calendar thead .active { /* Active (pressed) buttons in header */
  color: #000;
  padding: 3px 1px 0px 3px;
  
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background-color:#f4f4f4;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  font-family: verdana,tahoma,sans-serif;
  width: 2em;
  color: #000;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #999;
}
.calendar tbody .day.othermonth.oweekend {
  color: #f99;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #e8e8e8;
  background-color:#f4f4f4;
}

.calendar tbody .rowhilite td,
.calendar tbody .rowhilite td.wn {
	background: url("../images/form/calendar/row-hover.gif"); 
}

.calendar tbody td.tdtoday { font-weight: bold; /* background: url("today-bg.gif") no-repeat 70% 50%; */ }

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border: 1px solid #356ab3;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #e48100;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  border: 1px solid #a2b3d2;
  padding: 1px 3px 1px 1px;
  background: url("../images/form/calendar/active-bg.gif"); color: #000;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #565;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  padding: 2px;
  background: url("../images/form/calendar/title-bg2.gif") repeat-x 0 0; color: #000;
  border-top:solid 1px #cae5e2;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #afa;
  border: 1px solid #084;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #7c7;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #589c91;
  color: #000;
  z-index: 100;
  font-size: 90%; 
  background-color:#f4f4f4;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;

}

.calendar .combo .label-IEfix {
  width: 3.6em;
}

.calendar .combo .hilite {
  color: #000000;
  background-color:#d0d0d0;
}

.calendar .combo .active {
  background: url("../images/form/calendar/active-bg.gif"); color: #000;
  font-weight: bold;
  border: 1px solid #a2b3d2;
}

.calendar td.time {
  border-top: 0px solid #797979;
  padding: 1px 0px;
  text-align: center;
  background: url("../images/form/calendar/dark-bg.gif");
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 5px 0px 6px;
  font-weight: bold;
  background: url("../images/form/calendar/normal-bg.gif"); color: #000;
}

.calendar td.time .hour,
.calendar td.time .minute {
  font-family: monospace;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  /*background: url("../images/form/calendar/hover-bg.gif"); color: #000;*/
}

.calendar td.time span.active {
  background: url("../images/form/calendar/active-bg.gif"); color: #fff;
}
.calendar thead .closeactive { /* Active (pressed) buttons in header */
  background: url("../images/form/calendar/close-bg-hover.gif");
  padding: 3px 1px 0px 3px;
}
.calendar thead .closehilite { /* How do the buttons in header appear when hover */
  background: url("../images/form/calendar/close-bg-hover.gif");
  padding: 2px 2px 1px 2px;
}
.calendar .close { 
  text-align: center;    
  padding: 2px;          
  background: url("../images/form/calendar/close-bg.gif");
  font-weight: bold;
}
/*ǰһ�갴ť����ʽ*/
.calendar thead .preyearactive { /* Active (pressed) buttons in header */
  background: url("../images/form/calendar/preyear-bg-hover.gif");
  padding: 3px 1px 0px 3px;
}
.calendar thead .preyearhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form/calendar/preyear-bg-hover.gif");
  padding: 2px 2px 1px 2px;
}
.calendar .preyear { 
  text-align: center;    
  padding: 2px;          
  background: url("../images/form/calendar/preyear-bg.gif");
  font-weight: bold;
}
/*ǰһ�°�ť����ʽ*/
.calendar thead .premonthactive { /* Active (pressed) buttons in header */
  background: url("../images/form/calendar/premouth-bg-hover.gif");
  padding: 3px 1px 0px 3px;
}
.calendar thead .premonthhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form/calendar/premouth-bg-hover.gif");
  padding: 2px 2px 1px 2px;
}
.calendar .premonth { 
  text-align: center;    
  padding: 2px;          
  background: url("../images/form/calendar/premouth-bg.gif");
  font-weight: bold;
}
/*��һ�°�ť����ʽ*/
.calendar thead .nextmonthactive { /* Active (pressed) buttons in header */
  background: url("../images/form/calendar/nextmouth-bg-hover.gif");
  padding: 3px 1px 0px 3px;
}
.calendar thead .nextmonthhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form/calendar/nextmouth-bg-hover.gif");
  padding: 2px 2px 1px 2px;
}
.calendar .nextmonth { 
  text-align: center;    
  padding: 2px;          
  background: url("../images/form/calendar/nextmouth-bg.gif");
  font-weight: bold;
}
/*��һ�갴ť����ʽ*/
.calendar thead .nextyearactive { /* Active (pressed) buttons in header */
  background: url("../images/form/calendar/nextyear-bg-hover.gif");
  padding: 3px 1px 0px 3px;
}
.calendar thead .nextyearhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form/calendar/nextyear-bg-hover.gif");
  padding: 2px 2px 1px 2px;
}
.calendar .nextyear { 
  text-align: center;    
  padding: 2px;          
  background: url("../images/form/calendar/nextyear-bg.gif");
  font-weight: bold;
}
/*���찴ť����ʽ*/
.calendar thead .todayactive { /* Active (pressed) buttons in header */
  background: url("../images/form/calendar/today-bg-hover.gif");
  padding: 3px 1px 0px 3px;
}
.calendar thead .todayhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form/calendar/today-bg-hover.gif");
  padding: 2px 2px 1px 2px;
}
.calendar .today { 
  text-align: center;    
  padding: 2px;          
  background: url("../images/form/calendar/today-bg.gif");
  font-weight: bold;
}