.unieap .u-form-fieldset {
	margin-bottom:5px;
	border:1px solid #7f9db9;
	padding:7px;
	display:inline-block; /*fielset为行内元素,设置margin无效,可以将其强制转换为块级元素*/
	vertical-align:middle;
	zoom:1;
}
.dj_ie6 .unieap .u-form-fieldset,.dj_ie7 .unieap .u-form-fieldset{
	display : inline;
}


.unieap .u-form-fieldset-btn {
	width:15px;
	height:15px;
	cursor:pointer;
	float:left!important;
	margin-right:3px;
	border:0;
}

.unieap .u-form-fieldset-label{
	height:15px;
	line-height:17px;
	
}

.unieap .u-form-fieldset-desc{
	margin-left:5px;
	height:15px;
	line-height:17px;
}

.unieap .dijitClosed .u-form-fieldset-hiddenNode {
	display:none;
}

.unieap .dijitOpen .u-form-fieldset-btn {
	background:transparent url("../images/form/fieldset/fieldsetSpirit.gif") no-repeat;
}

.unieap .dijitOpen .u-form-fieldset-mouseover .u-form-fieldset-btn {
	background:transparent url("../images/form/fieldset/fieldsetSpirit.gif") no-repeat;
	background-position:-15px;
}

.unieap .dijitClosed .u-form-fieldset-btn {
	background:transparent url("../images/form/fieldset/fieldsetSpirit.gif") no-repeat;
	background-position:-30px;
	margin-left:1px;
}

.unieap .dijitClosed .u-form-fieldset-mouseover .u-form-fieldset-btn {
	background:transparent url("../images/form/fieldset/fieldsetSpirit.gif") no-repeat;
	background-position:-45px;
	margin-left:1px;
}


.unieap .u-form-fieldset legend {
	color:#000;
	font-size:12px;
}


.dj_ie .unieap .u-form-fieldset legend {
	margin-bottom:7px;
}

.dj_ie .unieap .u-form-fieldset {
	padding-top:0;
	margin:0px 2px 7px 2px;
}

.dj_ie6 .u-form-fieldset-bwrap {
	zoom:1;
}