
.unieap .u-grid {
	font-size: 12px;
	overflow:hidden;
	position: relative;
	border:0px;
	
}


/* master header */
.unieap .u-grid-master-header {
	border: 1px solid #dadada;
	table-layout: fixed;
	width: 100%;
	background: url(../images/grid/header-bg.gif)  repeat-x top #ebecee;
}

/* master view */
.unieap .u-grid-master-views {
	table-layout: fixed;
	width: 100%;
	border-left:1px solid #dadada;
	border-bottom:1px solid #dadada;
	border-right:1px solid #dadada;
}


.unieap .u-grid-master-foot{
	border : 1px solid #dadada;
	background-color:#f2f2f2;
	padding:4px 7px 4px 7px;
	font:11px verdana;
}
.unieap .u-grid-master-foot .express{
	color:#007a79;
}

.unieap .u-grid-view {
	position: absolute;
	overflow: hidden;
}
.unieap .u-grid-view-cell{
	position:relative;
	width:100%;
	height:100%;
	padding:0px;
	background-color:#f8f8f8;
}
/**
* 锁定视图横向滚动条样式
*/
.unieap .u-grid-noscrollbar{
	width:100%;
	height:17px;
	padding:0px;
	margin:0px;
	overflow:hidden;
	background : #000;
}

.unieap .u-grid-header {
	width:100%;
	background: url(../images/grid/header-bg.gif)  repeat-x top;
	background-color:  #ebecee;
}

.unieap .u-grid-header-scrollbox {
	overflow: hidden; 
	width: 100%;
}
.unieap .u-grid-scrollbox {
	overflow: auto;
	background-color: #fefefe;
	width: 100%;
	height: 100%;
	position:relative;
	z-index : 1;
}
.unieap .u-grid-header-content{
	width : auto;
	zoom : 100%;
	overflow:hidden;
}
.unieap .u-grid-header-content .u-grid-rowbar-table{
	border-right:1px solid #cccccc;
}
.unieap .u-grid-contentbox{
	height:100%;
	width:100%;
	overflow:hidden;
	position:relative;
	background-color:#e9e9e9;
}
.unieap .u-grid-content {
	position: relative;
	overflow: hidden;
	outline: none;
}

/* row */
.unieap .u-grid-row {
}

/** 修正IE6下detail中grid渲染不正确的bug,见U_EAP00006237 **/
.dj_ie6 .unieap .u-grid-row {
	position:relative;
}
.unieap .u-grid-row-odd {
	background-color: #f8f8f8;
}

.unieap .u-grid-row-over {
	/*background: url(../images/grid/over_bg.gif) repeat-x top #efefef;*/
	background-color: #efefef;
}
.unieap .u-grid-row-selected {
	/*background: url(../images/grid/grid_row_selected_bg.gif) repeat-x top; */
	/** 当grid有复选框时，选中复选框，背景颜色优先级应该提高 **/
	background-color:#e2e8f1 !important;
}
.unieap .u-grid-row-current {
	/*background: url(../images/grid/over_bg.gif) repeat-x top #efefef;*/
	background-color: #efefef;
}
.unieap .u-grid-row-table {
	font-size: 12px;
	table-layout: fixed;
	width:100%;
}
.unieap .u-grid-inner{
	zoom:100%;
	overflow:hidden;
	width:100%; 
	position:relative;
}
.unieap .u-grid-locked{
	position:absolute;
	width:100%;
	visibility:hidden;
	bottom:0px;
	z-index : 2;
}
.dj_ie6 .unieap .u-grid-locked {
	margin-bottom : -1px;
}
.unieap .u-grid-locked-content{
	height:100%;
	/** 解决MasterDetail中嵌套的Grid带有锁定行时显示不正确的问题 */
	position : relative;
	overflow:hidden;
	visibility:visible;
}
.unieap .u-grid-locked-content-rows {
	background-color:white;
	overflow:hidden;
	width:100%;
	zoom:1;
}
.unieap .u-grid-locked-content-rows .u-grid-cell {	
	border-bottom:0px solid #eee;
	border-top:1px solid #eee;
	border-right:1px solid #eee;
}

.unieap .u-grid-locked-content-rows .u-grid-toplockedrow .u-grid-cell {	
	border-top:1px solid #7f9db9;
}

.unieap .u-grid-invisible {
}

.unieap .u-grid-cell {	
	font-size:12px;
	font-weight : normal;
	border-bottom:1px solid #eee !important;

}

/** 修正MasterDetail中嵌套的Grid表头分隔线不明线的bug **/
.unieap .u-grid-hcell {
	border-right : 1px solid #d1d1d1 !important;
}

.unieap .u-grid-header .u-grid-cell {
	font-size:13px;
	background: url(../images/grid/header-bg.gif)  repeat-x top #ebecee;
	border-right : 1px solid #d1d1d1;	
}
.unieap .u-grid-content .u-grid-cell{
	/* 解决bug U_EAP00008244 */
	position: relative;
	border-right : 1px solid #eee;
	
	/** ie6下不显示省略号**/
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.unieap .u-grid-text{
	padding-left: 5px;
	vertical-align:middle;
	overflow : hidden;
}
.u-grid-text2{
	overflow:hidden;
	width:100%;
	height:100%;
	zoom:1;
	text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	white-space:nowrap;
}
.unieap .u-grid-content .u-grid-text{
	display : block;
	position: relative;
	height:100%;
}
.unieap .u-grid-header .u-grid-text{
	line-height:20px;
}
.unieap .u-grid-rowbar {
	border: none;
	background: url(../images/grid/header-bg.gif)  repeat-x top #ebecee;
	border-right: 1px solid #cccccc;
	padding: 0px;
	overflow:hidden;
	zoom:100%;
}

.unieap .u-grid-rowbar-table {
	width: 100%;
	table-layout:fixed;
}
.unieap .u-grid-rowbar-cell{
	text-align:center;
	font-size:12px;
	padding : 0px;
}
.unieap .u-grid-rowbar-choice{
	width:20px;
	text-align:center;
}
/**
*grid改变列宽时出现拖动条
*/
.unieap .u-grid-resize-proxy{
	overflow : hidden;
	width : 3px;
	height : 100%;
	border-left : 1px dashed #777777;
	font-size : 1px;
	position : absolute;
	top : 0px;
	left : 5px;
	display : none;	
	z-Index : 5;
}
/**
*定义主排序的样式
*/
.unieap .u-grid-sort-primary{
	background: url(../images/grid/header-over.gif) repeat-x top #D2DCEA !important;
	border-bottom-color:#d2dcea;
}
/**
*定义主排序的升序样式
*/
.unieap .u-grid-sort-primary .u-grid-sort-up{
	 background:transparent url(../images/grid/sort_asc.gif) no-repeat scroll right 30%;
	 padding-right:16px;
	 cursor:default;
}
/**
*定义主排序的降序样式
*/
.unieap .u-grid-sort-primary .u-grid-sort-down{
	 background:transparent url(../images/grid/sort_desc.gif) no-repeat scroll right 30%;
	 padding-right:16px;
}
/**
*定义次排序的样式
*/
.unieap .u-grid-sort-secondary{
	
}
/**
*定义次排序的升序样式和定义次排序的降序样式
*/
.unieap .u-grid-sort-secondary .u-grid-sort-up , .u-grid-sort-down{
	background:transparent url(../images/grid/sort_secondary.gif) no-repeat scroll right 55%;
	 padding-right:16px;
}
/**
 * 编辑
 */
.unieap .u-grid-value-changed{
		position:absolute;
		top:0px;
		left:0px;
		width:5px;
		height:18px;
		overflow:hidden;
		font-size:11px;
		background: url(../images/grid/changed.gif) no-repeat;
}
