/**
 * 定义grid的toolbar的样式
 */ 
 
.u-grid-master-toolbar {
    border: 1px solid #dadada;
    border-top: 0 solid #B4B4B4;
    background: transparent url(../images/grid/toolbar/pager_bg.gif) repeat-x;
    height: 28px;
    vertical-align: middle;
    font: 12px Verdana;
    padding: 0 7px;
}

.u-grid-master-toolbar span{
	font-size:13px;
}


/**
 * 定制翻页显示条数
 */
.u-grid-cpagesize-left{
	margin-right:5px;
}

.u-grid-cpagesize-right{
	margin-left:5px;
	margin-right:1px;
}


/**
 * 定义翻页的样式
 */ 
.u-grid-master-toolbar .u-grid-page {
    height: 100%;
    line-height: 26px;
    overflow: hidden;
} 

.u-grid-master-toolbar .u-grid-page.left {
    margin-left: 5px;
    float: left;
} 

.u-grid-master-toolbar .u-grid-page.right {
    float: right;
} 

.u-grid-master-toolbar table {
    height: 100%;
} 

.u-grid-master-toolbar .u-grid-page .ico {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
}


/**
 * 第一页
 */ 
 
.u-grid-master-toolbar .u-grid-page .u-grid-page-first {
    background-image: url(../images/grid/toolbar/page-first.gif);
} 

.u-grid-master-toolbar .u-grid-page .u-grid-page-first-disabled {
    background-image: url(../images/grid/toolbar/page-first-disabled.gif);
}

/**
 * 上一页
 */ 
 
.u-grid-master-toolbar .u-grid-page .u-grid-page-prev {
    background-image: url(../images/grid/toolbar/page-prev.gif);
} 

.u-grid-master-toolbar .u-grid-page .u-grid-page-prev-disabled {
    background-image: url(../images/grid/toolbar/page-prev-disabled.gif);
}

/**
 * 下一页
 */ .u-grid-master-toolbar .u-grid-page .u-grid-page-next {
    background-image: url(../images/grid/toolbar/page-next.gif);
} .u-grid-master-toolbar .u-grid-page .u-grid-page-next-disabled {
    background-image: url(../images/grid/toolbar/page-next-disabled.gif);
}

/**
 * 最后一页
 */ 
 
.u-grid-master-toolbar .u-grid-page .u-grid-page-last {
    background-image: url(../images/grid/toolbar/page-last.gif);
} 
.u-grid-master-toolbar .u-grid-page .u-grid-page-last-disabled {
    background-image: url(../images/grid/toolbar/page-last-disabled.gif);
} 

/**
 * 页码
 */
.u-grid-master-toolbar .u-grid-page .u-grid-page-pageNo {
    text-align: center;
    width: 23px;
} 


/**
 * 客户端导出
 */
.unieap .export-c {
    background: #eee url(../images/grid/toolbar/export_c.gif) no-repeat center;
} 

/**
 * 服务端导出
 */
.unieap .export-s {
    background: #eee url(../images/grid/toolbar/export_s.gif) no-repeat center;
} 

/**
 * 导出选中记录
 */
.unieap .export-checked {
    background: #eee url(../images/grid/toolbar/export_checked.gif) no-repeat center;
} 

/**
 * 默认客户端导出
 */
.unieap .default-export-c {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #eee url(../images/grid/toolbar/export_c.gif) no-repeat center;
} 
/**
 * 默认服务端导出
 */
.unieap .default-export-s {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #eee url(../images/grid/toolbar/export_s.gif) no-repeat center;
}

.unieap .default-export-checked {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #eee url(../images/grid/toolbar/export_checked.gif) no-repeat center;
} 

/**
 * 分隔符
 */
.unieap .sep {
    width: 2px;
    height: 18px;
    overflow: hidden;
    background: #eee url(../images/grid/toolbar/pager_spacer.gif) no-repeat top left;
} 

/**
 * 打印
 */
.unieap .u-grid-print {
    background: #eee url(../images/grid/toolbar/print.gif) no-repeat center;
	width:24px;
	height:24px;
	display:none;
	margin-right:5px;
	
}


.unieap .u-grid-export{
	display:none;
	margin-right:5px;
}



/**
*个性化
*/

.unieap .u-grid-individual{
	display:none;
	margin-right:5px;
}

.unieap .individual{
	 background: #eee url(../images/grid/toolbar/table_edit.png) no-repeat center;
}
.unieap .individual-reset{
	 background: #eee url(../images/grid/toolbar/table_delete.png) no-repeat center;
}
.unieap .default-individual {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #eee url(../images/grid/toolbar/table_edit.png) no-repeat center;
} 