/**
 * 分组功能
 */
.unieap .u-grid-group{
	zoom: 100%;
	border-bottom: solid 1px #7f9db9;
}
.unieap .u-grid-group-minus{
	width:16px;
	height: 16px;
	background: url(../images/grid/group/minus.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.unieap .u-grid-group-plus{
	width: 16px;
	height: 16px;
	background: url(../images/grid/group/plus.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.unieap .u-grid-group-font{
	font: bold 11px tahoma,arial,helvetica,sans-serif;
	color: #7f9db9;
}
.unieap .u-grid-group-node{
	width:100%;
	position:relative;
	background-color:#fff;
	padding-left: 2px;
	height: 23px;
	display: inline-block;
}
.dj_iequirks .unieap .u-grid-group-node{
	height: 23px;
}
.unieap .u-grid-group-btn{
	position: absolute;
	right: 2px;
	top: 2px;
	width: 19px;
	height: 19px;
	overflow: hidden;
	cursor: default;
}
.unieap .u-grid-group-btnNormal{
	background: url(../images/grid/group/refresh_hover.gif);
}
.unieap .u-grid-group-dragProxy{
	border: 1px dashed #000;
	background: #eee;
	position: absolute;
	cursor: move;
	padding-left: 5px;
}
.unieap .u-grid-group-arrow{
	width: 9px;
	height: 9px;
	border: 1px boder #000;
	position: absolute;
	overflow: hidden;
	display: none;
}
.unieap .u-grid-group-arrow-top{
	top: 0px;
	background: url(../images/grid/group/group-arrow-top.gif);
}
.unieap .u-grid-group-arrow-bottom{
	bottom: 0px;
	background: url(../images/grid/group/group-arrow-bottom.gif);
}
.unieap .u-grid-group-cell{
	height: 19px;
	margin: 1px 0px 0px 0px;
	font-family: Verdana;
	font-weight: bold;
	width: 90px;
	cursor: default;
	background: url(../images/grid/group/group-headerbg.png) #ebebeb repeat-x;
	text-align: center;
	display: inline-block;
	float: left;
	line-height: 19px;
	border: 1px solid #d1d2d2;
	position: relative;
	overflow: hidden;
}
.dj_iequirks .unieap .u-grid-group-cell{
	height: 21px;
	line-height: 21px;
}
.unieap .u-grid-group-cellremove{
	position: absolute;
	width: 9px;
	height: 9px;
	background: url(../images/grid/group/group-headerclose.png) no-repeat;
	overflow: hidden;
	top: 1px;
	right: 1px;
}
.unieap .u-grid-group-sep{
	height: 20px;
	width: 10px;
	background: url(../images/grid/group/line.gif) no-repeat;
	background-position: center;
	margin: 0px 1px 6px 1px;
	overflow: hidden;
	display: inline-block;
	float: left;
}