/*-------Container-------*/
.unieap .tabContainer {
	overflow:hidden;
	position:relative;
}

.unieap .tabContainer-nest {
	width:100%;
	height:100%;
	overflow:hidden;
	zoom:1;
}

.unieap .tab-scrolling-container {
	position:relative;
	overflow:hidden;
}

.unieap .tab-scrolling{
	position:absolute;
	_height:100%;
}

.unieap .tabPaneWrapper {
	background:#fff;
	border:0px solid #ccc;
	margin: 0;
	padding: 0;
	z-index:2;
	position:relative;
}

.tabSpacer {
	font-size: 1px;
}

.unieap .tab {
	border:1px solid #ccc;
	line-height:normal;
	margin-right:4px;
	padding:0px;
	cursor:pointer;
	z-index:3;
	white-space:nowrap;
	display:block;
	text-decoration: none;
}

.unieap .tabChecked {
	background-color:#fff;
	border-color: #92a7dc;
	background-image:none;
	color:#1b367b !important;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:12px;
	/*font-weight:bold;*/
}

.unieap .tab .unieapClosable .closeImage {
	display: inline-block;
	background: url("../images/layout/tab-close.gif") no-repeat;
	width: 12px;
	height: 12px;
}

/*Tab a标签*/
.unieap a.u-a-tab{
	color:#848484;
}
	
.unieap a:hover.u-a-tab{
	color: inherit;
	border:1px solid #ccc;
}


.unieap .tab-scrolling-container .tabward{
	position: absolute;
	z-index:100;
	cursor:pointer;
}
.unieap .tab-scrolling-container .eapMenu{
	background-repeat:no-repeat;
	background-position:center;
	background-color:white;
	/*TODO*/
}

/*------- top -------*/
.unieap .tabContainerTop .tab-scrolling-containerTop {
	height:23px;
	_height:24px;
	background-color:#d3e0f2;
	border-left:1px solid #99bbe8;
	border-right:1px solid #99bbe8;
}

.unieap .tabContainerTop .tabPaneWrapperTop{
	border-top:none;
}

.unieap .tabContainerTop-tabs .tab{
	height:21px;
	background:#e2e2e2 url("../images/layout/enabled-top.jpg") repeat-x;
}

.unieap .tabContainerTop-tabs .tabChecked {
	border-bottom-color:white;
	background:#fff url("../images/layout/selected-top.jpg") repeat-x ;
}

.unieap a:hover.u-a-tabTop{
	border-bottom-color:white;
	background:#e2e2e2 url("../images/layout/hover-top.jpg") repeat-x;
}

.unieap .tabContainerTop .eapLeftTop {
	top:0px;
	left:0px;
	width:18px;
	height:23px;
	background:#e2e2e2 url("../images/layout/eap-tLeft.jpg") no-repeat;
}
.unieap .tabContainerTop .eapRightTop {
	top:0px;
	right:18px;
	width:18px;
	height:23px;			
	background:#e2e2e2 url("../images/layout/eap-tRight.jpg") no-repeat;
}
.unieap .tabContainerTop .eapMenuTop {
	top:0px;
	right:0px;
	width:18px;
	height:23px;
	background-image:url("../images/layout/eap-tMore.jpg");
}

.dj_ie6 .unieap .tabContainerTop .eapMenuTop ,
.dj_ie6 .unieap .tabContainerTop .eapRightTop {
	margin-right:-1px;
}


.unieap .tabContainerTop .tabSpacerTop,
.unieap .tabContainerBottom .tabSpacerBottom {
	height:1px;
}

.unieap .tabContainerTop-tabs .tab,
.unieap .tabContainerBottom-tabs .tab {
	display:inline-block;
	vertical-align:middle;
}

.unieap .tabContainerBottom-tabs .tabInnerDiv,
.unieap .tabContainerTop-tabs .tabInnerDiv {
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:12px;
	line-height:20px;
	padding: 0px 5px 0px 5px ;
}
/*解决IE6下，存在关闭图片时，tab button向下串位*/
.dj_ie6 .unieap .tabContainerBottom-tabs .unieapClosable,
.dj_ie6 .unieap .tabContainerTop-tabs .unieapClosable {
	margin-top:3px;
}

.unieap .tabContainerTop-tabs .tab .unieapClosable .closeImage,
.unieap .tabContainerBottom-tabs .tab .unieapClosable .closeImage{
	margin-left:5px;
}


/*------- bottom -------*/
.unieap .tabContainerBottom .tab-scrolling-containerBottom {
	margin-top: -1px;
	height:23px;
	background-color:#d3e0f2;
	border-left:1px solid #99bbe8;
	border-right:1px solid #99bbe8;
}

.unieap .tabContainerBottom .tabPaneWrapperBottom{
	border-bottom:none;
}

.unieap .tabContainerBottom-tabs .tab{
	height:21px;
	background:#e2e2e2 url("../images/layout/enabled-btm.jpg") repeat-x;
}

.unieap .tabContainerBottom-tabs .tabChecked {
	border-top-color:white;
	background:#fff url("../images/layout/selected-btm.jpg") repeat-x ;
}

.unieap a:hover.u-a-tabBottom{
	border-top-color:white;
	background:#e2e2e2 url("../images/layout/hover-btm.jpg") repeat-x;
}

.unieap .tabContainerBottom .eapLeftBottom {
	bottom:0px;
	left:0px;
	width:18px;
	height:23px;
	background:#e2e2e2 url("../images/layout/eap-bLeft.jpg") no-repeat;
}

.unieap .tabContainerBottom .eapRightBottom {
	background:#e2e2e2 url("../images/layout/eap-bRight.jpg") no-repeat;
	bottom:0px;
	right:18px;
	width:18px;
	height:23px;			
}
.unieap .tabContainerBottom .eapMenuBottom {
	bottom:0px;
	right:0px;
	width:18px;
	height:23px;
	background-image:url("../images/layout/eap-bMore.jpg");
}

.dj_ie6 .unieap .tabContainerBottom .eapMenuBottom ,
.dj_ie6 .unieap .tabContainerBottom .eapRightBottom {
	margin-right:-1px;
}
/*------- left -------*/
.unieap .tabContainerLeft .tab-scrolling-containerLeft {
	margin-right: -1px;
	width:23px;
	height:100%;
	background-color:#d3e0f2;
	border-top:1px solid #99bbe8;
	border-bottom:1px solid #99bbe8;
	float:left;
}

.unieap .tabContainerLeft .tabPaneWrapperLeft{
	border-left:none;
	height:100%;
}

.unieap .tabContainerLeft .tabSpacerLeft {
	width:1px;
	height:100%;
	float:left;
}

.unieap .tabContainerLeft-tabs .tab{
	width:21px;
	background:#e2e2e2 url("../images/layout/enabled-left.jpg") repeat-y;
}

.unieap .tabContainerLeft-tabs .tabChecked {
	border-right-color:white;
	background:#fff url("../images/layout/selected-left.jpg") repeat-y ;
}

.unieap a:hover.u-a-tabLeft{
	border-right-color:white;
	background:#e2e2e2 url("../images/layout/hover-left.jpg") repeat-y;
}

.unieap .tabContainerLeft  .eapUpLeft{
	top:0px;
	left:0px;
	background:url("../images/layout/eap-lTop.jpg") no-repeat;
	width:23px;
	height:18px;
	background-position:top;
}
.unieap .tabContainerLeft .eapDownLeft{
	bottom:18px;
	left:0px;
	background:url("../images/layout/eap-lBottom.jpg") no-repeat;
	width:23px;
	height:18px;
	background-position:bottom;
}
.unieap .tabContainerLeft .eapMenuLeft{
	left:0px;
	bottom:0px;
	width:23px;
	height:18px;
	background-image:url("../images/layout/eap-lMore.jpg");
}

/*调整tab Button之间的margin*/
.unieap .tabContainerLeft-tabs .tab,
.unieap .tabContainerRight-tabs .tab {
	margin-right:0px;
	margin-bottom:4px;
}

.unieap .tabContainerLeft-tabs .tabInnerDiv,
.unieap .tabContainerRight-tabs .tabInnerDiv {
	padding:  5px 0px 5px 0px;
}
.unieap .tabContainerLeft-tabs .tabInnerDiv .tabLabel,
.unieap .tabContainerRight-tabs .tabInnerDiv .tabLabel{
	text-align:center;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:12px;
	writing-mode:tb-rl;
}

.unieap .tabContainerLeft-tabs .tab .unieapClosable .closeImage,
.unieap .tabContainerRight-tabs .tab .unieapClosable .closeImage {
	display:block;
	margin-left:2px;
}


/*------- right -------*/
.unieap .tabContainerRight .tab-scrolling-containerRight {
	margin-left: -1px;
	width:23px;
	height:100%;
	background-color:#d3e0f2;
	border-top:1px solid #99bbe8;
	border-bottom:1px solid #99bbe8;
	float:right;
}

.unieap .tabContainerRight .tabPaneWrapperRight{
	border-right:none;
	height:100%;
}

.unieap .tabContainerRight .tabSpacerRight {
	width:1px;
	height:100%;
	float:right;
}

.unieap .tabContainerRight-tabs .tab{
	width:21px;
	background:#e2e2e2 url("../images/layout/enabled-right.jpg") repeat-y;
}

.unieap .tabContainerRight-tabs .tabChecked {
	border-left-color:white;
	background:#fff url("../images/layout/selected-right.jpg") repeat-y ;
}

.unieap a:hover.u-a-tabRight{
	border-left-color:white;
	background:#e2e2e2 url("../images/layout/hover-right.jpg") repeat-y;
}

.unieap .tabContainerRight  .eapUpRight {
	top:0px;
	background:url("../images/layout/eap-rTop.jpg") no-repeat;
	width:23px;
	height:18px;
	left:0px;
	background-position:top;
}
.unieap .tabContainerRight .eapDownRight {
	bottom:18px;
	left:0px;
	background:url("../images/layout/eap-rBottom.jpg") no-repeat;
	width:23px;
	height:18px;
	background-position:bottom;
}
.unieap .tabContainerRight .eapMenuRight {
	right:0px;
	bottom:0px;
	width:23px;
	height:18px;
	background-image:url("../images/layout/eap-rMore.jpg");
}


.unieapHidden {
	display: none !important;
}

.unieapVisible {
	display: block !important;	
}
