.unieap .loading{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-Index:10001;		
}
.unieap .loading-alpha{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#c3daf9;
	filter: alpha(opacity=50);
	opacity:.50;
	overflow:hidden;
}
.unieap .loading-p{
	position:absolute;
	width:241px;
	height:72px;
	display:block;
	left:50%;
	top:50%;
}
.unieap .loading-content{
	position:relative;	
	top:-50%;
	left:-50%;
	width:241px;
	height:72px;
	background:  url(../images/loading/progress_bg.jpg) no-repeat right bottom;
}
.unieap .loading-text{
	text-align:left;
	padding:10px 0px 10px 15px;
	font-size:12px;
	font-family : tahoma, arial, helvetica, sans-serif;
	color : #333;
}
.unieap .loading-img{
	cursor:wait;
	width: 208px;
	height:13px;	
	margin-left:15px;
	background:  url(../images/loading/loading.gif) no-repeat center center;
}
.unieap .loading-cancel{
	position:absolute;
	top:4px;
	right:4px;
	width:14px;
	height:14px;
	cursor:pointer;
	background: url(../images/loading/progress-close.gif) no-repeat center center;
}