<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
   

	<bean id="com.neusoft.unieap.example.jobscheduling.EAPJobConditionImpl" class="com.neusoft.unieap.example.jobscheduling.EAPJobConditionImpl"/>

	<bean id="com.neusoft.unieap.example.jobscheduling.GenerateReportJob" class="com.neusoft.unieap.comp.jobscheduling.bean.EAPJobDetailBean">
		<property name="jobClass">
			<value>com.neusoft.unieap.example.jobscheduling.GenerateReportJob</value>
		</property>
		<property name="jobDataAsMap">		
			<map>
                <entry key="condition">
                    <ref bean="com.neusoft.unieap.example.jobscheduling.EAPJobConditionImpl"/>
                </entry>
        	</map>
		</property>
	</bean>
	
	<bean id="simpleTrigger" class="com.neusoft.unieap.comp.jobscheduling.bean.EAPSimpleTriggerBean">
		<property name="jobDetail">
			<ref bean="com.neusoft.unieap.example.jobscheduling.GenerateReportJob"/>
		</property>
		<property name="group">
			<value>GROUP1</value>
		</property>
		<property name="startDelay">
			<!-- 10 seconds -->
			<value>10000</value>
		</property>
		<property name="repeatInterval">
			<value>5000000</value>
		</property>
	</bean>	
	<bean id="cronTrigger" class="com.neusoft.unieap.comp.jobscheduling.bean.EAPCronTriggerBean">
		<property name="jobDetail">
			<ref bean="com.neusoft.unieap.example.jobscheduling.GenerateReportJob"/>
		</property>
		<property name="cronExpression">
			<value>0 45 20 * * ?</value>
		</property>
	</bean>
	<bean id="cronTrigger2" class="com.neusoft.unieap.comp.jobscheduling.bean.EAPCronTriggerBean">
		<property name="jobDetail">
			<ref bean="com.neusoft.unieap.example.jobscheduling.GenerateReportJob"/>
		</property>
		<property name="cronExpression">
			<value>0 45 20 * * ?</value>
		</property>
	</bean>
	 
 
	
	<bean id="EAPScheduler" class="com.neusoft.unieap.comp.jobscheduling.bean.EAPSchedulerFactoryBean">
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.instanceName">EAPScheduler</prop>
			</props>
		</property>
		<property name="triggers">
		    <list>
		    
		      <ref bean="simpleTrigger"/>
		      
		    </list>
		</property>
		
	</bean>	
	<bean id="EAPScheduler2" class="com.neusoft.unieap.comp.jobscheduling.bean.EAPSchedulerFactoryBean">
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.instanceName">EAPScheduler2</prop>
			</props>
		</property>	
	</bean>	 
</beans> 