<div class="panel panel-default">
    <div class="panel-heading">
        不带 title 的面板标题
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="empName" class="col-sm-2 control-label">员工姓名</label>
                <div class="col-sm-10 col-sm-offset-0">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input id="empName" class="form-control" ng-model="empName" placeholder="员工姓名">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="empEmail" class="col-sm-2 control-label">电子邮件2222</label>
                <div class="col-sm-10 col-sm-offset-0">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input id="empEmail" class="form-control" ng-model="empEmail" ng-blur="emailBlur()" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="empTel" class="col-sm-2 control-label">电话号码</label>
                <div class="col-sm-10 col-sm-offset-0">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input type="text" id="empTel" class="form-control" data-inputmask="'mask': '999-9999-9999'" placeholder="MobilePhone">
                    </div>
                </div>
            </div>
            <div class="form-group" id="empEngageDateCont">
                <label for="empEngageDate" class="col-sm-2 control-label">入职日期</label>
                <div class="col-sm-10 col-sm-offset-0">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        <div class="input-group" >
                            <input type="text" class="form-control" id="empEngageDate"
                                   uib-datepicker-popup="{{format}}" ng-model="empEngageDate" show-weeks="false"
                                   is-open="status.opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   show-button-bar="true"
                                   ng-required="true" close-text="关闭" current-text="今天" clear-text="清除"/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10 col-sm-offset-0">
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="empMale" uib-btn-radio="'man'">男士</label>
                        <label class="btn btn-primary" ng-model="empMale" uib-btn-radio="'woman'" uncheckable>女士</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="button" class="btn btn-primary" style="width: 30%;" ng-click="addEmployee()"> 加入 </button>
                    <button type="button" class="btn btn-primary"  style="width: 30%;" ng-click="closeModal()"> 取消 </button>
                </div>
                <div class="col-sm-offset-7 col-sm-5">

                </div>
            </div>
        </form>
    </div>
</div>