A:link		{color:#333333;text-decoration:underline;}
A:visited	{color:#333333;text-decoration:underline;}
A:hover		{color:#333333;text-decoration:underline}
A:active	{color:#333333;text-decoration:underline;}




/*mainTable是最外层的table*/
table.NEUBodyMainTable {
	font-family: "宋体";
	font-size: 12pt;
    width:100%;
}

tr.NEUBodyMainTR {
	font-size: 12pt;
}
td.NEUBodyMainTD {
	font-size: 12pt;
}

/*titleTable为标题*/
table.NEUBodyTitleTable {
	font-size: 12pt;
	BORDER-LEFT-COLOR: #d7868d;
   BORDER-BOTTOM-COLOR: #d7868d;
   width:100%;
   border-color:#D7868D;
   BORDER-RIGHT-COLOR: #d7868d
}
tr.NEUBodyTitleTR {
	font-size: 12pt;
}
td.NEUBodyTitleTD {
	font-size: 12pt;
}
font.NEUBodyTitleFont {
	font-size: 10pt;
	font-weight: bold;
	color: #1F71B4;
}

/*searchTable为查询条目*/
table.NEUBodySearchTable {
	font-size: 12pt;
	width:100%;
}
tr.NEUBodySearchTR {
	font-size: 12pt;
}
td.NEUBodySearchTitleTD {
	font-size: 12pt;
	background-color: #E2EFFA;
}
td.NEUBodySearchTD {
	font-size: 12pt;
	background-color: #F0F8FF;
}
font.NEUBodySearchFont {
	font-size: 10pt;
}
input.NEUBodySearchButton {
	BACKGROUND-COLOR: #E2EFFA;
	BORDER-BOTTOM: white outset thin;
	BORDER-LEFT: white thin;
	BORDER-RIGHT: white outset thin;
	BORDER-TOP: white thin;
	color: #000000;
	font-family: Comic Sans MS;
	font-size: 12px;
	HEIGHT: 18px;
	width: 48px;
	VERTICAL-ALIGN:bottom
}

/*listTable为列表*/
table.NEUBodyListTable {
	font-size: 12pt;
    width:100%;
	background-color:#f0f8ff;
}
table.NEUBodyListTableback {
	font-size: 12pt;
    width:100%;
	background-color:#f4f4f4;
}
tr.NEUBodyListTR {
	font-size: 9pt;
    background-color: #E2EFFA;
	/*cursor:hand;*/
}

tr.NEUBodyListTRAlter {
	font-size: 12pt;
	background-color: #F0F8FF;
	/*cursor:hand;*/
}
th.NEUBodyListTH {
	font-size: 12pt;
	background-image: url(../images/example/listth.gif);

}
font.NEUBodyListFont {
	font-size: 9pt;
	font-weight: normal;

}
td.NEUBodyListTD {
	font-size: 12pt;
}

/*bottomTable按钮所在的table*/
table.NEUBodyBottomTable {
	font-size: 10pt;
	width:100%;
}
tr.NEUBodyBottomTR {
	font-size: 10pt;
}
td.NEUBodyBottomTD {
	font-size: 10pt;
}
input.NEUBodyButton {
	 BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 9pt;
    BACKGROUND-IMAGE: url(../images/example/buttonfront1.gif);
    BORDER-LEFT: 0px;
    WIDTH: 69px;
    CURSOR: hand;
    BORDER-BOTTOM: 0px;
    HEIGHT: 19px
}
.NEUBodyButtonback{
    FONT-SIZE: 9pt;
    BACKGROUND-IMAGE: url(../images/example/back.gif);
    COLOR: #000000;
    FONT-FAMILY: "宋体"
}

/*titleTable为翻页按钮所在的table*/
table.NEUBodyPageRollTable {
	font-size: 10pt;
	width:100%;
}
tr.NEUBodyPageRollTR {
	font-size: 10pt;
}
td.NEUBodyPageRollTD {
	font-size: 10pt;
}
table.NEUDataTable{
	font-size: 12pt;
    width:100%;
}
tr.NEUDataTR{
	font-size: 12pt;
}
td.NEUDataTitleTD{
	font-size: 12pt;
	background-color: #E2EFFA;
}
td.NEUDataEditTD{
	font-size: 12pt;
	background-color: #F0F8FF;
}
font.NEUDataTitleFont{
	font-size: 9pt;
}
table.NEUDetailDataTable{
	font-size: 12pt;
	background-color:#80A9CA;
    width:100%;
}
tr.NEUDetailDataTR{
	font-size: 12pt;
}
td.NEUDetailDataTitleTD{
	font-size: 12pt;
	background-color: #E2EFFA;
}
td.NEUDetailDataEditTD{
	font-size: 12pt;
	background-color: #F0F8FF;
}
font.NEUDetailDataTitleFont{
	font-size: 10pt;
}
input.NEUDetailText {
	/*background-color: #F0F8FF;*/
	color:gray;
}
input.NEUDetailTextArea {
	background-color: #F0F8FF;
	color:gray;
}
/*自定义弹出页面的的图片*/
input.NEUDwButton_INNER{ border:0;font-size:9pt;width:18px;height:16px;cursor:hand;background: url(../images/unieap/hand.gif) no-repeat left top; }

/*tab 页样式单*/
.NEULeftTabBgSlant {
	BACKGROUND: url(../images/example/buttonA_1.gif) no-repeat left top
}
.NEULeftTabForeSlant {
	BACKGROUND: url(../images/example/buttonB_1.gif) no-repeat left top
}
.NEULeftSubTab {
	BACKGROUND: url(../images/example/FFFFFFsl.gif) #336699 no-repeat left top
}
.NEURightTabBgCurve {
	BACKGROUND: url(../images/example/buttonA_3.gif) no-repeat right top
}
.NEURightTabForeCurve {
	BACKGROUND: url(../images/example/buttonB_3.gif) no-repeat right top
}
.NEURightSubTab {
	BACKGROUND: url(../images/example/FFFFFFsr.gif) #336699 no-repeat right top
}
.NEUForePropertyTab {
	FONT-WEIGHT: normal;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	FONT-FAMILY: "宋体","Arial", "Helvetica";
	BACKGROUND: url(../images/example/buttonB_2.gif);
	BORDER-RIGHT: #336699 0px solid;
	BORDER-LEFT: #336699 0px solid;
	BORDER-TOP: #336699 0px solid;
	BORDER-BOTTOM: #336699 0px solid;
	height: 20px;
}

.NEUBackPropertyTab {
	FONT-WEIGHT: normal;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	FONT-FAMILY: "宋体","Arial", "Helvetica";
	BACKGROUND: url(../images/example/buttonA_2.gif);
	BORDER-RIGHT: #336699 0px solid;
	BORDER-LEFT: #336699 0px solid;
	BORDER-TOP: #336699 0px solid;
	BORDER-BOTTOM: #336699 0px solid;
	height: 20px;
}

.NEUBodyTitleLine {
	background-color: #D0E7F7;
}
NEUBodyListTable_LeftLine {
	background-image: url(../images/example/line_left.gif);
}
NEUBodyListTableLeftLine {
	background-image: url(../images/example/line_left.gif);
}
.NEUBodyListTableLeftLine {
	background-image: url(../images/example/line_left.gif);
}
.NEUBodyListTableBottomLine {
	background-image: url(../images/example/line.gif);
}
<!-- ---------------------------- CSS for container ------------------------------------ -->
<!-- default type of container -->
.NEUCNTR_top_1{
	width:20;
	height:30;
	background-image: url(/example/images/unieap/container/container_top_1.gif);
}
.NEUCNTR_top_2{
	height:30;
	background: url(/example/images/unieap/container/container_top_2.gif) repeat-x; 
}
.NEUCNTR_top_3{
	height:30;
	width:20;
	background: url(/example/images/unieap/container/container_top_3.gif);
}
.NEUCNTR_left{
	width:20;
	background-image: url(/example/images/unieap/container/container_left.gif);
}
.NEUCNTR_right{
	width:20;
	background-image: url(/example/images/unieap/container/container_right.gif);
}
.NEUCNTR_bottom_1{
	width:20;
	background-image: url(/example/images/unieap/container/container_bottom_1.gif);
	height:29;
}
.NEUCNTR_bottom_2{
	background-image: url(/example/images/unieap/container/container_bottom_2.gif);
	height:29;
}
.NEUCNTR_bottom_3{
	width:20;
	height:29;
	background-image: url(/example/images/unieap/container/container_bottom_3.gif);
}
<!-- tabpage type of container -->
.NEUCNTR_TP_top_1{
	width:9;
	height:19;
	background-image: url(/example/images/unieap/container/dwctp_top_1.gif);
}
.NEUCNTR_TP_top_2{
	height:19;
	background-image: url(/example/images/unieap/container/dwctp_top_2.gif);
}
.NEUCNTR_TP_top_3{
	height:19;
	width:9;
	background-image: url(/example/images/unieap/container/dwctp_top_3.gif);
}
.NEUCNTR_TP_left{
	width:9;
	background-image: url(/example/images/unieap/container/dwctp_left.gif);
}
.NEUCNTR_TP_right{
	width:9;
	background-image: url(/example/images/unieap/container/dwctp_right.gif);
}
.NEUCNTR_TP_bottom_1{
	width:9;
	background-image: url(/example/images/unieap/container/dwctp_bottom_1.gif);
	height:19;
}
.NEUCNTR_TP_bottom_2{
	background-image: url(/example/images/unieap/container/dwctp_bottom_2.gif);
	height:19;
}
.NEUCNTR_TP_bottom_3{
	width:9;
	height:19;
	background-image: url(/example/images/unieap/container/dwctp_bottom_3.gif);
}
<!-- ----------------------------     end   --------------------------------------------- -->

<!-- ---------------------------- 以下风格单为UniEAP平台所用----------------------------- -->
.NEUDwReadOnly{
	background-color: rgb(176,176,255);
	/*	background-color: #FFFFFF;*/
}
<!-- ---------------------------- CSS for datawindow ------------------------------------ -->
<!-- 数据窗口的背景颜色 -->
div.NEUDwBackgroud{
 background-color: #f4f4f4;
}
<!-- 数据窗口显示部分Table -->
table.NEUDwListTable{  font-family: "宋体"; font-size: 12px; color: #000000; text-decoration: none; }
<!--popwin Table-->
table.NEUDwListTable_Pop{
    background-color: #A9B6CD;
}
<!--带有边框的数据tale-->
table.NEUDwListTable_Border{
	bordercolor: #000000;
	border: 1;

}
<!-- 数据窗口显示部分头字体 -->
font.NEUDwListHeaderFont{
	font-size: 9pt;
	font-weight: normal;
}
<!-- 数据窗口显示部分列表字体(不可为空) -->
font.NEUDwListDodyNotNullFont{
	color: black;
	font-size: 9pt;	
	font-weight: normal;
}
<!-- 数据窗口显示部分列表字体 -->
font.NEUDwListDodyFont{
	font-size: 9pt;
	font-weight: normal;
}
<!-- 数据窗口显示部分TH -->
th.NEUDwListTH {
    cursor: hand; align:left;
	background-image: url(../images/unieap/titlebar_bg.gif);
}

<!-- 数据窗口title显示部分TH -->
th.NEUDwTitleTH {
    background-color: #CCCCCC;
}
<!-- 数据窗口显示部分排序的TH -->
th.NEUDwListSortedTH {
    cursor: hand;
	background-image: url(../images/unieap/listth_bk.gif);
}
<!-- 数据窗口操作部分文本的TD 去掉background-color: #E2EFFA;属性-->
td.NEUDwSearchTitleTD {
	
}
<!-- 打开窗口数据块标题文本的TR -->
tr.NEUDwOpenWinTitleTR{
    background-color: #f4f4f4;	
}
<!-- 打开窗口数据块标题文本的TD 去掉background-image: url(../images/unieap/listth_bk.gif);属性-->
td.NEUDwOpenWinTitleTD{
	font-size: 12pt;
	font-weight: blod;	
}
<!-- 改变成白色 -->
tr.NEUDwCommon
{ background-color: #FFFFFF;}
<!-- ---------------------  奇数行中元素背景颜色的定义  ---------------------------- -->
.NEUDwListRowBgColor1{
	background-color: #FFFFFF;
}
<!-- ---------------------  偶数行中元素背景颜色的定义  ---------------------------- -->
.NEUDwListRowBgColor2{
	background-color: #f4f4f4;
}
<!-- ---------------------  选中行中元素背景颜色的定义  ---------------------------- -->
.NEUDwListRowBgColor3{
	background-color: #FFF9EB;
}
.NEUDwListRowBgColor4{
   background-color: #E8EFF5;cursor:hand;
}
table.NEUDwListTableback {
	background-color:#f4f4f4;
}
<!-- 超链接样式 -->
.NEUDwListLink{
	cursor:hand;
}
<!-- 向上排序图片 -->
.NEUAscending{background: url(../images/unieap/datawindow/ascending.gif) no-repeat left top;border:0;font-size:9pt;width:10px;height:10px;}
<!-- 向下排序图片 -->
.NEUDescending{background: url(../images/unieap/datawindow/descending.gif) no-repeat left top;border:0;font-size:9pt;width:10px;height:10px;}

.icon2_td {  height: 22px; width: 24px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-style: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

input.NEUDwButton{ cursor:hand;background-image: url(../images/unieap/datawindow/DataWindow_buttonA.gif);border:0;font-size:9pt;width:55px;height:19px;padding-top:4px}
input.NEUDwButton_Next{ cursor:hand;background-image: url(../images/unieap/datawindow/nextRecord.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_Next_Disable{ cursor:hand;background-image: url(../images/unieap/datawindow/nextRecord_disabled.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_Pre{ cursor:hand;background-image: url(../images/unieap/datawindow/preRecord.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_Pre_Disable{ cursor:hand;background-image: url(../images/unieap/datawindow/preRecord_disabled.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_GoPage{ cursor:hand;background-image: url(../images/unieap/datawindow/go_page.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_GoPage_Diabled{ background-image: url(../images/unieap/datawindow/go_page_disabled.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_Query{ cursor:hand;background-image: url(../images/unieap/datawindow/chaxun.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_Save{ cursor:hand;background-image: url(../images/unieap/datawindow/save.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_Add{ cursor:hand;background-image: url(../images/unieap/datawindow/add.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_Delete{ cursor:hand;background-image: url(../images/unieap/datawindow/delete.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_Modify{ cursor:hand;background-image: url(../images/unieap/datawindow/modify.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_Reset{ cursor:hand;background-image: url(../images/unieap/datawindow/reset.gif);border:0;font-size:9pt;width:55px;height:19px;}
input.NEUDwButton_FirstPage{ cursor:hand;background-image: url(../images/unieap/datawindow/first.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_FirstPage_Disable{background-image: url(../images/unieap/datawindow/first_disabled.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_PreviousPage{ cursor:hand;background-image: url(../images/unieap/datawindow/lase.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_PreviousPage_Disable{ background-image: url(../images/unieap/datawindow/lase_disabled.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_NextPage{ cursor:hand;background-image: url(../images/unieap/datawindow/next.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_NextPage_Disable{ background-image: url(../images/unieap/datawindow/next_disabled.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_LastPage{ cursor:hand;background-image: url(../images/unieap/datawindow/bottom.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_LastPage_Disable{ background-image: url(../images/unieap/datawindow/bottom_disabled.gif);border:0;font-size:9pt;width:22px;height:22px;}
input.NEUDwButton_Refresh{ cursor:hand;background-image: url(../images/unieap/datawindow/DataWindow_buttonA.gif);border:0;font-size:9pt;width:55px;height:19px;}

input.NEUDwCheckBox{ background-image: url(../images/unieap/titlebar_bg.gif);height:90%;}

<!-- ---------------------------- CSS for light weight htc component ------------------------------------ -->
.NEUHTCInput {BACKGROUND-COLOR: #FFFFFF; BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10.5pt; FONT-FAMILY: "宋体, Arial, Helvetica"; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc;}
.NEUHTCButton		{ background : #EAEAEA;	color : Maroon;	font-size : 10.5pt;	width : 80pt;	height : 20pt;}
.NEUHTCReadOnly {BACKGROUND-COLOR: #DFE3E9; BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10.5pt; FONT-FAMILY: "宋体, Arial, Helvetica"; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc;}
.NEUHTCTextArea {BACKGROUND-COLOR: #FFFFFF; BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10.5pt; FONT-FAMILY: "宋体, Arial, Helvetica"; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc;}

<!-- ----------------------------         end        ------------------------------------ -->


<!-- ---------------------------- CSS for BaseTree ------------------------------------ -->
.BaseTree {
	padding:4px 5px;
	FONT-SIZE: 9pt; SCROLLBAR-ARROW-COLOR: #ffffff;  SCROLLBAR-BASE-COLOR:#D6D3CE;
}
.BaseTree div.clsNode {
	height:18px;
}
.BaseTree span {
	cursor:default; padding:2px 2px; position:relative;	display:inline; height:17px; border: solid 1px white;
	top:1px; 
}
.BaseTree SPAN.clsLabel {
	
}
.BaseTree SPAN.clsCollapse {
	border:1px solid #999999; margin:0px; margin-right:2px; position:relative; 
	height:11px; width:11px; font-family:verdana; FONT-SIZE: 9px; OVERFLOW: hidden; 
	padding:1px; padding-top:2px; LINE-HEIGHT: 4px; backgroundImage:url(minus.gif);
}
.BaseTree SPAN.clsExpand {
	border:1px solid #999999; margin:0px; margin-right:2px; position:relative;
	height:11px; width:11px; font-family:verdana; FONT-SIZE: 13px; OVERFLOW: hidden;
	padding:1px; padding-top:1px;  LINE-HEIGHT: 6px; backgroundImage:url(plus.gif);
}
.BaseTree SPAN.clsLeaf {
	height:11px; width:11px; 
	padding: 1px 0px 0px 3px; FONT-SIZE: 9px; OVERFLOW: visible; LINE-HEIGHT: 3px;
}
.BaseTree SPAN.clsMouseOver {
	border-bottom:1px solid #999999;
}
.BaseTree SPAN.clsMouseDown {
	background-color:#eeeeee;
}
.BaseTree SPAN.clsCurrentHasFocus {
	background-color:#dedede;
}
.BaseTree SPAN.clsCurrentNoFocus {
	background-color:#F1F1F1;
}
.BaseTree A {
cursor:default; COLOR: black; TEXT-DECORATION: none;
}
.BaseTree SPAN.clsCurrentHasFocus A {
	
}
.BaseTree SPAN.clsUnavailable {
	height:0px;	padding:0px; top:0px; border:medium none; color:#888888;
}
.BaseTree .hide {
	DISPLAY: none; 
}
.BaseTree .shown {
	DISPLAY: block; MARGIN-LEFT: 14px; 
}
.BaseTree IMG {
	position:relative; top:0px; margin-left:2px; padding:0px; width:12px; height:12px;
}
.BaseTree .treelabel {
	FONT-SIZE: 70.5%; COLOR: white; FONT-FAMILY: verdana
}
.BaseTree input.clsCheckbox {
	height:14px; width:14px; margin-left:2px;
}
<!-- ----------------------------         end        ------------------------------------ -->
<!-- ----------------------------    css for TabPage ------------------------------------ -->
.NEUTabPageDeselectTabLeftTD{
	FONT-SIZE: 9pt;
	COLOR: #000000;
	FONT-FAMILY: "Arial", "Helvetica","宋体";	
	CURSOR:hand;
	background-image: url(../images/unieap/tabpage/tab_a.gif);	
	border-bottom:solid 1 white;
	border-left:solid 1 #47578A; 
	height:20px;
	width:19px;
}
.NEUTabPageDeselectTabMiddleTD{
	FONT-SIZE: 9pt;
	COLOR: #000000;
	FONT-FAMILY: "Arial", "Helvetica","宋体";	
	CURSOR:hand;
	background-image: url(../images/unieap/tabpage/tab_a1.gif);	
	border-bottom:solid 1 white;
	height:20px;
}
.NEUTabPageDeselectTabRightTD{
	FONT-SIZE: 9pt;
	COLOR: #000000;
	FONT-FAMILY: "Arial", "Helvetica","宋体";
	CURSOR:hand;
	background-image: url(../images/unieap/tabpage/tab_a2.gif);	
	height:20px;
	width:8px;
	border-bottom:solid 1 white;
	

}
.NEUTabPageSelectTabLeftTD{
	FONT-SIZE: 9pt;
	COLOR: red;
	FONT-FAMILY: "Arial", "Helvetica","宋体";	
	CURSOR:hand;
	background-image: url(../images/unieap/tabpage/tab_b.gif);	
	border-left:solid 1 #47578A; 
	height:20px;
	width:19px;
}
.NEUTabPageSelectTabMiddleTD{
	FONT-SIZE: 9pt;
	COLOR: red;
	FONT-FAMILY: "Arial", "Helvetica","宋体";	
	CURSOR:hand;
	background-image: url(../images/unieap/tabpage/tab_b1.gif);	
	height:20px;
}
.NEUTabPageSelectTabRightTD{
	FONT-SIZE: 9pt;
	COLOR: red;
	FONT-FAMILY: "Arial", "Helvetica","宋体";	
	CURSOR:hand;
	background-image: url(../images/unieap/tabpage/tab_b2.gif);		
	height:20px;
	width:8px;
}
.NEUTabPageFrontContentDIV{
   background:#ADC9EB;	
   position:absolute; 
   height:100%; 
   width:100%; 
   border-left:solid 1 #47578A; 
   border-bottom:solid 1 #47578A; 
   border-right:solid 1 #47578A;    
}
input.NEUTabPageBackBtnINPUT{	
   border:0px;
   background-image: url(../images/unieap/tabButtonBack.gif);
   width:20px;
   height:20px;
   cursor:hand;
}
input.NEUTabPageFrontBtnINPUT{	
   border:0px;
   width:20px;
   height:20px;
   cursor:hand;
   background-image: url(../images/unieap/tabButtonFront.gif);
}
<!-- ----------------------------         end        ------------------------------------ -->

/*
input {BACKGROUND-COLOR: #FFFFFF; BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10.5pt; FONT-FAMILY: "宋体, Arial, Helvetica"; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc;}
*/
input {
font-size:12px;
width: 125px;
}
input.Button		{ background : #EAEAEA;	color : Maroon;	font-size : 10.5pt;	width : 80pt;	height : 20pt;}

.menupath{font-family: "宋体"; font-size:14px; color:#EE0000;}