.unieap .u-ngt{
	width:100%;
	height:100%;
	overflow:hidden;
	font-size:12px;
}
/*** 最外层table样式 **/
.unieap .u-ngt-tab{
	table-layout:fixed;
	width:100%;
	height:100%;
}
/** 显示导航菜单区域 **/
.unieap .u-ngt-menu{
	width:100%;
	height:100%;
	overflow:hidden;
}
/** 显示导航树区域 **/
.unieap .u-ngt-content{
	width:100%;
	height:100%;
	overflow:auto;
}
/** 标题栏样式 **/
.unieap .u-ngt-title{
	height:25px;
	line-height: 25px;
	background: url(images/ct_bg.gif) repeat-x;
	border-bottom:1px solid #abbad1;	
}
/** 菜单图标 **/
.unieap .u-ngt-logo{
	width:16px;
	height:16px;
	overflow:hidden;
	float:left;
	margin:5px 3px 0px 2px ;
	background: url(images/demo.gif);
}
/** 菜单文本描述 **/
.unieap .u-ngt-label{
	height:16px;
	font-size: 12px;	
	float:left;
}
/** 合拢图标 **/
.unieap .u-ngt-collapse{
	float:right;
	width:16px;
	height:16px;
	margin:5px 2px 0px 2px;
	overflow:hidden;
	background: url(images/collapse.gif);
}
/** 关联图标 **/
.unieap .u-ngt-synced{
	float:right;
	width:16px;
	height:16px;
	margin:5px 2px 0px 2px;
	overflow:hidden;
	background: url(images/synced.gif);
}
/** 左边拖拽条样式定义 **/
.unieap .u-ngt-drag{
	width:7px;
	height:100%;
	overflow:hidden;
	background: url(images/mr_bg.gif) repeat-y;
	cursor: e-resize ;
}
/** 拖拽条中间图片样式定义 **/
.unieap .u-ngt-dragproxy{
	width:7px;
	height:41px;
	overflow:hidden;
	cursor:hand;
	background: url(images/mr_resize.gif);
}
/** 定义底层样式 **/
.unieap .u-ngt-btm{
	height:25px;
	line-height:25px;
	background: url(images/ct_bg.gif) repeat-x;
	border-top:1px solid #abbad1;
	cursor:hand;
}
/** 定义收藏夹 **/
.unieap .u-ngt-favorite{
	float:left;
	width:16px;
	height:16px;
	margin:4px 3px 0px 2px ;
	background: url(images/favorite.gif) no-repeat;;
}
/** 其他图标 **/
.unieap .u-ngt-page{
	float:left;
	width:16px;
	height:16px;
	margin:4px 3px 0px 2px ;
	background: url(images/page.gif) no-repeat;;
}
.unieap .u-ngt-display{
	float:right;
	width:16px;
	height:16px;
	margin:5px 2px 0px 2px;
	overflow:hidden;
	background: url(images/display.gif) no-repeat;
}
.unieap .u-ngt-close{
	float:right;
	width:16px;
	height:16px;
	margin:5px 2px 0px 2px;
	overflow:hidden;
	background: url(images/close.gif) no-repeat;
}
.unieap .u-ngt-clear{
	float:right;
	width:16px;
	height:16px;
	margin:5px 2px 0px 2px;
	overflow:hidden;
	background: url(images/clear.gif) no-repeat;;
}