/*@import url("../form/button/button.css");*/
/** 对话框外层容器样式 **/
.unieap .u-dlg table {
}

.unieap .u-dlg {
	position: absolute;
	z-index: 1001;
}
/** 头部样式 **/
.unieap .u-dlg-mt {
	height: 23px;
	width: 100%;
	overflow: hidden;
}
/** 头部左上角样式 **/
.unieap .u-dlg-mtl {
	height: 23px;
	width: 5px;
	overflow: hidden;
	float: left;
}
/** 头部右上角样式 **/
.unieap .u-dlg-mtr {
	height: 23px;
	width: 5px;
	overflow: hidden;
	float: right;
}
/** 头部内容样式 **/
.unieap .u-dlg-mtc {
	height: 23px;
	cursor: default;
	overflow: hidden;
}
/** 头部文字区域样式 **/
.unieap .u-dlg-mtt {
	height: 23px;
	overflow: hidden;
	float: left;
	cursor: default;
	padding-left: 5px;
	line-height: 23px;
}
/** 头部按钮区域样式 **/
.unieap .u-dlg-mtb {
	height: 23px;
	float: right;
	cursor: default;
	line-height: 23px;
	width: 61px;
	overflow: hidden;
}
/** 头部放大按钮样式 **/
.unieap .u-dlg-mtb .u-dlg-be {
	float: left;
	margin-top: 3px;
	width: 24px;
	height: 18px;
	overflow: hidden;
	cursor: pointer;
}
/** 头部缩小按钮样式 **/
.unieap .u-dlg-mtb .u-dlg-bs {
	float: left;
	margin-top: 4px;
	width: 15px;
	height: 14px;
	overflow: hidden;
	cursor: pointer;
}
/** 头部关闭按钮样式 **/
.unieap .u-dlg-mtb .u-dlg-bc {
	float: right;
	margin-top: 3px;
	width: 36px;
	height: 18px;
	overflow: hidden;
	cursor: pointer;
}
/** 内容区域样式 **/
.unieap .u-dlg-mm {
	width: 100%;
	padding: 0px;
	overflow: hidden;
}
/** 左边框样式 **/
.unieap .u-dlg-ml {
	float: left;
	width: 5px;
	overflow: hidden;
	height: 100%;
}

.dj_ie6 .unieap .u-dlg-ml {
	margin-right: -3px;
}
/** 右边框样式 **/
.unieap .u-dlg-mr {
	float: right;
	width: 5px;
	cursor: e-resize;
	overflow: hidden;
	height: 100%;
}

.dj_ie6 .unieap .u-dlg-mr {
	margin-left: -3px;
}
/** 中间内容样式 **/
.unieap .u-dlg-mmm {
	width: auto;
	height: 100%;
	overflow: hidden;
}
/** 自定义内容外层样式 **/
.unieap .u-dlg-mmf {
	width: 100%;
	overflow: hidden;
}
/** 自定义内容样式 **/
.unieap .u-dlg-mmc {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
}
/** 按钮定义区域样式 **/
.unieap .u-dlg-mmb {
	text-align:center;	
	padding-top:7px;
    height:34px;
}
/** 底部边框样式 **/
.unieap .u-dlg-mb {
	height: 5px;
	width: 100%;
	overflow: hidden;
	cursor: s-resize;
}
/** 底部左下角边框样式 **/
.unieap .u-dlg-mbl {
	height: 5px;
	width: 5px;
	float: left;
	overflow: hidden;
}
/** 底部右下角边框样式 **/
.unieap .u-dlg-mbr {
	height: 5px;
	width: 5px;
	float: right;
	overflow: hidden;
}
/** 底部内容边框样式 **/
.unieap .u-dlg-mbc {
	height: 5px;
	overflow: hidden;
}

.unieap .u-dlg-backgroundIframe {
	border: 0px;
	position: absolute;
	z-index: -2;
}

/**  在对话框上再次弹出对话框时，对前一对话框进行遮挡的层 **/
.unieap .u-dlg-modalDiv {
	background-color: #c3daf9;
	border: 1px solid #6593cf;
	z-index: 1001;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	filter: Alpha(Opacity =   "50");
	opacity: .50;
}

.unieap .unieap-dlg-BackgroundIframe {
	position: absolute;
	z-index: 1000;
	border: 0;
	padding: 0;
	margin: 0;
}

.unieap  .unieap-dlg-contentIframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
	padding-top: 0;
	padding-right: 0;
	margin: 0;
}

.unieap .u-dlg-moveDiv {
	filter: Alpha(Opacity =   "50");
	border: 1px solid #6593cf;
	z-index: 10001;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .50;
}

.unieap .messageBg table td {
}

.questionIcon {
	width: 32px;
	height: 32px;
}

.errorIcon {
	width: 32px;
	height: 32px;
}

.infoIcon {
	width: 32px;
	height: 32px;
}

.warnIcon {
	margin-left: 2px; width : 32px;
	height: 32px;
	width: 32px;
}