/**
* Tooltip组件的基本样式
**/
.dijitTooltip {
	position: absolute;
	z-index: 2000;
	display: block;
	left: 50%;
	top: -10000px;
	overflow: visible;
}

.dijitTooltipContainer {
	font-size: small;
}

.dijitTooltipFocusNode {
	padding: 2px 2px 2px 2px;
}

.dijitTooltipConnector {
	position: absolute;
}

.dijitTooltipData {
	display:none;
}
.unieap .dijitTooltip{
	background: transparent;	
}

.unieap .dijitTooltipBelow {
	padding-top: 13px;
}

.unieap .dijitTooltipAbove {
	/* leave room for arrow below content */
	padding-bottom: 13px;
}

.unieap .dijitTooltipContainer {
	padding: 0.45em;	
	-webkit-border-radius: 3px;
	font:normal normal normal 12px verdana;
}
.dj_ff3 .unieap .dijitTooltipContainer {
	/* only do this for FF3, because FF2 has problems with glitches */
	-moz-border-radius: 3px;
}	
.unieap .dijitTooltipConnector {
	/* the arrow piece */
	border:0px;
	z-index: 2;
}
.unieap .dijitTooltipABRight .dijitTooltipConnector {
	/* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left */
	left: auto !important;
	right: 3px;
}

.unieap .dijitTooltipBelow .dijitTooltipConnector {
	/* the arrow piece for tooltips below an element */
	top: 0px;
	left: 3px;
	width:16px;
	height:14px;
}

.dj_ie6 .unieap .dijitTooltipBelow .dijitTooltipConnector {
	/* use gif for IE7 too, due to png rendering problems on fade-in (see http://trac.dojotoolkit.org/ticket/6555) */
}

.unieap .dijitTooltipAbove .dijitTooltipConnector {
	/* the arrow piece for tooltips above an element */
	bottom: 0px;
	left: 3px;
	width:16px;
	height:14px;
}
.dj_ie6 .unieap .dijitTooltipAbove .dijitTooltipConnector {
}
.dj_ie6 .unieap .dijitTooltipAbove .dijitTooltipConnector {
	bottom: -3px;
}

.unieap .dijitTooltipLeft {
	padding-right: 14px;
}
.dj_ie6 .unieap .dijitTooltipLeft {
	padding-left: 15px;
}
.unieap .dijitTooltipLeft .dijitTooltipConnector {
	/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
	right: 0px;
	bottom: 3px;
	width:16px;
	height:14px;
}
.dj_ie6 .unieap .dijitTooltipLeft .dijitTooltipConnector {
}

.unieap .dijitTooltipRight {
	padding-left: 14px;
}
.unieap .dijitTooltipRight .dijitTooltipConnector {
	/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
	left: 0px;
	bottom: 3px;
	width:16px;
	height:14px;
}
.dj_ie6 .unieap .dijitTooltipRight .dijitTooltipConnector {
}

.dj_webkit .unieap .dijitPopup .dijitTooltipContainer,
.dj_webkit .unieap .dijitPopup .dijitMenu {
	/* -webkit-border-radius: 5px; */
}


.unieap  .dijitTooltipContainerLoadingImage {
	width:20px;
    background-color: #fafafa;
    left:0px;
    height:18px;
    position:absolute !important;
}
.dj_ie6 .unieap .dijitTooltipContainerLoadingImage {
}
.unieap  .dijitTooltipContainerLoadingText{
  left:20px;
  position:absolute;
  top:2px;
}

.unieap  .dijitTooltipContainerLoadingContainer{
  padding-left:20px;
  position:relative;
  width:172px;
  height:18px;
}
