#divFavContent{display:none;}
.toolbarMenu{border-collapse:collapse}
.toolbarMenu td{
	width:21;
	height:25;
	text-align:center;
	cursor:hand
}
.toolbarMenuOver{
	background-color:#B6BDD2;
	border:1px solid #abbad1;
	/*background-color:#ccc;border:1px solid #666;
	
	background-color:#ACACAC;border:1px solid #7A797F;*/
}
.toolbarMenuOut{background-color:;border:0}


.topBg{	
	background-color:#abbad1;
}


/* ��ݰ�ť����ɫ(ͼ) */
.templateToolbarBg{
	background-image:url("../images/toolbarbg.jpg");
	background-color:#DDDDDD;
}

.menufavorite{
	width:16px;
	height:16px;
	cursor:hand;
	background-image: url("../tab/images/frame/favorite.gif");	
	float:'left';
	margin:0 5px 0 5px;
}
.OTtable{
	border:0px solid #abbad1;
	width:100%;
	height:100%;
	background-color:#abbad1;
	table-layout:fixed;
}
.OTtd{
	line-height:18px;
	padding-left:2px
}
.OTspan{display:none;}

/* ��˵����౳��ɫ(ͼ) */
.folder{
	height:25px;
	cursor:hand;
	background-image:url("../images/leftbarbgimage.jpg");
	background-color:#B6BDD2;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}
.folder img{margin:0 10px 0 10px}

.folderMouseOver{
	height:25px;
	cursor:hand;
	background-image: url(../images/leftbarbgimage_mouse_over.jpg);
	background-repeat: repeat-x;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}
.folderMouseOver img{margin:0 10px 0 10px}

.thumbImg{
	color:#000000;
	cursor:hand;
	background-image:url("../images/leftbarbgimage.jpg");
	background-color:#B6BDD2;
}

.file{
	background-color:#FFFFFF;
	vertical-align:top;
	padding:0px;
}
.file a{
	color:#000000;
	text-decoration:none;
}
.handle{
	/*
	-��ĺ���
	*/
	height:3px;
	background-image:url("../images/scroll_mid_lf.gif");
	cursor:row-resize;
}
.lefthandle{
	cursor:col-resize;
}
#thumbBox{
	height:25px;
	background-image:url("../images/leftbarbgimage.jpg");
	color:white;
	text-align:right;
}

#thumbBox img{margin-right:5px}

#rightArrow{cursor:hand}

.menuBox{
	width:100%;
	height:100%;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #abbad1;
	border-bottom-color: #abbad1;
	table-layout:fixed;
}

.menuBoxTd{
	height:100%;
	padding:4px 0 4px 4px;
	background-position:right;
	background-repeat:repeat-y;
	background-color: #ffffff;
}
.menuBoxTdBu{
   height:100%;width:7px;padding:0px 0 0px 0px;background-image:url("../images/menu_td_rt_bg.gif")
}
