/*
.function-menu-ctn { 
	font: 13px/ 1.125 Arial, Helvetica, sans-serif;
	right: 5px;
	bottom: 45px;
	line-height: 14px;
	position: fixed; 
	z-index:10000
}
*/
.function-navigator-container{
	padding-bottom: 10px;

}

.function-menu-ctn { 
	font: 13px/ 1.125 Arial, Helvetica, sans-serif;
	line-height: 14px;
	text-align: center;
	margin-top: 10px;
	
	 
}
 

.function-menu-link {
	background: #D2ECFD;
	margin: 10px 3px;
	margin-left: 0px;
	cursor: pointer;
	float: left;
	padding: 5px;
	
} 

.function-menu-link span {
	display: block;
	margin: 3px;
	color: red;
}
/*
.function-menu-list {
	background: #D2ECFD;
	float: left;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 20px;
	height: 81px;
	display: none;
}
*/
.function-menu-list {
	padding-right: 10px;
	padding-left: 20px;
	
}


.function-menu-first-line {
	text-align: center;
	
	vertical-align: middle;
}

.function-menu-first-line input {
	cursor: pointer;
}

.function-menu-line {
	text-align: center;
	vertical-align: middle;
}

.function-menu-line  input {
	cursor: pointer;
}