<STYLE>
	BODY {margin:0}     
	.trType{font-size:11px;font-family:"Times New Roman";height:20px}
	.newtrType{font-size:13px;height:0px;font-color:#3C5184}	
	.tabletype{width:620px}
	.buttonType{font-size:11px;font-family:"Times New Roman";width:50px;height:20px}
	.textType{font-size:11px;font-family:"Times New Roman";width:110px;height:20px}
	.textType_sim{font-size:11px;font-family:"Times New Roman";width:191px;height:20px}
	.textType_count{font-size:11px;font-family:"Times New Roman";width:450px;height:20px;}
	.drawdownType{font-size:11px;font-family:"Times New Roman";width:110px;height:20px}
	.drawdownType_favor{font-size:11px;font-family:"Times New Roman";width:540px;height:20px}
	.notsType{font-size:11px;font-family:"Times New Roman";width:450px;height:20px}
	.alertType{font-size:11px;font-family:"Times New Roman";width:520px;height:20px}
	.row{font-size:11px;font-family:"Times New Roman"}
</STYLE>