<!--there are some examples for javascript,if have some questions,please

send mail to zhangzc@neusoft.com-->



<!--引入jump_field(to_field) 函数进行跳转-->

   <script language = "JavaScript" src="jump_field.js"> </script>



<!--引入confirm_password(new_password,old_password) 函数判断旧密码和新密码是否一致-->

   <script language = "JavaScript" src="confirm_password.js"> </script>

   

<!--引入email_check(field_name,form_field)检察邮件格式是否正确-->   

<script language = "JavaScript" src="email_check.js"></script>



<!--引入date_onkey(event,this_field,marker,err_method)按键时以YYYY-MM-DD格式自动输入-->

<script language = "JavaScript" src="date_onkey.js"></script>



<!--引入date_get(date_string,marker)得到日期的年、月、日-->

<script language = "JavaScript" src="date_get.js"></script>



<!--引入date_check(year,month,day,field_name)检察日期是否正确-->

<script language = "JavaScript" src="date_check.js"></script>



<!--引入date_start_end(start_date_string,end_date_string,err_message)比较日期-->

<script language = "JavaScript" src="date_start_end.js"></script>



<!--引入not_null(field_name,this_field)进行非空校验-->

<script language="javascript" src="not_null.js"></script> 



<!--引入decimal_number(form_field,limit_top,decimal)进行对数字以及精度的校验-->

<script language="javascript" src="decimal_number.js"></script> 



<!--引入check_length(this_field,field_name,min_length,max_length)检察文本框中的值是否在min_length,max_length之间-->

<script language="javascript" src="check_length.js"></script>



<!--引入set_field(to_field,set_value,set_status,set_length)检查set_field属性-->

<script language="javascript" src="set_field.js"></script>



<!--引入sub_string(in_string,start_int,sub_length)字符串截取函数-->

<script language="javascript" src="sub_string.js"></script>



<!--引入remove_blank(in_string)去除字符空格-->

<script language="javascript" src="remove_blank.js"></script>



<!--onkey(key_event,err_method,this_field,next_field,check_kind,err_message,enter_value)

引入单个的键盘事件校验用户输入是否正确-->

<script language="javascript" src="onkey.js"></script>



<!--onlost(this_field,check_kind,err_massage)用来在onblur时候测试文本框的数值是否符合一定格式-->

<script language="javascript" src="onlost.js"></script>



<!--离开焦点的时候检查日期是否正确-->

<script language="javascript">

function check_date_onblur(field_name,date_field)

{

var date_string=date_field.value;

var date_array=date_get(date_string,"-");

var result=new Array();

result=date_check(date_array.year,date_array.month,date_array.day,field_name);

if (false==result.status)

	{

		alert(result.message);

		jump_field(date_field);

	}



}

</script>



<!--onblur时设定文本框属性-->

<script language="javascript">

function set_field_onblur(date_field)

{

if (""==date_field.value)

	{

	}

else

	{

	set_field(date_field,date_field.value,2,date_field.maxLength);

	}	



}

</script>



<script language="javascript">

function on_lost_check(date_field)

{

var result=new Array();

result=onlost(date_field,document.forms[0].on_lost_list.value,"on_lost函数校验错误!");

if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].on_lost_value);

		return false;

	}

}

</script>





<script language="javascript">

function check_all_onsubmit()

{

	var result=new Array();

	

	<!--提交时检查旧密码不可以为空!-->

	result=not_null("旧密码",document.forms[0].old_password);

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].old_password);

		return false;

	}

	

	<!--提交时检查新密码不可以为空!-->

	result=not_null("新密码",document.forms[0].new_password);

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].new_password);

		return false;

	}

	

	<!--提交时检查新旧密码-->

	result=confirm_password(document.forms[0].new_password,document.forms[0].old_password);

	if (false==result.status)

	{	

		alert(result.message);

		jump_field(document.forms[0].new_password);

		return false;

	}

	

	<!--提交时检查电子邮件-->

	result=email_check("电子邮件",document.forms[0].email);

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].email);

		return false;

	}

	

	<!--提交前检查开始日期格式是否正确-->

	var start_date_array=date_get(document.forms[0].start_date.value,"-");

	result=date_check(start_date_array.year,start_date_array.month,start_date_array.day,"开始日期");

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].start_date);

	}

	

	<!--提交前检查结束日期格式是否正确-->

	var end_date_array=date_get(document.forms[0].end_date.value,"-");

	result=date_check(end_date_array.year,end_date_array.month,end_date_array.day,"结束日期");

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].end_date);

	}

	

	<!--结束日期必须大于开始日期,此处省去判断开始日期和结束日期不为空的判断-->

	result=date_start_end (start_date_array.datestring,end_date_array.datestring,"结束日期时间必须大于开始日期!")

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].end_date);

		return false;

	}

	

	<!--提交前检查非空字段-->

	result=not_null("非空字段",document.forms[0].cannot_null);

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].cannot_null);

		return false;

	}

	

	<!--检查数值情况-->

	result=decimal_number(document.forms[0].number_test,9999.99,3)

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].number_test);

		return false;

	}

	

	<!--检查长度必须在3-6位之间-->

	result=check_length(document.forms[0].length_test,"长度校验",3,6)

	if (false==result.status)

	{

		alert(result.message);

		jump_field(document.forms[0].length_test);

		return false;

	}



}	

</script>



<html>

<head>

<meta http-equiv="Content-Language" content="zh-cn">

<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

<meta name="GENERATOR" content="Microsoft FrontPage 4.0">

<meta name="ProgId" content="FrontPage.Editor.Document">

<title>field</title>

</head>

<body>

<form method="POST" name="myform" onSubmit="return check_all_onsubmit();">

  <table border="1" width="100%" style="font-size: 15px; letter-spacing: -1pt">

    <tr>

      <td width="100%" bgcolor="#EEE6FF" colspan="6" align="center">

        <h3 align="center">example for javascript</h3>

      </td>

    </tr>

    <tr>

      <td width="15%" bgcolor="#EEE6FF">field_name</td>

      <td width="9%" bgcolor="#EEE6FF">field</td>

      <td width="17%" bgcolor="#EEE6FF">field_name</td>

      <td width="8%" bgcolor="#EEE6FF">field</td>

      <td width="51%" bgcolor="#EEE6FF" colspan="2">备注</td>

    </tr>

    



    <tr>

      <td width="15%" bgcolor="#ECFFEC">old_password(*)</td>

      <td width="9%" bgcolor="#FFF5EC"><input type="text" name="old_password" size="10"></td>

      <td width="17%" bgcolor="#ECFFEC">new_password(*)</td>

      <td width="8%" bgcolor="#FFF5EC"><input type="text" name="new_password" size="10" ></td>

      <td width="51%" colspan="2" bgcolor="#E6F4FF">校验新旧密码是否一致</td>

    </tr>

    <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数:confirm_password、not_null</font></td>

    </tr>

     <tr>

      <td width="15%" bgcolor="#ECFFEC">email</td>

      <td width="9%" bgcolor="#FFF5EC"><input type="text" name="email" size="10" ></td>

      <td width="17%" bgcolor="#ECFFEC">　</td>

      <td width="8%" bgcolor="#FFF5EC">　</td>

      <td width="51%" colspan="2" bgcolor="#E6F4FF">校验电子邮件格式</td>

    </tr>

        <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数:email_check</font></td>

    </tr>

       <tr>

      <td width="15%" bgcolor="#ECFFEC">start_date</td>

      <td width="9%" bgcolor="#FFF5EC"><input type="text" name="start_date" size="10" maxLength='10' onblur="check_date_onblur('开始日期',this);" onKeyPress="return date_onkey(event,this,'-',0)"></td>

      <td width="17%" bgcolor="#ECFFEC">end_date</td>

      <td width="8%" bgcolor="#FFF5EC"><input type="text" name="end_date" maxLength='10' onblur="check_date_onblur('结束日期',this)" size="10" onKeyPress="return date_onkey(event,this,'-',0)"></td>

      <td width="51%" colspan="2" bgcolor="#E6F4FF">校验日期格式，结束日期要求大于开始日期，本次提交前校验没有检查两个日期为空的情况，可根据实际情况调整</td>

    </tr>

       <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数:date_onkey、date_get、date_check、date_start_end</font></td>

    </tr>

    <tr>

      <td width="15%" bgcolor="#ECFFEC">not_null(*)</td>

      <td width="9%" bgcolor="#FFF5EC"><input type="text" name="cannot_null" size="10"></td>

      <td width="17%" bgcolor="#ECFFEC">　</td>

      <td width="8%" bgcolor="#FFF5EC">　</td>

      <td width="51%" colspan="2" bgcolor="#E6F4FF">校验非空</td>

    </tr>

    <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数:not_null</font></td>

    </tr>

    <tr>

      <td width="15%" bgcolor="#ECFFEC">number_test</td>

      <td width="9%" bgcolor="#FFF5EC"><input type="text" name="number_test" size="10"></td>

      <td width="17%" bgcolor="#ECFFEC">　</td>

      <td width="8%" bgcolor="#FFF5EC">　</td>

      <td width="51%" colspan="2" bgcolor="#E6F4FF">校验数字number(6,2)格式,9999.99</td>

    </tr>

    <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数:decimal_number</font></td>

    </tr>

    <tr>

      <td width="15%" bgcolor="#ECFFEC">length_test</td>

      <td width="9%" bgcolor="#FFF5EC"><input type="text" name="length_test" size="10"></td>

      <td width="17%" bgcolor="#ECFFEC">　</td>

      <td width="8%" bgcolor="#FFF5EC">　</td>

      <td width="51%" colspan="2" bgcolor="#E6F4FF">长度校验,3-6位之间</td>

    </tr>

    <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数:check_length</font></td>

    </tr>

    <tr>

      <td width="15%" bgcolor="#ECFFEC">　set_field</td>

      <td width="9%" bgcolor="#FFF5EC"><input type="text" name="set_field" size="10" onblur="set_field_onblur(this);"></td>

      <td width="17%" bgcolor="#ECFFEC">　</td>

      <td width="8%" bgcolor="#FFF5EC">　</td>

      <td width="51%" colspan="2" bgcolor="#E6F4FF">设置控件的值、状态、长度</td>

    </tr>

    <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数：set_field</font></td>

    </tr>

    <tr>

      <td width="15%" bgcolor="#ECFFEC">sub_str</td>

      <td width="9%" bgcolor="#FFF5EC"><input type="text" name="sub_str" size="10" value='0123456789' disabled></td>

      <td width="17%" bgcolor="#ECFFEC">sub_start</td>

      <td width="8%" bgcolor="#FFF5EC"><input type="text" name="sub_start" size="10" value='2' disabled></td>

      <td width="14%" bgcolor="#ECFFEC">sub_length</td>

      <td width="21%" bgcolor="#FFF5EC"><input type="text" name="sub_length" size="10" onKeyPress="return onkey(event,0,this,document.forms[0].new_str,'ck_number',number_message,'false');" onblur="document.forms[0].new_str.value=sub_string(document.forms[0].sub_str.value,document.forms[0].sub_start.value,this.value);"></td>

    </tr>

    <tr>

      <td width="3%" bgcolor="#ECFFEC">new_str</td>

      <td width="21%" bgcolor="#FFF5EC"><input type="text" name="new_str" size="10" disabled></td>

      <td width="76%" colspan="4" bgcolor="#E6F4FF">截取字符串,本例中从第二位开始截取sub_length长度的字符</td>

    </tr>

    <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数：sub_string</font></td>

    </tr>

    <tr>

      <td width="14%" bgcolor="#ECFFEC"><font color="#000000">with_blank_s</font></td>

      <td width="29%" bgcolor="#FFF5EC"><input type="text" name="with_blank_s" size="10" onblur="document.forms[0].deal_blank_s.value=remove_blank(this.value);"></td>

      <td width="15%" bgcolor="#ECFFEC">deal_blank_s</td>

      <td width="11%" bgcolor="#FFF5EC"><input type="text" name="deal_blank_s" size="10" disabled></td>

      <td width="31%" colspan="2" bgcolor="#E6F4FF"><font color="#000000">去除空格的函数</font></td>

    </tr>

    <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数：remove_blank</font></td>

    </tr>

    <tr>

      <td width="15%" bgcolor="#ECFFEC">on_key_list</td>

      <td width="9%" bgcolor="#FFF5EC"><select size="1" name="on_key_list" onchange="document.forms[0].on_key_value.value='';">

          <option selected value="ck_number">输入数字</option>

          <option value="ck_decimal">输入数字、小数点</option>

          <option value="ck_comma">输入数字、逗号</option>

          <option value="ck_single">输入数字和英文字母</option>

          <option value="ck_sample">输入数字、字母下划线</option>

          <option value="ck_noblank">非空格字符</option>

        </select></td>

      <td width="17%" bgcolor="#ECFFEC">on_key_value</td>

      <td width="8%" bgcolor="#FFF5EC"><input type="text" name="on_key_value" size="10" onKeyPress="return onkey(event,0,this,document.forms[0].on_lost_list,document.forms[0].on_key_list.value,'on_key函数校验错误','false');" ></td>

      <td width="51%" colspan="2" bgcolor="#E6F4FF">测试on_key函数</td>

    </tr>

    <tr>

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数：onkey</font></td>

    </tr>

    <tr>

      <td width="15%" bgcolor="#ECFFEC">on_lost_list</td>

      <td width="9%" bgcolor="#FFF5EC"><select size="1" name="on_lost_list" onchange="document.forms[0].on_lost_value.value='';">

        <option selected value="ck_number">数字</option>

        <option value="ck_decimal">数字和小数点</option>

        <option value="ck_comma">数字和逗号</option>

        <option value="ck_single">数字和字母</option>

        <option value="ck_sample">字母数字下划线,字母数字开头</option>

        <option value="ck_underline">字母、数字下划线</option>

        <option value="ck_noblank">不能包含空格</option>

        <option value="ck_date">数字和横线</option>

        <option value="ck_phone">标准电话格式</option>

        &nbsp;       

        </select></td>       

      <td width="17%" bgcolor="#ECFFEC">on_lost_value</td>       

      <td width="8%" bgcolor="#FFF5EC"><input type="text" name="on_lost_value" size="10" onblur="on_lost_check(this);"></td>       

      <td width="51%" colspan="2" bgcolor="#E6F4FF">测试on_lost函数,当文本框为空的时候也进行校验，以后接口可能有改动</td>      

    </tr>      

    <tr>      

      <td width="100%" colspan="6" bgcolor="#EEE6FF"><font color="#FF0000">所用的函数：onlost</font></td>     

    </tr>     

  </table>     

  <p>　</p>     

  <p align="center"><input type="submit" value="提交" name="B1"><input type="reset" value="全部重写" name="B2"></p>     

</form>     

</body>     

</html>     

