<script language="javascript" src="decimal_number.js">/*decimal_number(form_field,limit_top,decimal)*/</script> 

<script language="javascript" src="date_onkey.js">/*date_onkey(event,this_field,marker,err_method)*/</script>

<script language="javascript" src="email_check.js">/*email_check(field_name,form_field)*/</script> 

<script language="javascript" src="jump_field.js">/*jump_field(to_field)*/</script> 

<script language="javascript" src="date_start_end.js">/*date_start_end (start_date_string,end_date_string,err_message)*/</script> 

<script language="javascript" src="match_check.js">/*match_check(form_field,num_expr,err_message)*/</script> 

<script language="javascript" src="onkey.js">/*check_allow(witch_key,check_kind)*/</script> 

<script language="javascript" src="onlost.js">/*onlost(this_field,check_kind,err_massage)*/</script> 

<script language="javascript" src="refresh_fee_string.js">/*refresh_fee_string(the_text)*/</script> 

<script language="javascript" src="remove_blank.js">/*remove_blank(in_string)*/</script> 

<script language="javascript" src="set_field.js">/*set_field(to_field,set_value,set_status,set_length)*/</script> 

<script language="javascript" src="sub_string.js">/*sub_string(in_string,start_int,sub_length)*/</script> 

<script language="javascript" src="check_length.js">/*check_length(this_field,field_name,min_length,max_length)*/</script> 

<script language="javascript" src="get_birthday.js">/*get_birthday(identity_code)*/</script> 

<script language="javascript" src="date_get.js">/*date_get(date_string,marker)*/</script> 

<script language="javascript" src="not_null.js">/*not_null(field_name,this_field)*/</script> 

<script language="javascript" src="confirm_password.js">/*confirm_password(new_password,old_password)*/</script> 

<script language="javascript" src="date_check.js">/*date_check(year,month,day,field_name)*/</script> 

<script language="javascript" src="submit_fun.js">/*submit_fun(the_form,the_file,the_parameter)*/</script> 





<html>

<body>

<form method="POST"  onSubmit="return check_all_onsubmit();" name = "aa">

  <p>old_password<input type="text" name="old_pass" size="20" onKeyPress="return onkey(event,0,this,document.aa.new_pass,'ck_number','只能是数字')">

  new_password<input type="password" name="new_pass" size="20">

  <input type="submit" value="提交" name="B1"><input type="reset" value="全部重写" name="B2"></p>

  

  <select name="visit_level" onblur="alert(this.type);">

				 	

				 </select>

				 <select name="ddl" class="drawdownType"  onblur="submit_fun(document.aa,'dd.php','haha')">

				 	<option value='33'>ss</option>

				 	<option value=''>aa</option>

				 </select>

</form>

</body>

</html>



