#ddgrid1, #ddgrid2, #ddgrid3{
	width:200px;
	height:225px;
	position:absolute;
	top:30px;
	overflow:hidden;
	border: 1px solid #c3daf9;
	cursor:default;
}
#ddgrid1{left:5px;}
#ddgrid2{left:5px;}
#ddgrid3{left:225px;z-index:10;}
#ddgrid1 .ygrid-col-0 {
}
#ddgrid1 .ygrid-col-1 {
}
#ddgrid2 .ygrid-col-0 {
}
#ddgrid2 .ygrid-col-1 {
}
#ddgrid3 .ygrid-col-0 {
}
#ddgrid3 .ygrid-col-1 {
}