<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User) -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="menu_database" class="com.neusoft.unieap.example.menu.interaction.DatabaseMenuInteractionObjectImpl"/>
	<bean id="data_auth_exam" class="com.neusoft.unieap.example.dataauth.interaction.DataAuthExamInteractionObjImpl"/>
	<bean id="testObject" class="com.neusoft.unieap.bl.test.BizInteractionObjectImpl"/>
	<bean id="loginUserInfo" class="com.neusoft.unieap.example.bl.LoginInfoInteractionObjectImpl"/>
	<bean id="transactionTestObject" class="com.neusoft.unieap.bl.test.TransactionTestInteractionObjectImpl"/>
	<bean id="demo" class="com.neusoft.td.business.interaction.impl.DemoInteractionImpl2"/>
</beans>
