<?xml version="1.0" encoding="UTF-8"?>
<!--a  edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User)  a-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>quartz applicationContext pool</description>

	<bean id="promotionOverdateCronJob1"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.demojob.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool1" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger1"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob1" />
		<property name="group" value="promotionOverdateThreadPool1" />
		<property name="name" value="promotionOverdateTrigger1" />
		<property name="cronExpression" value="1/5 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler1"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
	
		<property name="autoStartup" value="false" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz-tddemo.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger1" />
			</list>
		</property>
		<property name="schedulerName" value="promotionOverdateStdScheduler1"/>
	</bean>
	
	<!-- 
	<bean id="promotionOverdateCronJob2"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool2" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger2"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob2" />
		<property name="group" value="promotionOverdateThreadPool2" />
		<property name="name" value="promotionOverdateTrigger2" />
		<property name="cronExpression" value="2 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler2"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config2.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger2" />
			</list>
		</property>
	</bean>
	
	<bean id="promotionOverdateCronJob3"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool3" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger3"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob3" />
		<property name="group" value="promotionOverdateThreadPool3" />
		<property name="name" value="promotionOverdateTrigger3" />
		<property name="cronExpression" value="3 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler3"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config3.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger3" />
			</list>
		</property>
	</bean>
	
	<bean id="promotionOverdateCronJob4"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool4" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger4"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob4" />
		<property name="group" value="promotionOverdateThreadPool4" />
		<property name="name" value="promotionOverdateTrigger4" />
		<property name="cronExpression" value="4 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler4"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config4.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger4" />
			</list>
		</property>
	</bean>
		
	<bean id="promotionOverdateCronJob5"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool5" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger5"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob5" />
		<property name="group" value="promotionOverdateThreadPool5" />
		<property name="name" value="promotionOverdateTrigger5" />
		<property name="cronExpression" value="5 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler5"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config5.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger5" />
			</list>
		</property>
	</bean>
		
	<bean id="promotionOverdateCronJob6"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool6" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger6"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob6" />
		<property name="group" value="promotionOverdateThreadPool6" />
		<property name="name" value="promotionOverdateTrigger6" />
		<property name="cronExpression" value="6 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler6"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config6.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger6" />
			</list>
		</property>
	</bean>
	
	<bean id="promotionOverdateCronJob7"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool7" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger7"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob7" />
		<property name="group" value="promotionOverdateThreadPool7" />
		<property name="name" value="promotionOverdateTrigger7" />
		<property name="cronExpression" value="7 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler7"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config7.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger7" />
			</list>
		</property>
	</bean>
	
	<bean id="promotionOverdateCronJob8"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool8" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger8"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob8" />
		<property name="group" value="promotionOverdateThreadPool8" />
		<property name="name" value="promotionOverdateTrigger8" />
		<property name="cronExpression" value="8 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler8"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config8.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger8" />
			</list>
		</property>
	</bean>
	
		
	<bean id="promotionOverdateCronJob9"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool9" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger9"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob9" />
		<property name="group" value="promotionOverdateThreadPool9" />
		<property name="name" value="promotionOverdateTrigger9" />
		<property name="cronExpression" value="9 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler9"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config9.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger9" />
			</list>
		</property>
	</bean>
		
	<bean id="promotionOverdateCronJob10"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool10" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger10"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob10" />
		<property name="group" value="promotionOverdateThreadPool10" />
		<property name="name" value="promotionOverdateTrigger10" />
		<property name="cronExpression" value="10 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler10"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config10.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger10" />
			</list>
		</property>
	</bean>
			
	<bean id="promotionOverdateCronJob11"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.reserveoperate.PromotionOverdateEffectCronJob" />
		<property name="group" value="promotionOverdateThreadPool11" />
		<property name="durability" value="true" />
	</bean>
	<bean id="promotionOverdateTrigger11"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="promotionOverdateCronJob11" />
		<property name="group" value="promotionOverdateThreadPool11" />
		<property name="name" value="promotionOverdateTrigger11" />
		<property name="cronExpression" value="11 * * * * ?" />
	</bean>

	<bean id="promotionOverdateStdScheduler11"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/promotionoverdate/quartz_config11.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="promotionOverdateTrigger11" />
			</list>
		</property>
	</bean> -->
</beans>
