<!DOCTYPE html>
<html ng-app="td.login">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>metisMenu</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>metisMenu</title>


<script src="<%=contextPath%>/view/tdframework/login.js"></script>
</head>

<body>
	<div class="navbar-wrapper">
		<div style="position:relative;top:80px;" ng-controller="loginCtrl">
<form class="form-signin" name="login" id="login"
	action="/mvc/main/login" method='POST'>
	
	<div class="row">
		<div class="col-md-12 form-pading">
			<label for="inputEmail" class="sr-only"> </label> 
			<input
				type="text" name="username" class="form-control" placeholder="username"
				ng-model="username"
				required autofocus>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 form-pading">
			<label for="inputPassword" class="sr-only"> </label> 
			<input
				type="password" name="password" class="form-control"
				ng-model="userpassword"
				placeholder="userpassword" required>
		</div>
	</div>
<div class="row">
	<div class="col-md-9 form-pading">
		<input type="text" name="jcaptcha" id="jcaptcha" class="form-control"
			placeholder="jcaptcha" required />
	</div>
	<div class="col-md-3 form-pading">
		<img id="jcaptchaimg" src="/mvc/resources/jcaptcha.jpg"/>
	</div>
</div>
	<div class="checkbox" align="right">
		<label> <input type="checkbox" value="remember-me">
			Remember me1111111
		</label>
	</div>
	<input type="submit" class="btn btn-lg btn-primary btn-block"
		value="submit"></input>
</form>
</div>

        <tiles:insertAttribute name="footer" />
</body>

</html>