<!-- 这部分视图是 mainProdOfferChgTpl.html 主销售品主销售品退订视图部分 ,这部分代码必须和mainProdOfferChgTpl保持一致,理想状态mainProdOfferChgTpl应该通过jsp include本文件,单考虑效率,暂时在mainProdOfferChgTpl拷贝一份当前文件,此模板是为了动态生成退订视图 -->
<tr>
	<td>
		<div class='title_top'>
			<div style="vertical-align: middle;"
				class='mainprodoffer-class mainprodoffer-class-quit'
				prodOfferId='${prodOfferViewData.prodOfferInfoVO.prodOfferId}'
				prodOfferType='${prodOfferViewData.prodOfferInfoVO.prodOfferType}'
				offerKind='${prodOfferViewData.prodOfferInfoVO.offerKind}'
				prodOfferInstId='${prodOfferViewData.prodOfferInstId}'>
				<div class='inline-box-elem' style='width: 45%'>
					<span style="vertical-align: middle; margin-right: 10px"><span class='actionName-class'>${prodOfferViewData.actionName}</span></span>
					<span style="vertical-align: middle; margin-right: 30px"><span class='prodOfferName-class'>${prodOfferViewData.prodOfferInfoVO.prodOfferName}</span></span>
				</div>
				<!-- 销售品开始结束时间处理 -->
				<div class='inline-box-elem' style='width: 40%'>
					<span class="${prodOfferViewData.displayStartEndTime}"> <!-- 销售品开始时间处理 -->
						<span style="vertical-align: middle; margin-left: 30px;">开始时间:
							<span class='startDate-class'>${prodOfferViewData.startDate}</span>
					</span> <!-- 销售品结束时间处理 --> <span
						style="vertical-align: middle; margin-left: 10px">结束时间: <span
							class='endDate-class'>${prodOfferViewData.endDate}</span> </span> </span>
				</div>

				<!-- 销售品收藏处理 -->
				<div class='inline-box-elem' style='width: 10%;float: right;text-align: right;margin-right: 25px'>
					<a href='javascript:void(0);' id='collect-${prodOfferViewData.viewId}'
						style="margin-left: 20%" name='collect'
						value='${prodOfferViewData.prodOfferInfoVO.prodOfferId}~${prodOfferViewData.prodOfferInfoVO.prodOfferName}~${prodOfferViewData.prodOfferInfoVO.prodOfferType}'
						dojoAttachEvent="onclick:elementclick"
						dojoAttachTopic="/prodOfferCollect" /><img src='${$w.BusCard.path.contextPath}/common/images/button/button_addFav.png' title="收藏销售品"/></a>
					<a href='javascript:void(0);' id='del-${prodOfferViewData.viewId}' name='delCollect'
						value='${prodOfferViewData.prodOfferInfoVO.prodOfferId}~${prodOfferViewData.prodOfferInfoVO.prodOfferType}'
						dojoAttachEvent="onclick:elementclick"
						dojoAttachTopic="/prodOfferCancelCollect" /><img src='${$w.BusCard.path.contextPath}/common/images/button/button_cancelFav.png' title="取消收藏"/></a>
				</div>
			</div>
		</div>
	</td>
</tr>