<div class="modal-header" style="margin:15px 15px 15px 15px;padding:10px 0 10px;border-bottom:1px solid #DDD">
  <h5 class="modal-title"><i class="fa fa-info-circle"></i> {{err ? '错误' : '提示'}}</h5>
</div>
<div class="modal-body"  style="margin-left:25px;">
  <h4 ng-class="{'text-info': !err, 'text-danger': err}">{{txt}}</h4>
</div>
<div class="modal-footer" style="margin:15px 15px 15px 15px;padding:10px 0 10px;border-top:1px solid #DDD">
  <button class="btn btn-primary" ng-click="ok()">关闭</button>
</div>