.mainprodoffer-hidden {
	display: none;
}

.mainprodoffer-display {
	display: block;
}

.product-serviceinfo-oper-close {
	height: 24px;
	width: 70px;
	border: none;
	background: url("../../../../../common/images/button/button_noSel.png");
}

.product-serviceinfo-oper-open {
	height: 24px;
	width: 70px;
	margin-bottom:-1px;
	border: none;
	background: url("../../../../../common/images/button/button_Sel.png");
}