@charset "utf-8";
/* ************************** */
/* ************************** */
/*-----全局样式-----*/
body {
	color:#000000;
	background-color:#FFFFFF;
	font-size:12px;
	margin:0px;
	padding:0px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
}
div {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
span {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
}
table {
	padding:0px;
	margin:0px;
}
td {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	vertical-align:middle;
}
P {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	margin:2px;
}
img {
	border:0px;
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
form {
	font-size:12px;
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
BUTTON {
	font-size:12px;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
OPTION {
	font-size:12px;
}
label {
	vertical-align:middle;
}
INPUT {
	font-size:12px;
	width:auto;
	vertical-align:middle;	
}

input[type='button']{

	cursor: pointer;

}

INPUT.radio {
	font-size:12px;
	width: 20px;
}
INPUT.checkbox {
	font-size:12px;
	width: auto;
}
INPUT.dateField {
	font-size:12px;
	width: 108px;
	ime-mode:disabled;
}
SELECT {
	background-color: #fff;
	border:1px solid #8cbeef;
	font-size:12px;
	width:133px;
	vertical-align:middle;
}
textarea {
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	overflow:auto;
	width:98%;
	word-wrap:break-word;
	word-break:break-all;
}
LI {
	font-size:12px;
}
A {
	color:#104173;
	text-decoration:none;
	vertical-align:middle;
}
A:link {
}
A:visited {
}
A:hover {
	color:#2971ef;
}
A:active {
}
legend{
	margin:6px;
}



.formButton_l{
	font-size: 12px;
	background-image: url(../images/button_l.gif);
	background-repeat: no-repeat;
	height: 18px;
	width: 103px;
	border:0;
	line-height: 18px;
	color: #000;
	text-align: center;
	vertical-align: middle;
	margin:0 2px 0 2px;
}
.button_l{
	font-size: 12px;
	background-image: url(../images/button_l.gif);
	background-repeat: no-repeat;
	height: 18px;
	width: 103px;
	border:0;
	line-height: 18px;
	color: #000;
	text-align: center;
	vertical-align: middle;
	margin:0 2px 0 2px;
}
.searchImgButton{
	background-image: url(../images/search_icon.gif);
	height: 16px;
	width: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	margin:0;
	cursor:hand;
}
.calendarImgButton{
	background-image: url(../images/calendar.gif);
	height: 16px;
	width: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	margin:0;
	cursor:hand;
}
.getDelImgButton{
	background-image: url(../images/search.gif);
	height: 16px;
	width: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	margin:0;
	cursor:hand;}
.noteImgButton{
	background-image: url(../images/Note.gif);
	height: 16px;
	width: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	margin:0;
	cursor:hand;}


/* ************************** */
/* ************************** */
/*-----工作区样式------*/
.block_div {
	background-color: #fff;
	background-image: url(../images/block_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #8cbeef;
	margin:4px;
	padding:2px 0 2px 0;
}
.tags {
	margin:0;
	padding:0;
}
.tags_td {
	height: 28px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bce2f5;
}
.tags LI {
	FLOAT: left;
	LIST-STYLE-TYPE: none;
	HEIGHT: 24px;
	LINE-HEIGHT: 24px;
}
.tags LI A {
	padding:0 6px 0 6px;
	margin-RIGHT: 5px;
	margin-LEFT: 5px;
	COLOR: #787878;
	LINE-HEIGHT: 24px;
	HEIGHT: 24px;
	TEXT-DECORATION: none;
}
.tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	WIDTH: 4px;
}
.tags LI.selectTag {
	POSITION: relative;
	HEIGHT: 24px;
}
.selectTag_td {
	padding:4px;
}
.selectTag_div {
	width:100%;
}
.tags LI.selectTag A {
	display:block;
	padding:0 6px 0 6px;
	COLOR: #104173;
	LINE-HEIGHT: 24px;
	HEIGHT: 24px;
	background-image: url(../images/tab_bg.gif);
	border: 1px solid #bce2f5;
}
.title_right {
	text-align:right;
	vertical-align:middle;
}
.title_right input {
	vertical-align:middle;
}
.table_title {
	background-image: url(../images/table_title_bg.gif);
	height: 25px;
	font-size:12px;
	line-height: 25px;
	color: #000;
	text-align: center;
	font-weight:bold;
}
.table_title td {
	padding:0 0 0 3px;
}
.table_top td {
	font-size: 12px;
	line-height: 24px;
	color: #000;
	text-align: left;
	height: 24px;
	vertical-align:middle;
	padding:0 0 0 3px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #d9d9d9;
	background-image: url(../images/table_l2_bg.gif);
}
.table_top a {
	font-size: 12px;
	color: #1d71fe;
	text-decoration: none;
}
.table_top_01 {
	width:40px;
}
/*.table_top img {
	margin:0 10px 0 10px;
}*/
.table_content {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d9d9d9;
}
.table_content td {
	font-size: 12px;
	line-height: 24px;
	color: #000;
	height: 24px;
	vertical-align:middle;
	padding:0 0 0 3px;
	border-right-style: none;
	border-left-style: none;
}
.table_content_left{
	text-align:left;
}
.table_content a {
	font-size: 12px;
	color: #1d71fe;
	text-decoration: none;
}
.change_div {
	/*	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
	overflow: hidden;*/
	min-width:200px;
	max-width:400px;
	margin-left:50%;
	border-top-width: 4px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8cbeef;
	border-right-color: #8cbeef;
	border-bottom-color: #8cbeef;
	border-left-color: #8cbeef;
	padding:3px;
	text-align:center;
	background-color:#FFF;
}
.checking_div {
	/*	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
	overflow: hidden;*/
	min-width:200px;
	max-width:300px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8cbeef;
	border-right-color: #8cbeef;
	border-bottom-color: #8cbeef;
	border-left-color: #8cbeef;
	padding:3px;
	text-align:center;
	background-color:#FFF;
}
.checking_div_title {
	height:20px;
	background-color:#8cbeef;
	color:#fff;
	text-align:left;
	padding:0 0 0 5px;
}
.info_div {
	/*	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
	overflow: hidden;*/
	min-width:200px;
	max-width:300px;
	border-top-width: 4px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ffd98d;
	border-right-color: #ffd98d;
	border-bottom-color: #ffd98d;
	border-left-color: #ffd98d;
	padding:3px;
	text-align:left;
	line-height:14px;
	text-indent:1em;
	background-color:#FFF;
}
.float_div{
	border:1px solid #8cbeef;
	padding:3px;
	display:block;
	background-color:#FFF;
	float:left;
}
.float_div_title{
	border:1px solid #bce2f5;
	padding:2px;
	margin:0 0 4px 0;
}
.float_td_title{
	background-color:#eff4fb;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	text-align:center;
	height:20px;
	line-height:20px;
}
.float_td_content{
	height:20px;
	line-height:20px;
}
.float_td_title td{
	padding:4px;}
.title_link {
	color:#104173;
	font-size:12px;
	height:16px;
	padding:0 4px 0 4px;
	vertical-align:middle;
}
.title_link a {
	color:#104173;
	margin:0 4px 0 4px;
}
.title_link a:hover {
	color:#2971ef;
	margin:0 4px 0 4px;
}
.info_td_title {
	text-align:right;
	font-size: 12px;
	line-height: 18px;
	color: #000;
	width:75px;
}
.info_td_content {
	color:#2971ef;
	width:70px;
}
.search_input {
	height:20px;
	padding:0 0 0 5px;
}
.search_input input {
	margin:0 2px 0 2px;
}
.search_input_text {
	color:#CCCCCC;
	font-size:12px;
	width:290px;
}
.search_input_text1 {
	color:#000;
	font-size:14px;
	width:350px;
}
.table_left {
	font-size: 12px;
	color: #104173;
	text-align: right;
	height: 24px;
	line-height: 24px;
	padding:0;
}
.star_red {
	color:#FF0000
}
.table_right {
	font-size: 12px;
	color: #000;
	text-align:left;
	height: 24px;
	line-height: 24px;
	padding:0 0 0 5px;
}
.table_right a{
	margin:0 2px 0 3px;
}
.table_right img {
	line-height:24px;
	vertical-align:middle;
}
.checking_title {
	margin:5px;
	text-align:left;
}
.title_clientinfo{
	background-color:#eff4fb;
	border:1px solid #8cbeef;
	margin:4px;
	height:25px;
	line-height:16px;
	padding:4px;
	font-size:13px;
	color:#000;
	vertical-align:middle;
}
.title_clientinfo font{
	font-size:13px;
	color: #2d4c9c;
	font-weight: bold;
}
.title_clientinfo a {
	vertical-align:top;
	color:#104173;
	margin:0 4px 0 4px;
}
.title_clientinfo a:hover {
	color:#2971ef;
	margin:0 4px 0 4px;
}

/*leftNav style*/
.content_div{
	width:300px;
}
.tags01 {
	margin:0;
	padding:0;
}
.tags01 LI {
	text-align:center;
	LIST-STYLE-TYPE: none;
	HEIGHT: 24px;
	LINE-HEIGHT: 24px;
}
.tags01 LI A {
	font-weight:bold;
	display:block;
	border:1px solid #7db5de;
	COLOR: #787878;
	LINE-HEIGHT: 25px;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	background-image: url(../images/left_tab_n.gif);
}
.tags01 LI A:hover {
	font-weight:bold;
	display:block;
	COLOR: #104173;
	LINE-HEIGHT: 25px;
	HEIGHT: 25px;
	background-image: url(../images/left_tab_o.gif);
	border: 1px solid #bce2f5;
}
.tags01 LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	WIDTH: 4px;
}
.tags01 LI.selectTag01 {
	POSITION: relative;
	HEIGHT: 24px;
}
.tags01 LI.selectTag01 A {
	font-weight:bold;
	display:block;
	COLOR: #104173;
	LINE-HEIGHT: 25px;
	HEIGHT: 25px;
	background-image: url(../images/left_tab_o.gif);
	border: 1px solid #7db5de;
}
.left_content{
	padding:4px;
	height:300px;;
	vertical-align:top;
}
.left_content_title{
	font-size: 12px;
	height: 20px;
	width: 290px;
	background-color: #7db5de;
	padding:0 0 0 10px;
	color:#FFFFFF;
}
.favori_ul{
	margin:0;
	padding:0;}
.favori_ul li{
	HEIGHT:auto;
	LINE-HEIGHT: 24px;
	list-style-position: outside;
}
.favori_ul li a{
	padding:0 0 0 20px;
	display:block;
	background-image: url(../images/li_icon.gif);
	background-repeat: no-repeat;
}
.favori_ul li a:hover{
	background-color:#eff4fb;
}
.content_title {
	padding:0 10px 0 10px;
	color:#104173;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bce2f5;
	font-weight: bold;
	vertical-align: middle;
}
.content_title label{
	font-weight: normal;
	color: #000;
	vertical-align: middle;
}
.content_cue{
	color:#104173;
	line-height:14px;
	padding:0 0 0 16px;
	float:right;
	font-size: 12px;
	background-image: url(../images/cue_icon.gif);
	background-repeat: no-repeat;
	background-position: left;
	font-weight: normal;
	text-decoration: underline;
	vertical-align: middle;
}
.content_cue a:hover{
	color:#2971ef;
}
.content_more{
	color:#104173;
	line-height:14px;
	float:right;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	vertical-align: middle;
}
.content_more a:hover{
	color:#2971ef;
}
.content_td {
	padding:4px;
}
.title_top{
	border:1px solid #ffd98d;
	display:block;
	margin:4px 0 4px 0;
	padding:4px;
	background-color:#fef7e9;
	color:#000;
}
.form_title{
	color:#2971ef;
	font-weight:bold;
}
.button_area{
	float:right;
	padding:4px;
}
.textx2{
	width:250px;
}
.textx4{
	width:90%;
}