.unieap .u-combobox-list {
	border: 1px solid #989898;
	z-index: 10001;
	position: absolute;
} 
.unieap .u-combobox-items-container {
	width: 100%;
	height:100%;
	overflow-x: hidden;
	overflow-y: hidden;
} 

.unieap .u-combobox-item {
	width: 100%;
	cursor: pointer;
	height: 22px
} 
.unieap .u-combobox-item .match{
	color:#aa5cf8;
}
.unieap .u-combobox-list-header {
	width: 100%;
	
	background: #328aa4 url(../images/form/combobox/comboheader-bg.gif) repeat-x;
	color: #000
} .unieap .u-combobox-list-header table {
	border-collapse: collapse;
	width: 100%
} .unieap .u-combobox-list-header table th {
	border-bottom: 1px solid #989898;
	background: #328aa4 url(../images/form/combobox/comboheader-bg.gif) repeat-x;
	color: #000;
	text-align: center;
	padding: .2em;
	font-weight:normal;
	font-size:14px;
} 
.unieap .u-combobox-items-container table {
	border-collapse: collapse;
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;
} .unieap .u-combobox-items-container table td {
	padding-left: 7px;
	font: 12px verdana;
} .unieap .u-combobox-readonly {
	cursor: normal
} .unieap .u-combobox-items-container .u-comobobox-item-hover {
	background-color:#d1dfeb;
} .unieap .u-combobox-modified, .unieap .u-combobox-require {
	display: block
}