/**
 * @summary:
 * 		设置按钮控件的外层容器样式
 * @widget:
 * 		{unieap.form.Button}
 */


.unieap .u-form-dropBtn{
	margin:0px;
	padding: 0px;		
	height: 19px;
	border: 1px solid #919292; 	
	background:#fff url("../images/form/button/button-bg.gif") repeat-x ;
	overflow:hidden;	
	
}

.unieap .u-form-dropBtn-button{
	height:100%;
	overflow:hidden;
}
.unieap .u-form-dropBtn button{
	margin-right:16px;
	border:0px;
	height:100%;
	white-space:nowrap;
	word-break:keep-all;
}

.unieap .u-form-dropBtn span{
	display:inline-block;
}
/**
 * @summary:
 * 		设置按钮控件的样式
 * @widget:
 * 		{unieap.form.Button}
 */
.unieap .u-form-btn {
	border: 1px solid #919292; 	
	background:#fff url("../images/form/button/button-bg.gif") repeat-x top left;
	height:21px;
	white-space:normal;
	cursor:pointer;
	padding-left:5px;
	padding-right:5px;
	padding-top:1px;
	margin-left:5px;
}

/**
 * @summary:
 * 		设置按钮上文字的样式
 * @widget:
 * 		{unieap.form.Button}
 */
.unieap .u-form-btn-txt {
	font:12px Verdana;
	color:#000;
	white-space:nowrap;
	margin:0 0 -5px;
	padding:0;
}

/**
 * @widget:
 * 		{unieap.form.DropDownButton}
 * @summary:
 * 		设置下拉按钮控件右侧的下拉图标样式
 */
.unieap .u-form-triggerBtnImg{
	position:absolute;
	display:block;
	width:16px;
	height:16px;
	background:transparent url("../images/form/button/downarrow.gif") no-repeat center;
	margin:0 0 0 3px;
}


/**
 * @widget:
 * 		{unieap.form.CheckBox}
 * @summary:
 * 		设置复选框的样式
 */
.unieap .u-form-chk{
	position:relative;
	width:25px;
}

/**
 * @widget:
 * 		{unieap.form.RadioButton}
 * @summary:
 * 		设置单选按钮的样式
 */
.unieap .u-form-rdoBtn{
	position:relative;
	width:25px;
}

/**
 * @widget:
 * 		{unieap.form.RadioButton、unieap.form.CheckBox}
 * @summary:
 * 		设置控件的输入框样式,例如<input type="radio" />和<input type="checkbox" />
 */
.unieap .u-form-chkInput {
	padding: 0px;
	margin:0px;
	border: 0;
	width: 16px;
	height: 16px;
	background-position:center center;
	background-repeat:no-repeat;
}

/**
 * @widget:
 * 		{unieap.form.CheckBoxGroup,unieap.form.RadioGroup}
 * @summary:
 * 		设置CheckBoxGroup控件和RadioGroup控件的外层样式
 */
.unieap .u-form-chkGroup{
	width: 200px;
	position:relative;
	overflow:hidden;
}

/**
 * @widget:
 * 		{unieap.form.CheckBoxGroup,unieap.form.RadioGroup}
 * @summary:
 * 		设置设置CheckBoxGroup控件和RadioGroup控件的里层样式。
 */
.unieap .u-form-chkGroup-border{
	white-space: nowrap;
	width:auto;
	zoom:100%;
	overflow:hidden;
}
/**
 * @widget:
 * 		{unieap.form.CheckBoxGroup,unieap.form.RadioGroup}
 * @summary:
 * 		设置设置CheckBoxGroup控件和RadioGroup控件的table样式。
 */
.unieap .u-form-chkGroup-tab{
	width:100%;
	table-layout:fixed;
}
/**
 * @widget:
 * 		{unieap.form.CheckBoxGroup,unieap.form.RadioGroup}
 * @summary:
 * 		设置设置CheckBoxGroup控件和RadioGroup控件的里层文本样式。
 */
.unieap .u-form-chkGroup-label{
	word-break:keep-all;
	font-size:12px;
	height:20px;
}
/**
 * @widget:
 * 		{unieap.form.CheckBoxGroup,unieap.form.RadioGroup}
 * @summary:
 * 		设置设置CheckBoxGroup控件和RadioGroup控件的选择控件样式。
 */
.unieap .u-form-chkGroup-cell{
	width:16px;
}
.unieap .u-form-chkGroup-cell .u-form-chk{
	width : 16px;
}
.unieap .u-form-chkGroup-cell .u-form-rdoBtn{
	width : 16px;
}
