/**
 * @summary：
 * 		表单控件基础部分css样式,包括TextBox、TextBoxWithIcon、InlineEditBox、FileInput等控件样式。
 * @example:
 * 以下为TextBoxWitIcon控件的模板样式。
 * |	①<div class="u-form-widget">
 * |		②<div class="u-form-field">
 * | 			③<div class="u-form-modified"></div>
 * |            ④<div class="u-form-textbox-icon"></div>
 * |			⑤<div class="u-form-textbox-field">
 * |               ⑥<input class="u-form-textbox-input" />
 * |            </div>
 * |			⑦<div class="u-form-required">*</div>
 * |			⑧<div class="u-form-error"></div>
 * |        </div>
 * |	</div>
 * 对各个部分简述如下:
 * ①设置整个控件的外层样式。
 * ②设置控件里层样式，例如边框、高度
 * ③当控件数据被修改后，设置修改标志的样式
 * ④设置下拉框样式。例如显示为一个下拉框。
 * ⑤设置文本框的外层样式
 * ⑥设置文本框样式
 * ⑦设置控件不能为空的样式,例如显示一个红色星号
 * ⑧设置控件错误提示样式
 */

/*==========================Popup控件样式=======================================*/

/**
*@widget：
*		{unieap.form.Popup}
*@summary：
*		定义所有弹出容器,即Popup的样式
*/
.unieap .u-popupcontainer{
	position:absolute;
	z-index:10001;
	background:#f7f7f7;
}

/**
*@widget：
*		{unieap.form.Popup}
*@summary：
*		定义弹出窗口中Iframe的样式
*/
.unieap .u-backgroundIframe{
		border:0px;
		/* css滤镜，对ie有效 去掉后datetextbox会出现问题  */
		filter:Alpha(Opacity="0");
		position:absolute;
		z-index:10000;
}

/*==========================TextBox、TextBoxWithIcon控件样式=======================*/

/**
*@widget：
*		{unieap.form.TextBox,unieap.form.TextBoxWithIcon}
*@summary：
*		定义所有Form组件最外层容器的样式，统一设定宽度等
*/
.unieap .u-form-widget{
	position: relative;	
	margin:0px;
	padding: 0px;		
	width: 174px;
	height: 19px;
	border-top:1px solid #989898;
	border-bottom: 1px solid #bdbcbd;
	background-color:#ffffff;
}
/**
*针对IE怪异模式下，border不占宽度的问题
*/
.dj_iequirks .unieap .u-form-widget{
	height: 21px;
}
/**
*@widget：
 *		{unieap.form.TextBox,unieap.form.TextBoxWithIcon}
*@summary：
*		定义组件里层的容器的样式，设定边框、高度等样式
*/
.unieap .u-form-field{
	height:100%;
	/* border-top:1px solid #989898;*/
	border-left: 1px solid #989898;
	border-right: 1px solid #bdbcbd;  
	/* border-bottom: 1px solid #bdbcbd;  */
	background-image:url(../images/form/uFormFieldBg.gif);
	background-repeat:repeat-x;
	background-position:top;
}


/**
*@widget：
*		{unieap.form.TextBox,unieap.form.TextBoxWithIcon}
*@summary：
*		定义所有输入域外层容器的样式，设置overflow属性不需要指定width
*/
.unieap .u-form-textbox-field{
	overflow:hidden;
	zoom:100%;
	height:19px;
	
}

/**
*@widget：{unieap.form.TextBox,unieap.form.TextBoxWithIcon}
*@summary：定义所有输入域的样式，去掉边框和内边距并设置宽度为100%
*/
.unieap .u-form-textbox-input{
	border:0px;
	margin:0px;
	padding: 1px 1px 1px 0px;
	margin-right:-1px; 
	width: 100%;
	height:19px;
	background-image:url(../images/form/uFormFieldBg.gif);
	background-repeat:repeat-x;
	background-position:top;
}

/**
*@widget：{unieap.form.TextBox,unieap.form.TextBoxWithIcon}WithIcon
*@summary：定义所有带图标组件的图标样式，通过float定位在容器的最右边
*/
.unieap .u-form-textbox-icon{
	border-left: 1px solid #7f9db9; 
	width: 16px; 
	height: 19px; 
	float: right; 
	overflow:hidden;
	background:url("../images/form/icon.gif") no-repeat;
}

/**
*@widget：
*		{unieap.form.TextBox,unieap.form.TextBoxWithIcon}
*@summary：
*		定义Form组件的修改标识信息，通过float定位在容器的最左边
*/
.unieap .u-form-modified{
	width: 5px; 
	height: 5px; 
	float:left;
	overflow:hidden;
	background:url("../images/form/modified.gif") no-repeat;
	visibility:hidden;
}

/**
*@widget：
*		{unieap.form.TextBox,unieap.form.TextBoxWithIcon}
*@summary：
*		定义Form组件的必填信息，在组件最右边显示
*/
.unieap .u-form-required{
	height: 19px;
	width: 5px; 
	position: absolute; 
	top: 0px;
	right: -8px;
	font-size:12px; 
	color:red;
	display:none;
}
/**
*@widget：
*		{unieap.form.TextBox,unieap.form.TextBoxWithIcon}
*@summary：
*		定义Form组件的错误信息，在组件最右边显示(可以覆盖必填信息)
*/
.unieap .u-form-error{
	position: absolute; 
	background:url("../images/form/error.gif") no-repeat;
	height: 16px;
	width: 16px; 
	top: 0px;
	right: -17px;
	display:none;
}

/**
*@widget：
*		{unieap.form.TextBox,unieap.form.TextBoxWithIcon}
*@summary：
*		定义所有文本输入框外层容器的错误信息样式，目前使其边框变红	
*/
.unieap .u-form-textbox-error{
	border-top:1px solid #dd7870;	
	border-bottom:1px solid #dd7870;	
}

.unieap .u-form-textbox-error .u-form-field{
	border-left:1px solid #dd7870;	
	border-right:1px solid #dd7870;
}

/*=============================FileInput控件=====================================*/

/**
*@widget：
*		unieap.form.FileInput
*@summary：
*		定义文件上传的外层容器样式，指定宽度、高度和相对定位	
*/
.unieap .u-form-file{
	position:relative;
	height:21px;
	margin:0px;
	padding:0px;	
	width: 200px;
	overflow:hidden;
}

/**
*@widget：
*		unieap.form.FileInput
*@summary：
*		定义文件上传的浏览按钮和取消按钮样式，通过float定位在外层容器右边。用户可以自定义按钮大小和背景样式	
*/
.unieap .u-form-file-btn{
	width : 50px;
	height:19px;
	cursor:pointer;
	background:#ddd url(../images/form/button-bg.gif) repeat-x;
	font-size:9pt;
	border:1px solid #7f9db9;
	line-height:19px;
	text-align:center;
	float:right;
	margin-left:3px;
}

/**
*@widget：
*		{unieap.form.FileInput}
*@summary：
		设置输入域的容器的样式，包括边框样式、高度、左偏移和显示层次等
*/
.unieap .u-form-file-fileField{
	zoom:100%;
	border: 1px solid #7f9db9; 
	overflow:hidden;
	position:relative;
	z-index: 2;
	height:19px;
	padding-left:5px;
}
/**
*针对IE怪异模式下，border不占宽度的问题
*/
.dj_iequirks .unieap .u-form-file-fileField{
	height: 21px;
}
/**
*@widget：
*		{unieap.form.FileInput}
*@summary：
*		设置文件上传真实的File组件外层容器样式，使其File的浏览按钮与自定义的按钮右对齐，并使之容器透明显示。
*/
.unieap .u-form-file-realFileField{
	position:absolute;
	height : 20px;
	right : 53px;
	top :1px;
	z-index: 1;
	opacity:0;
	filter:alpha(opacity:0) ;	
}

/*==============================InlineEditBox控件=================================*/


.unieap .u-form-inlineWidget{
	position: relative;	
	margin:0px;
	padding: 0px;	
	width:200px;
}

/**
*@widget：
*		{unieap.form.InlineEditBox}
*@summary：
*		设置InlineEditBox容器样式及底边线样式
*/
.unieap .u-form-inline{
	width:100%;
	height:19px;
	padding:0px;
	overflow:hidden;
	border-bottom:1px solid #7f9db9;
}

/**
*@widget：
*		{unieap.form.InlineEditBox}
*@summary：
*		设置显示文本的样式，字体大小、位置、颜色等
*/
.unieap .u-form-inline-display{
	line-height :21px;
	font-size:12px;
}

