.unieap .u-titlepane-widget{
	overflow:hidden;
	width:100%;
	margin-bottom:5px;
}


/**
 * @summary:
 * 		titlepane组件的title部分的样式
 */
.unieap .u-titlepane-title {
	/*
	background-image: url(../images/common/highlight.png);
	*/
	background-image: url(../images/layout/titlebg.gif);
    background-repeat:repeat;
    height: 22px;
	overflow:hidden;
	/*border:1px #99BBE8 solid;
	  border-top:0px;
	*/
	border:1px #dadada solid;
	
	text-align:center;
	cursor:pointer;
	
} 

/**
 * @summary:
 * 		titlepane组件的title部分标题的样式
 */
.unieap .u-titlepane-titlenode {
	/*color:#15428B;*/
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:12px;
	font-weight:bold;
	display:block;
	float:left;
	/*margin:1px 5px 0px 0px;*/
    margin:1px 5px 0px 3px;
	line-height:20px;
} 



/**
 * @summary:
 * 		titlepane组件的title部分表示展开收缩的标志位样式
 * 		"+"或者"-"
 */
.unieap .u-titlepane-arrownode {
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:0px;
	font-weight:bold;
	margin:3px 5px 0px 0px;
	width:20px;
	display:block;
	float:right;
	line-height:20px;
} 

.unieap .u-titlepane-widget-open .u-titlepane-arrownode{
	background-image:url(../images/layout/arrowUp.gif);
	background-repeat:no-repeat;
}

.unieap .u-titlepane-widget-close .u-titlepane-arrownode{
	background-image:url(../images/layout/arrowDown.gif);
	background-repeat:no-repeat;
}

/**
 * @summary:
 * 		titlepane组件的title部分右上角的button按钮域的样式
 */
.unieap .u-titlepane-buttonfield {
    float: right;
    margin-right: 5px;
}

/**
 * @summary:
 * 		titlepane组件的title部分右上角的button按钮域的样式
 */ 
.unieap .u-titlepane-buttonfield button{
	margin-left: 5px;
}

/**
 * @summary:
 * 		titlepane组件下拉部分的外层样式
 */
.unieap .u-titlepane-content-outer {
	/*border:1px #bfbfbf solid;*/	
	border:1px #dadada solid;
	border-top:0px;
	overflow:hidden;
} 

/**
 * @summary:
 * 		titlepane组件下拉部分的内层样式
 */
.unieap .u-titlepane-content-inner {
	overflow:auto;
	padding:5px;
}

.unieap .dijitTabPane .loading,
.unieap .u-titlepane-content-inner .loading {
	height:40px;
	background-image:url("../images/layout/loading.gif");
	background-repeat:no-repeat;
	padding:10px 0px 0px 32px;
}


.dojoxResizeHandle {
    float: right;
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 13px;
    height: 13px;
    z-index: 20;
    background-image: url('../images/layout/resize.png');
    line-height: 0px;
} 

.dojoxResizeNW {
    cursor: nw-resize;
} 

.dojoxResizeNE {
    cursor: ne-resize;
} 
.dojoxResizeW {
    cursor: w-resize;
} 
.dojoxResizeN {
    cursor: n-resize;
} 
.dojoxResizeHandleClone {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px dashed #666;
    z-index: 999;
}

.unieap .u-titlepane-moveHandle{
	background:url('../images/layout/dndMove.png');
	margin:2px 4px 0px 4px;
	width:16px;
	height:16px; 
	float:left;
	cursor:move;
}

.unieap .u-contentpane-iframe{
	border-style:none;
	border:0px;
}
