/*

	there are basically all the classes you can set 
	for the various dojo.dnd states and elements in
	their simplest form. hacking welcome. 

*/

.dojoDndItem { 
	padding:3px; 
}

.dojoDndItemOver {
	cursor:pointer;
	background: #ededed;
	border-color:#d3d3d3;
}
.dojoDndItemDragingOver {
	cursor:pointer;
	BORDER-BOTTOM-STYLE: solid;
	border-color:#d3d3d3;
	border-width:1px thin;
}

.unieapTreeItemOver {
	background: #ededed;
}
.dojoDndItemSelected {
	background: #ccf; color: #444;
}

.dojoDndItemAnchor {
	background: #ccf; color: black;
}

.dojoDndItemOver .dojoDndItemSelected {
	background: #ededed;
}

.dojoDndItemOver .dojoDndItemAnchor {
	background: #ededed;
}

.dojoDndItemBefore {
	border-top: 2px solid #369;
}

.dojoDndItemAfter {
	border-bottom: 2px solid #369;
}

.dojoDndAvatar {
	border:1px solid #dcdcdc;
	font-size: 12px;
	-moz-border-radius:8pt 8pt;
	radius:8pt;
}
	
.dojoDndAvatarHeader {
	background: #aaa;
}

.dojoDndAvatarItem {
	background: #fff;
	border-bottom:1px solid #666;
}