<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>Ordermgr applicationContext</description>

	<bean id="ruleConfigFacadeBO" class="com.neusoft.crm.ordermgr.business.outerinterface.ruleconfig.bo.RuleConfigFacadeBOImpl">		
		<property name="ruleDAO">
			<ref bean="ruleDAO" />
		</property>
	</bean>
</beans>
