<?xml version="1.0" encoding="UTF-8"?>
<!--a  edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User)  a-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>custmgr applicationContext</description>

		<bean id="customerParamBO"
			class="com.neusoft.crm.custmgr.common.outerinterface.common.param.bo.CustomerParamBOImpl">
			<property name="customerParamDAO">
				<ref bean="customerParamDAO" />
			</property>
		</bean>
		<bean id="custInfoBO"
			class="com.neusoft.crm.custmgr.common.outerinterface.custmgr.bo.CustInfoBOImpl">
			<property name="prodInstFacadeBO">
				<ref bean="prodInstFacadeBO" />
			</property>
			<property name="customerParamBO">
				<ref bean="customerParamBO" />
			</property>
			<property name="custInfoDAO">
				<ref bean="custInfoDAO" />
			</property>
		</bean>
		
		<bean id="partyFacadeBO"
			class="com.neusoft.crm.custmgr.common.outerinterface.partymgr.bo.PartyFacadeBOImpl">
			<property name="partyDAO2">
				<ref bean="partyDAO2" />
			</property>
			<property name="partyContactDAO2">
				<ref bean="partyContactDAO2" />
			</property>
		</bean>

</beans>
