<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User) -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>Crm applicationContext</description>
	<bean id="BaseService" class="com.neusoft.tdframework.core.BaseServiceImpl"/>

	<bean id="authorizeFactoryFacade" class="com.neusoft.tdframework.authorization.AuthorizeFactory">
		<property name="authorizeFacade">
			<value>omAuthorizeFacade</value>
		</property>
		<property name="thirdPartyAuthorizeFacade">
			<list>
				<value>channelAuthorizeFacade</value>
			</list>
		</property>
		<!--  
		<property name="workFlowInfoFacade">
			<value>workFlowInfo</value>
		</property>
		-->
		<property name="remoteAuthorizeColl">
			<ref local="remoteAuthorize"/>
		</property>
	</bean>
	<!-- <bean id="workFlowInfo" class="com.neusoft.tdframework.authorization.support.WorkFlowInfoWAS"/>-->
     
	<bean id="remoteAuthorize" class="com.neusoft.tdframework.authorization.RemoteAuthorizeColl">
	</bean>

	<bean id="custmanageTransactionProxy" lazy-init="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="custmanageTransactionManager"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="do*">PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="get*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="retainTransactionProxy" lazy-init="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="retainTransactionManager"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="do*">PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="get*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="clubTransactionProxy" lazy-init="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="clubTransactionManager"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="do*">PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="get*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<!-- CRM2.0 FOR CRM2.0 BEGIN 2012-01-18-->
	<!-- -->
	<bean id="tdLogInterceptor"
		class="com.neusoft.tdframework.common.TraceLogInterceptor">
	</bean>

	
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
	    <property name="beanNames">
	        <list>
	            <value>*BO</value>
	            <value>*DAO</value>
	        </list>
	    </property>
	    <property name="interceptorNames">
	        <list>
	            <value>tdLogInterceptor</value>
	        </list>
	    </property>
    </bean>  
     
	<!-- CRM2.0 FOR CRM2.0 END -->
</beans>
