/* ************************** */
/* ************************** */
body {
	color:#000000;
	background-color:#FFFFFF;
	font-size:12px;
	margin:0px;
	padding:0px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
}
div {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	margin:0px;
	padding:0px;
}
span {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
}
table {
	padding:0px;
	margin:0px;
}
td {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
}
P {
	font-size:12px;
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	margin:2px;
}
img {
	border:0px;
	margin:0px;
	padding:0px;
}
form {
	font-size:12px;
	margin:0px;
	padding:0px;
}
BUTTON {
	font-size:12px;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
OPTION {
	font-size:12px;
}
INPUT {
	font-size:12px;
	width:auto;
	vertical-align:middle;
}
INPUT.text {
	width: 125px;
}
INPUT.radio {
	font-size:12px;
	width: auto;
}
INPUT.checkbox {
	font-size:12px;
	width: auto;
}
INPUT.dateField {
	font-size:12px;
	width: 108px;
	ime-mode:disabled;
}
select {
	background-color:transparent;
	position:relative;
	left:-2px;
	top:-2px;
	font-size:12px;
	width:133px;
	border:0px;
}
textarea {
	font-family: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	overflow:auto;
	width:98%;
	word-wrap:break-word;
	word-break:break-all;
}
LI {
	font-size:12px;
}
/*hr{
	border:0;
	height:1px;
	border-bottom-width: 0px;
	border-bottom-style: solide;
	border-bottom-color: #f7f7f7;
}*/
A {
	color:#3399cc;
	text-decoration:none;
}
A:link {
}
A:visited {
}
A:hover {
	color:#3399cc;
}
A:active {
}
A.hotspot1 {
	color:#f00000;
	text-decoration:none;
}
A.hotspot1:hover {
	color:#a0a0a0;
}
A.hotspot2 {
	color:#FF6633;
	text-decoration:none;
}
A.hotspot2:hover {
	color:#a0a0a0;
}
A.hotspot3 {
	color:#0088d0;
}
A.hotspot3:hover {
	color:#a0a0a0;
}
/* ************************** */
/* ************************** */

.mainBody {
	color:#2b2b2b;
	padding:0px;
	margin:0px;
	border :0px none #ffffff;
	overflow-x:auto;
	overflow-y:auto;
}
.content{
	width:100%;
}
.content_left{
	padding:5px;
	float:left;
	width:70%;
}
.left_title{
	background-color:#e2f2fa;
	border:1px solid #3399cc;
	height:22px;
	line-height:22px;
	text-align:left;
	padding:2px 0 0 5px;
}
.bolder{
	font-weight:bolder;}
.left_title img{
	vertical-align:middle;
}
.left_list00{
	background-color:#f8fdff;
	border-bottom:1px dashed #d6d6d6;
}
.left_list01{
	background-color:#fff;
	border-bottom:1px dashed #d6d6d6;
}
.left_list_title{
	line-height:20px;
	padding:4px 8px 4px 8px;
	color:#015880;
	font-weight:bold;}
.left_list_content{
	padding:2px 8px 2px 8px;
}
.left_list_content img{
	vertical-align:middle;
	margin:0 3px 0 0;
}
.left_list_content2{
	padding:0 0 0 15px;}
.underline{
	text-decoration:underline;
}
.more_link{
	float:right;
	text-decoration:underline;
	color:#00577f;
	margin:10px;
}
.button_read{
	background-color: transparent;
	background-image: url(../images/portal/button_read.png);
	height: 20px;
	width: 53px;
	float:right;
	border:0;
	cursor:hand;
}
.content_right{
	padding:5px;
	float:left;
	width:30%;
}
.right_div{
	background-color:#f6faff;
	border:1px solid #a3ccff;
	margin:0 0 10px 0;
}
.right_div_title{
	background-color:#e2f2fa;
	color:#015880;
	line-height:22px;
	height:22px;
	padding:4px 5px 0 5px;
}
.right_div_title img{
	vertical-align:middle;

}
.right_div_content{
	padding:4px 8px 4px 8px;
}
.right_div_content.info{
	color:#7c7c7c;
}







.mainBodyNoPadding {
	color:#2b2b2b;
	padding:5px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border :0px none #ffffff;
	overflow-x:auto;
	overflow-y:auto;
}
.frameBody {
	color:#000000;
	overflow-x:auto;
	overflow-y:auto;
}
.textfield {
	font-size: 12px;
	color: #000000;
	height: 20px;
}
.commonTable {
	border:1px solid #CCCCCC;
	border-collapse: collapse;
}
.chartTable {
	border:1px solid #CCCCCC;
	border-collapse: collapse;
}
.simpleFormTable {
	border:1px solid #CCCCCC;
	border-collapse: collapse;
	border-top:0px solid #CCCCCC;
	padding:0px;
	margin:5px 0px 5px 0px;
	width: 100%;
}
.simpleFormTableC {
	border :1px solid #cccccc;
	border-top: 0px;
}
.formTable {
	border:0px solid #CCCCCC;
	border-collapse: collapse;
	padding:0px;
	margin:2px 0px 2px 0px;
	width: 100%;
}
.formTable TD {
}
.formTableL {
	font-size:1px;
	padding-right:3px;
	width: 5px;
	background-repeat: repeat-y;
	background-color: #f6faff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #a3ccff;
}
.formTableC {
	padding-top: 5px;
	width:100%;
	background-color: #f6faff;
}
.formTableR {
	font-size:1px;
	padding:0 0 0 3px;
	width: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #a3ccff;
	background-color: #f6faff;
}
.formTableLT {
	font-size:1px;
	background-image: url(../images/bg/bg_w1.gif);
	background-repeat: repeat-x;
	background-position: top left;
	height: 1px;
}
.formTableT {
	font-size:1px;
	background-image: url(../images/bg/bg_w5.gif);
	background-repeat: repeat-x;
	background-position: top;
	height: 1px;
}
.formTableRT {
	font-size:1px;
	background-image: url(../images/bg/bg_w2.gif);
	background-repeat: repeat-x;
	background-position: top right;
	height: 1px;
	width: 6px;
}
.formTableLB {
	font-size:1px;
	width:5px;
	height: 5px;
	background-image: url(../images/bg/bg_t3.png);
}
.formTableB {
	font-size:1px;
	height: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a3ccff;
	background-color: #f6faff;
}
.formTableRB {
	font-size:1px;
	height: 5px;
	background-image: url(../images/bg/bg_t8.png);
}
.formTableCore {
	margin:2px 0 2px 0;
	width: 99%;
}
.formLabel {
	color:#2b2b2b;
	width:10%;
	padding:5px 0px 0px 3px;
	margin:0px;
	text-align:right;
	vertical-align:middle;
	border-collapse: separate;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
.formLabelDark {
	width:22%;
	padding:5px 0px 0px 3px;
	margin:0px;
	vertical-align:top;
	background-color: #f3f3f3;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
.formLabelLight {
	width:15%;
	padding:5px 0px 0px 3px;
	vertical-align:top;
	background-color: #ffffff;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
.formLabelBold {
	width:22%;
	padding:5px 0px 0px 3px;
	font-weight: bold;
	vertical-align:top;
	background-color: #ffffff;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
.formField {
	color:#2b2b2b;
	width:15%;
	vertical-align: middle;
	padding:1px 0px 0px 2px;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
.formField button{
	vertical-align:middle;
	margin:0 0 0 5px;}
.formField1 {
	color:#2b2b2b;
	width:90%;
	vertical-align: middle;
	padding:1px 0px 0px 2px;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
.formField2 {
	color:#2b2b2b;
	width:65%;
	vertical-align: middle;
	padding:1px 0px 0px 2px;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
.formField3 {
	color:#2b2b2b;
	width:40%;
	vertical-align: middle;
	padding:1px 0px 0px 2px;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}
.formField INPUT, SELECT, label {
	vertical-align:middle;
	color:#2b2b2b;
}
.formField1 INPUT, SELECT, label {
	vertical-align:middle;
	color:#2b2b2b;
}
.formField2 INPUT, SELECT, label {
	vertical-align:middle;
	color:#2b2b2b;
}
.formField3 INPUT, SELECT, label {
	vertical-align:middle;
	color:#2b2b2b;
}
.formField img, .formField90 img {
	vertical-align:middle;
}
.NEUHTCInput {
	border:1px solid #2596c5;
}
.button_div {
	float:right;
	padding:0 10px 0 0;
}
.formRequested {
	color:#FF0000;
	margin-left:2px;
}
.formButtonTD {
	text-align: center;
}
.formButtonDIV {
	width:100%;
	padding:4px 0 0 0;
	margin:0px;
	border:0px;
	text-align: center;
}
.formButtonTDCenter {
	text-align: center;
}
.formButtonTDRight {
	text-align: right;
}
.formButton {
	outline:none;
	background-color:transparent;
	font-size: 12px;
	background-image: url(../images/button/button_s.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 66px;
	border:0;
/*	line-height: 22px;*/
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0 0 0 4px;
}
.formButtonL {
	font-size: 12px;
	background-image: url(../images/button/button_l.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 105px;
	border:0;
	line-height: 22px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0 2px 0 2px;
}
.bubbleButton {
	background-color:transparent;
	font-size: 12px;
	background-image: url(../images/button/button_gs.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 66px;
	border:0;
	line-height: 22px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0 0 0 4px;
}
.bubbleButtonL {
	font-size: 12px;
	background-image: url(../images/button/button_gl.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 105px;
	border:0;
	line-height: 22px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0 2px 0 2px;
}
.titleButtonImg {
	background-color:transparent;
	font-size: 12px;
	background-image: url(../images/button/button_title.png);
	background-repeat: no-repeat;
	height: 18px;
	width: 69px;
	border:0;
	line-height: 13px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 4px;
	font-weight: normal;
}
.titleButtonImgL {
	background-color:transparent;
	font-size: 12px;
	background-image: url(../images/button/button_title_l.png);
	background-repeat: no-repeat;
	height: 18px;
	width: 100px;
	border:0;
	line-height: 13px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 4px;
	font-weight: normal;
}
.titleButton{
	width:auto;
	background-image:none;
	background-color:transparent;
	font-size: 12px;
	height: 18px;
	border:0;
	line-height: 13px;
	color: #0000cc;
	text-decoration:underline;
	text-align: center;
	vertical-align: middle;
	margin:0;
	font-weight: normal;
	cursor: hand;
}
.finalButton{
	width:69px;
	background-color:transparent;
	background-image: url(../images/button/button_final.png);
	height: 20px;
	border:0;
	line-height: 13px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0;
	font-weight: normal;
	cursor: hand;
	padding:0 0 0 15px;
}
.finalButton4{
	width:80px;
	background-color:transparent;
	background-image: url(../images/button/button_final4.png);
	height: 20px;
	border:0;
	line-height: 13px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0;
	font-weight: normal;
	cursor: hand;
	padding:0 0 0 15px;
}
.trashButton4{
	width:80px;
	background-color:transparent;
	background-image: url(../images/button/button_trash4.png);
	height: 20px;
	border:0;
	line-height: 13px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0;
	font-weight: normal;
	cursor: hand;
	padding:0 0 0 15px;
}
.userAccountButton{
	width:100px;
	background-color:transparent;
	background-image: url(../images/button/button_userAccount.png);
	height: 20px;
	border:0;
	line-height: 13px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0;
	font-weight: normal;
	cursor: hand;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
}
.writeCardButton{
	width:80px;
	background-color:transparent;
	background-image: url(../images/button/button_writeCard.png);
	height: 20px;
	border:0;
	line-height: 13px;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
	margin:0;
	font-weight: normal;
	cursor: hand;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
}
.hideAllButton{
	width:20px;
	background-color:transparent;
	background-image: url(../images/button/button_hideAll.png);
	height: 20px;
	border:0;
	text-align: center;
	vertical-align: middle;
	margin:0;
	cursor: hand;
}
.showAllButton{
	width:20px;
	background-color:transparent;
	background-image: url(../images/button/button_showAll.png);
	height: 20px;
	border:0;
	text-align: center;
	vertical-align: middle;
	margin:0;
	cursor: hand;
}
.addFavButton{
	width:20px;
	background-color:transparent;
	background-image: url(../images/button/button_addFav.png);
	height: 20px;
	border:0;
	text-align: center;
	vertical-align: middle;
	margin:0;
	cursor: hand;
}
.cancelFavButton{
	width:20px;
	background-color:transparent;
	background-image: url(../images/button/button_cancelFav.png);
	height: 20px;
	border:0;
	text-align: center;
	vertical-align: middle;
	margin:0;
	cursor: hand;
}
.collapseImgButtonC {
	background-color:transparent;
	background-image:url(../images/collapse_c.gif);
	background-position: center;
	background-repeat: no-repeat;
	border: none 0px #dddddd;
	width:18px;
	cursor:pointer;
}
.collapseImgButtonS {
	background-color:transparent;
	background-image:url(../images/collapse_s.gif);
	background-position: center;
	background-repeat: no-repeat;
	border: none 0px #dddddd;
	width:18px;
	cursor:pointer;
}
.tableTitleTR1 {
}
.tableTitleTR1 TD {
}
.tableTitle1 {
	background-image:url(../images/u_bg2.gif);
	font-size:16px;
	font-weight:normal;
	height:34px;
	padding:4px 0px 0px 4px;
	vertical-align:middle;
	font-family: "Arial Black", "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
}
.tableTitleLeft1 {
	background-image:url(../images/u_bg2_l.gif);
	border-left:1px solid #CCCCCC;
	font-family: "Arial Black", "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:1px;
	font-weight:normal;
	height:34px;
	vertical-align:middle;
	width:40px;
}
.tableTitleRight1 {
	background-image:url(../images/u_bg2.gif);
	border-right:1px solid #CCCCCC;
	font-family: "Arial Black", "宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:1px;
	font-weight:normal;
	height:34px;
	vertical-align:middle;
	width:6px;
}
.tableTitleTR2 {
}
.tableTitleTR2 TD {
}
.tableTitle_span {
	overflow:hidden; 
	height:20px; 
	line-height:20px;
	color:#2b2b2b;
	font-weight:normal;
}
.tableTitle_span a {
	color:#069;
	margin:0 5px 0 -2px;
}
.tableTitle2 {
	font-family:"宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	padding:0px 0px 2px 4px;
	vertical-align: bottom;
	background-image: url(../images/bg/bg_t4.png);
	background-repeat: no-repeat;
	background-position: right;
	font-weight: bold;
	color: #00577f;
}
.tableTitle2 img {
	vertical-align:middle;
	margin-right:5px;
}
.w100{
	width:100%;
	padding:2px 0 2px 0;
}
.search_title_right {
	position:relative;
	margin-right:5px;
	margin-left:10px;
	text-align:right;
	float:right;
	width:70px;
	font-weight:normal;
}
.search_title_right img{
	vertical-align:middle;}
.search_title_right a {
	vertical-align:middle;
	color:#00577f;
}
.tableTitleLeft2 {
	font-family:"宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:1px;
	font-weight:normal;
	height:24px;
	vertical-align:middle;
	width:5px;
	background-image: url(../images/bg/bg_t1.png);
}
.tableTitleRight2 {
	font-family:"宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:1px;
	font-weight:normal;
	height:24px;
	vertical-align:middle;
	width:5px;
	background-image: url(../images/bg/bg_t6.png);
}
.tableTitleTR3 {
}
.tableTitleTR3 TD {
}
.tableTitle3 {
	background-image:url(../images/u_bg01.gif);
	border:0px #cccccc solid;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	color:#3A3A3A;
	font-weight:bolder;
	height:22px;
	padding:3px 0px 1px 8px;
	text-align:left;
	vertical-align:middle;
	width:100%;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
.tableTitle4 {
	background-image:url(../images/u_bg01.gif);
	border:0px #cccccc solid;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	color:#3A3A3A;
	font-weight:bolder;
	height:22px;
	padding:3px 0px 1px 8px;
	text-align:right;
	vertical-align:middle;
	width:100%;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
.tableTitleLeft3 {
	border:none 0px #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-left:1px solid #CCCCCC;
	background-image:url(../images/u_bg01.gif);
	width:0px;
}
.tableTitleRight3 {
	border:none 0px #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-right:1px solid #CCCCCC;
	background-image:url(../images/u_bg01.gif);
	border-right:1px solid #CCCCCC;
	width:0px;
}
.collapseTitleTR {
}
.collapseTitleTR TD {
}
.collapseTitle {
	border:none 0px #cccccc;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
	background-image:url(../images/u_bg2.gif);
	background-position: 0px -3px;
	font-family:"宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:14px;
	font-weight:normal;
	height:24px;
	padding:0px 0px 1px 4px;
	vertical-align: bottom;
}
.collapseTitleLeft {
	border:none 0px #cccccc;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
	background-image:url(../images/u_bg2_l.gif);
	background-position: -10px -5px;
	border-left:1px solid #CCCCCC;
	font-family:"宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:1px;
	font-weight:normal;
	height:24px;
	vertical-align:middle;
	width:30px;
}
.collapseTitleRight {
	border:none 0px #cccccc;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
	background-image:url(../images/u_bg2.gif);
	background-position: 0px -3px;
	border-right:1px solid #CCCCCC;
	font-family:"宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:1px;
	font-weight:normal;
	height:24px;
	vertical-align:middle;
	width:16px;
}
.collapseTitleRightC {
	border:none 0px #cccccc;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
	background-image:url(../images/u_bg2.gif);
	background-position: 0px -3px;
	border-right:1px solid #CCCCCC;
	font-family:"宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:1px;
	font-weight:normal;
	height:24px;
	vertical-align:middle;
	width:16px;
}
.areaTitleTable {
	width: 100%;
	border: 0px solid #000000;
	margin-bottom: 3px;
}
.areaTitleTable TD {
	border: 0px solid #000000;
	text-align: left;
	vertical-align: bottom;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
.areaTitleLeftTD {
	background-image:url(../images/u_redblock.gif);
	background-repeat: no-repeat;
	background-position: 8px 2px;
	width:30px;
	padding: 0px 0px 0px 8px;
}
.areaTitleMiddleTD {
	font-weight: bold;
	font-size:14px;
	color:#3a3a3a;
	padding: 0px 15px 0px 15px;
	width: 130px;
}
.areaTitleRightTD {
	background-color: #d80000;
	background-image:url(../images/u_red2white.gif);
	background-position: right;
	background-repeat: repeat-y;
	width: 100%;
}
/* ************************** */
/* ************************** */


.waitingBarBox {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:60px;
	z-index:99;
	display:none;
	filter:Alpha(opacity=75);/* -moz-opacity:0.75; */
}
.waitingBar {
	background-color:#e3e9f3;
	width:200px;
	height:60px;
	border:1px solid #335566;
}
.waitingBarTD {
	background-image:url(../images/icon/process.gif);
	background-position: 8px 13px;
	background-repeat: no-repeat;
}
.titleBarBox {
	position:absolute;
	z-index:99;
	padding:0px;
	height:22px;
	border:1px solid #999999;
	background-color:#f0f6ff;
	display:none;
}
.titleBar {
}
.titleBarTD {
	padding:3px 0px 0px 3px;
	background-color: #FFFFE0;
	height:22px;
	width:200px;
}
/* ************************** */
/* ************************** */


.listTableBox {
	background-color: #ffffff;
}
.listTitleDIV {
	border: 0px solid #cccccc;
	width:100%;
	padding:0px;
	margin:0px;
	text-align: center;
	vertical-align: bottom;
	font-family:"宋体", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:14px;
	font-weight: bold;
}
.listTable {
	border:0px #ff00ff solid;
	padding:0px;
	margin:0px;
	border-collapse: collapse;
	width:100%;
}
.listTable TD {
	border:1px #d6d6d6 solid;
	padding:0 2px 0 2px;
	height:25px;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
	overflow:hidden;
}
.listTableHead TD {
	background-image: url(../images/table_title_bg.png);
	height: 25px;
	font-size:12px;
	line-height: 25px;
	color: #2b2b2b;
	text-align: center;
}
.listTableRow TD {
	background-color: #ffffff;
/*	color:#3A3A3A;
	height:24px;
	padding-left:3px;
	vertical-align:middle;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;*/
}
.listTableRowDark TD {
	background-color: #f6f6f6;
/*	color:#3A3A3A;
	height:24px;
	padding-left:3px;
	vertical-align:middle;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;*/
}
.listTableRowLight TD {
	background-color: #ddeeff;
	color:#3A3A3A;
	height:24px;
	padding-left:3px;
	vertical-align:middle;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
.listTableRowSelected TD {
	background-color: #ffeedd;
	color:#3A3A3A;
	height:24px;
	padding-left:3px;
	vertical-align:middle;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
.listTableHeadSimple TD {
	background-color: #e6e7e6;
	border:1px #cccccc solid;
	color:#3A3A3A;
	font-weight: normal;
	height:24px;
	padding:3px 0px 1px 2px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
.pageNavTable {
	border-width:0px;
	color:#000000;
	height:22px;
	margin:0px;
	padding:0px;
}
.pageNavTable TD {
	border-width:0px;
	height:22px;
	margin:0px;
	padding:0px;
	padding-left:3px;
	vertical-align:middle;
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
/* ************************** */
/* ************************** */

.alignLeft {
	text-align:center;
}
.alignCenter {
	text-align:center;
}
.alignRight {
	text-align:center;
}
.readOnly {
	border:1px solid #eeeeee;
}
.ellipsis {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.breakLine {
	white-space:normal;
	word-break:normal;
	word-wrap:normal;
}
.breakLine TD {
	white-space:normal;
	word-break:normal;
	word-wrap:normal;
}
.breakAllLine {
	white-space:normal;
	word-wrap:break-word;
	word-break:break-all;
}
.breakAllLine TD {
	white-space:normal;
	word-wrap:break-word;
	word-break:break-all;
}
.noBreakLine {
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
.noBreakLine TD {
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
}
.noScrolling {
	overflow: hidden;
}
.noScrollingX {
	overflow-x: hidden;
}
.noScrollingY {
	overflow-y: hidden;
}
.noIme {
	ime-mode:disabled;
}
.autoWidth {
	width: auto;
}
.wideWidth {
	width:98%;
}
DIV.ellipsis {
	text-align:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color:#3a3a3a;
	width: 100%;
}
/* ************************** */
/* ************************** */
.tableLevel2 {
	border-collapse:collapse;
	border:1px solid #c2ddff;
	background-color:#fff;
	margin:4px 0 4px 0;
}
.tl2_title {
	line-height: 22px;
	background-image: url(../images/headerBg.png);
	height: 22px;
	color:#2b2b2b;
	padding:0 0 0 5px;
	border-bottom:1px solid #c2ddff;
}
.tl2_title img {
	vertical-align:middle;
	margin-right:5px;
}
.button_center {
	text-align:center;
	line-height:30px;
	height:30px;
}
.batch_div{
	color:#2b2b2b;
	padding:0 0 0 14px;}
.batch_div img{
	vertical-align:middle;
}
.user_name{
	font-weight:normal;}
.tl2_content td{
	line-height:20px;}
.user_info_line td{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #d6d6d6;
}
/*bubble style*/
.bubble_div{
	position: absolute;
	z-index:100;
	right:-12px;
    top:17px;
}
.b_tl{
	background-image: url(../images/bg/bubble/b_tl.png);
	height: 10px;
	width: 6px;
}
.b_t{
	background-image: url(../images/bg/bubble/b_t.png);
	background-repeat: no-repeat;
	background-position: right;
}
.b_tr{
	background-image: url(../images/bg/bubble/b_tr.png);
	height: 10px;
	width: 6px;
}
.b_l{
	background-image: url(../images/bg/bubble/b_l.png);
	background-repeat:no-repeat;
	height: 68px;
	width: 6px;
	background-position: bottom;
}
.b_bl{
	background-image: url(../images/bg/bubble/b_bl.png);
	height: 7px;
	width: 6px;
}
.b_c{
	background-color: #f6faff;
	word-wrap:break-word; 
	word-spacing:normal;
	padding:5px;
}
.b_b_l{
	background-image: url(../images/bg/bubble/b_b_l.png);
	background-repeat:no-repeat;
	height: 7px;
	width: 75px;
	background-position: left;
}
.b_b{
	background-image: url(../images/bg/bubble/b_b.png);
}
.b_b_r{
	background-image: url(../images/bg/bubble/b_b_r.png);
	height: 7px;
	width: 75px;
	background-repeat: no-repeat;
	background-position: right;
}
.b_br{
	background-image: url(../images/bg/bubble/b_br.png);
}
.b_r{
	background-image: url(../images/bg/bubble/b_r.png);
	background-repeat:no-repeat;
	height: 68px;
	width: 6px;
	background-position: bottom;
}
#scrollUp{
	top: expression(offsetParent.scrollTop + 300);
	position: absolute;
	bottom:250px;
	right:10px;
	background-color: transparent;
	background-image: url(../images/scrollUp.png);
	background-position: 0 0;
	height: 25px;
	width: 25px;
	cursor:hand;
}
#scrollDown{
	top: expression(offsetParent.scrollTop + 330);
	position: absolute;
	bottom:220px;
	right:10px;
	background-color: transparent;
	background-image: url(../images/scrollDown.png);
	background-position: 0 0;
	height: 25px;
	width: 25px;
	cursor:hand;
}
/* bubble style finish */
/*bubble-right style*/
.bubbleRight_div{
	position: absolute;
	z-index:110;
	right:35px;
	top: expression(offsetParent.scrollTop + 212);
}
.br_tl{
	background-image: url(../images/bg/bubble/br_tl.png);
	height: 7px;
	width: 7px;
}
.br_t{
	background-image: url(../images/bg/bubble/br_t.png);
	background-repeat: no-repeat;
	background-position: left;
}
.br_tr{
	background-image: url(../images/bg/bubble/br_tr.png);
	height: 7px;
	width: 10px;
}
.br_l_t{
	background-image: url(../images/bg/bubble/br_l_t.png);
	background-repeat:no-repeat;
	width: 7px;
	background-position: top;
}
.br_l_b{
	background-image: url(../images/bg/bubble/br_l_b.png);
	background-repeat:no-repeat;
	width: 7px;
	background-position: bottom;
}
.br_bl{
	background-image: url(../images/bg/bubble/br_bl.png);
	height: 7px;
	width: 7px;
}
.br_c{
	background-color: #fff;
	word-wrap:break-word; 
	word-spacing:normal;
	padding:5px;
	vertical-align:top;
}
.br_c a{
	margin:0 10px 0 20px;
	height:35px;
	vertical-align:middle;
}
.br_b{
	background-image: url(../images/bg/bubble/br_b.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 7px;
}
.br_br{
	background-image: url(../images/bg/bubble/br_br.png);
	height: 7px;
	width: 10px;
}
.br_r{
	background-image: url(../images/bg/bubble/br_r.png);
	background-repeat:no-repeat;
	width: 10px;
	background-position: top;
}
#floatRightButton{
	position: absolute;
	top: expression(offsetParent.scrollTop + 250);
	right:10px;
	background-color: transparent;
	background-image: url(../images/button/floatRight_button.png);
	background-position: 0 0;
	height: 24px;
	width: 24px;
	cursor:hand;
}
/* bubble-right style finish */
/*zhu guojun add*/
.checking_title {
	margin:5px;
	text-align:left;
}
.checking_div {
	width:300px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8cbeef;
	border-right-color: #8cbeef;
	border-bottom-color: #8cbeef;
	border-left-color: #8cbeef;
	padding:3px;
	text-align:center;
	background-color:#FFF;
}
.checking_div_title {
	height:20px;
	background-color:#8cbeef;
	color:#fff;
	text-align:left;
	padding:0 0 0 5px;
}
.tooltip-wrapper {
	font: 12px/ 1.5 tahoma, arial, 宋体;
	padding-bottom: 5px;
	width: auto;
	clear: both;
	overflow: visible;
	background-color: #fff;
	background-image: url(../images/block_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #8cbeef;
	margin-top: 5px;
	margin-bottom: 5px;
}
.tooltip-title {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	/*position: relative; */
	height: 18px;
}
.tooltip-title-text {
	margin-left: 10px;
	height: 18px;
	line-height: 18px;
	color: #104173;
}
.tooltip-content {
	width: auto;
	border: 1px solid #8cbeef;
	padding: 10px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
/*zhu guojun add finish*/

.step_content{
	height:28px;
	width:100%;
}
.step_title_left{
	margin:4px 0 0 0;
	font-size:13px;
	color:#1283af;
	font-weight:bold;
}
.step_title_left img{
	vertical-align:middle;
	margin:0 4px 0 4px;
}
.2b{
	color:#2b2b2b;
	margin:0 2px 0 2px;
}
.step_div{
	width:400px;
	float:right;
	height:26px;
}
.step_b{
	float:right;
	background-image: url(../images/bg/step/step_bg_b.png);
	height: 26px;
	width: 100px;
	color:#1283af;
	font-size:12px;
	text-align:center;
	line-height:26px;
	margin-left:-13px;
}
.step_o{
	float:right;
	background-image: url(../images/bg/step/step_bg_o.png);
	height: 26px;
	width: 100px;
	color:#2b2b2b;
	font-size:12px;
	text-align:center;
	line-height:26px;
	margin-left:-13px;
}
.step_g{
	float:right;
	background-image: url(../images/bg/step/step_bg_g.png);
	height: 26px;
	width: 100px;
	color:#2b2b2b;
	font-size:12px;
	text-align:center;
	line-height:26px;
	margin-left:-13px;
}
.step_be{
	float:right;
	background-image: url(../images/bg/step/step_bg_be.png);
	height: 26px;
	width: 100px;
	color:#1283af;
	font-size:12px;
	text-align:center;
	line-height:26px;
	margin-left:-13px;
}
.step_oe{
	float:right;
	background-image: url(../images/bg/step/step_bg_oe.png);
	height: 26px;
	width: 100px;
	color:#2b2b2b;
	font-size:12px;
	text-align:center;
	line-height:26px;
	margin-left:-13px;
}
.step_ge{
	float:right;
	background-image: url(../images/bg/step/step_bg_ge.png);
	height: 26px;
	width: 100px;
	color:#2b2b2b;
	font-size:12px;
	text-align:center;
	line-height:26px;
	margin-left:-13px;
}
.add_button{
	background-color: transparent;
	background-image: url(../images/button/add_button.png);
	height: 18px;
	width: 18px;
	cursor:hand;
}
.reduce_button{
	background-color: transparent;
	background-image: url(../images/button/reduce_button.png);
	height: 18px;
	width: 18px;
	cursor:hand;
}