<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="true" default-autowire="byName">

	<import resource="classpath:conf/applicationContext-db.xml" />
	
	<import resource="classpath:conf/applicationContext-ibatis2.xml" />
	
	<import resource="classpath:conf/applicationContext-bl.xml" />

</beans>