<div class='buscard-root' style='display: block;'>
	<form onsubmit="return false;">
		<div class='buscard-legend'>
			<span class='buscard-legend-img'></span>
			<span class='buscard-legend-text' id='prodoffer-name'>高级查询</span>
		</div>
		<div class='buscard-content'>
			<div class='buscard-row'>
				<span>产品大类</span>
				<span> <select id='prodbigkind'
						dojoAttachEvent='onchange:elementchange'
						dojoAttachTopic='/prodBigKid'>
						<option value='-1'>
							不区分
						</option>
					</select> </span>
				<span>产&nbsp;&nbsp;&nbsp;&nbsp;品</span>
				<span> <select id='prod'
						dojoAttachEvent='onchange:elementchange'
						dojoAttachTopic='/prodAdvance'>
						<option value='-1'>
							不区分
						</option>
					</select> </span>
			</div>
			<div class='buscard-row'>
				<span>用户类型</span>
				<span> <select id='userType'>
						<option value='-1'>
							不区分
						</option>
					</select> </span>
				<span>接入方式</span>
				<span> <select id='accessMode'>
						<option value='-1'>
							不区分
						</option>
					</select> </span>
			</div>
			<div class='buscard-row'>
				<span>带&nbsp;&nbsp;&nbsp;&nbsp;宽</span>
				<span> <select id='bandwidth'>
						<option value='-1'>
							不区分
						</option>
					</select> </span>
				<span>包年周期</span>
				<span> <select id='cycleYear'>
						<option value='-1'>
							不区分
						</option>
					</select> </span>
			</div>
		</div>
		<div style='text-align: center; vertical-align: middle'>
			<button class='formButton' dojoAttachEvent='onclick:elementclick'
				dojoAttachTopic='/advancesearch' 
				style='text-align: center; vertical-align: middle; cursor: pointer;'>
				确定
			</button>
			<input type='reset' class='formButton' name='重置' style="cursor: pointer;" />
		</div>
	</form>
</div>