<ul class="sidebar-menu">
	<li class="treeview"><a href="javascript:void(0);"> <i
			class="fa fa-lock"></i> <span showText=1>权限管理</span> <i
			class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
			<li><a href="javascript:void(0);"><i class="fa fa-circle-o"></i><span
					showText=1>人员管理</span><i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
					<li><a href="javascript:void(0);"
						ng-click="menuClick($event,'/om/employee/dealEmployee')"><i
							class="fa fa-circle-o"></i><span showText=9>人员管理22</span></a></li>
				</ul></li>
		</ul></li>
	<li class="treeview"><a href="javascript:void(0);"> <i
			class="fa fa-graduation-cap"></i> <span showText=1>组件Demo</span> <i
			class="fa fa-angle-left pull-right"></i></a>
	<ul class="treeview-menu">
			<li><a href="javascript:void(0);"
				ng-click="menuClick($event,'/demo/tips/demo2')"><i
					class="fa fa-circle-o"></i><span showText=9>tips Demo2</span></a></li>
		</ul></li>
</ul>