<?xml version="1.0" encoding="UTF-8"?>
<!--a  edited with XML Spy v4.3 U (http://www.xmlspy.com) by User (User)  a-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>quartz applicationContext pool</description>

	<bean id="forceQuitCronJob1"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.demojob.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool1" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger1"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob1" />
		<property name="group" value="froceQuitThreadPool1" />
		<property name="name" value="orderReserveTrigger1" />
		<property name="cronExpression" value="1/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler1"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		
		<property name="autoStartup" value="false" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz-tddemo.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger1" />
			</list>
		</property>
		<property name="schedulerName" value="froceQuitStdScheduler1"/>
	</bean>
<!-- 
	<bean id="forceQuitCronJob2"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool2" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger2"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob2" />
		<property name="group" value="froceQuitThreadPool2" />
		<property name="name" value="orderReserveTrigger2" />
		<property name="cronExpression" value="2/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler2"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config2.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger2" />
			</list>
		</property>
	</bean>
	
	<bean id="forceQuitCronJob3"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool3" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger3"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob3" />
		<property name="group" value="froceQuitThreadPool3" />
		<property name="name" value="orderReserveTrigger3" />
		<property name="cronExpression" value="3/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler3"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config3.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger3" />
			</list>
		</property>
	</bean>
	
	<bean id="forceQuitCronJob4"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool4" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger4"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob4" />
		<property name="group" value="froceQuitThreadPool4" />
		<property name="name" value="orderReserveTrigger4" />
		<property name="cronExpression" value="4/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler4"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config4.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger4" />
			</list>
		</property>
	</bean>
	
	<bean id="forceQuitCronJob5"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool5" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger5"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob5" />
		<property name="group" value="froceQuitThreadPool5" />
		<property name="name" value="orderReserveTrigger5" />
		<property name="cronExpression" value="5/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler5"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config5.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger5" />
			</list>
		</property>
	</bean>
	
	<bean id="forceQuitCronJob6"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool6" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger6"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob6" />
		<property name="group" value="froceQuitThreadPool6" />
		<property name="name" value="orderReserveTrigger6" />
		<property name="cronExpression" value="6/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler6"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config6.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger6" />
			</list>
		</property>
	</bean>
	
	<bean id="forceQuitCronJob7"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool7" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger7"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob7" />
		<property name="group" value="froceQuitThreadPool7" />
		<property name="name" value="orderReserveTrigger7" />
		<property name="cronExpression" value="7/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler7"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config7.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger7" />
			</list>
		</property>
	</bean>
	
	<bean id="forceQuitCronJob8"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool8" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger8"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob8" />
		<property name="group" value="froceQuitThreadPool8" />
		<property name="name" value="orderReserveTrigger8" />
		<property name="cronExpression" value="8/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler8"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config8.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger8" />
			</list>
		</property>
	</bean>
	
	<bean id="forceQuitCronJob9"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool9" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger9"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob9" />
		<property name="group" value="froceQuitThreadPool9" />
		<property name="name" value="orderReserveTrigger9" />
		<property name="cronExpression" value="9/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler9"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config9.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger9" />
			</list>
		</property>
	</bean>
	
	<bean id="forceQuitCronJob10"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool10" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger10"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob10" />
		<property name="group" value="froceQuitThreadPool10" />
		<property name="name" value="orderReserveTrigger10" />
		<property name="cronExpression" value="10/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler10"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config10.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger10" />
			</list>
		</property>
	</bean>
		
	<bean id="forceQuitCronJob11"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.neusoft.tdframework.quartz.forcequit.ForceQuitCronJob" />
		<property name="group" value="froceQuitThreadPool11" />
		<property name="durability" value="true" />
	</bean>
	<bean id="forceQuitCronTrigger11"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="forceQuitCronJob11" />
		<property name="group" value="froceQuitThreadPool11" />
		<property name="name" value="orderReserveTrigger11" />
		<property name="cronExpression" value="11/5 * * * * ?" />
	</bean>

	<bean id="froceQuitStdScheduler11"
		class="com.neusoft.tdframework.quartz.scheduler.TdSchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="crmB_dataSource" />
		</property>
		<property name="schedulerListeners">
			<list>
				<ref bean="notifySchedulerListener" />
			</list>
		</property>
		<property name="globalJobListeners">
			<list>
				<ref bean="notifyJobListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="notifyTriggerListener" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
		<property name="configLocation"
			value="classpath:quartz_config/forcequit/quartz_config11.properties" />
		<property name="startupDelay" value="5" />
		<property name="overwriteExistingJobs" value="false" />
		<property name="triggers">
			<list>
				<ref bean="forceQuitCronTrigger11" />
			</list>
		</property>
	</bean>
 -->
</beans>
